Repository xitu/gold-miner, pull requests merged in 2018-12, with the labels that each got.

#4770 使用 NodeJS 创建一个 GraphQL 服务器
  TODO1/creating-a-graphql-server-with-nodejs.md
Labels: 后端, 标注, 正在校对

#4790 以太坊入门：互联网政府
  TODO1/introduction-to-ethereum-the-internets-government.md
Labels: 区块链, 校对认领, 正在校对

#4779 使用 Kotlin 将你的 iOS 应用程序转换为 Android
  TODO1/converting-your-ios-app-to-android-using-kotlin.md
Labels: iOS, 标注, 正在校对

#4771 使用 Swift 的 iOS 设计模式（第一部分）
  TODO1/design-patterns-on-ios-using-swift-part-1-2.md
Labels: iOS, 翻译完成

#4783 写给 React 开发者的自定义元素指南
  TODO1/a-guide-to-custom-elements-for-react-developers.md
Labels: 前端, 标注, 正在校对

#4789 通过集成学习提高机器学习效果
  TODO1/ensemble-learning-to-improve-machine-learning-results.md
Labels: AI, 标注, 正在校对

#4795 构建软件：简介
  TODO1/composing-software-an-introduction.md
Labels: 前端, 标注, 正在校对

#4794 Google Colab 免费 GPU 使用教程
  TODO1/google-colab-free-gpu-tutorial.md
Labels: AI, 校对认领, 正在校对

#4793 鲜为人知的数据科学 Python 库
  TODO1/python-libraries-for-data-science-other-than-pandas-and-numpy.md
Labels: AI, 标注, 正在校对

#4810 使用 Flutter，Material Theming 和官方材质组件（MDC）构建美观，灵活的用户界面
  TODO1/building-beautiful-flexible-user-interfaces-with-flutter-material-theming-and-official-material.md
Labels: Android, 标注, 校对认领, 正在校对

#4808 React 是如何区分 Class 和 Function 的 ?
  TODO1/how-does-react-tell-a-class-from-a-function.md
Labels: enhancement, 前端, 正在校对

#4782 转向三人工程小组
  TODO1/moving-to-three-person-engineering-teams.md
Labels: enhancement, 其他, 正在校对

#4802 Kotlin 协程高级使用技巧
  TODO1/coroutines-snags.md
Labels: Android, 标注, 正在校对

#4823 使用Capacitor 和 Vue.js 构建移动应用
  TODO1/mobile-apps-capacitor-vue-js.md
Labels: 前端, 标注, 正在校对

#4828 同时使用多个相机流
  TODO1/using-multiple-camera-streams-simultaneously.md
Labels: Android, Google, 标注, 正在校对

#4816 理解编译器 — 从人类的角度（版本 2）
  TODO1/understanding-compilers-for-humans-version-2.md
Labels: 其他, 标注, 正在校对

#4832 怎么做：React Native 网页应用，一场开心的挣扎
  TODO1/how-to-react-native-web-app-a-happy-struggle.md
Labels: 前端, 标注, 正在校对

#4807 支持向量机（SVM） 教程
  TODO1/support-vector-machines-tutorial.md
Labels: AI, 标注, 正在校对

#4821 被遗忘的面向对象编程史（软件编写）（第十六部分）
  TODO1/the-forgotten-history-of-oop.md
Labels: 前端, 标注

#4825 MDC-101 Flutter：Material Components（MDC）基础（Flutter）
  TODO1/mdc-101-flutter.md
Labels: Android, 标注

#4826 用 Shadow DOM v1 和 Custom Elements v1 实现一个原生 Web Component
  TODO1/native-web-components.md
Labels: 前端, 延期啦，大大们赶紧哒, 标注, 正在校对

#4831 了解 Android 的矢量图片格式：`VectorDrawable`
  TODO1/understanding-androids-vector-image-format-vectordrawable.md
Labels: Android, 标注, 正在校对

#4836 如何在六个月或更短的时间内成为 DevOps 工程师，第四部分：打包
  TODO1/how-to-become-a-devops-engineer-in-six-months-or-less-part-4-package.md
Labels: 后端, 标注, 正在校对

#4850 Android 内核控制流完整性
  TODO1/control-flow-integrity-in-android-kernel.md
Labels: Android, Google, 标注, 校对认领, 正在校对

#4834 使用 GRAPHQL 构建项目的回顾
  TODO1/graphql-a-retrospective.md
Labels: 前端, 标注, 正在校对

#4847 柯里化与函数组合
  TODO1/curry-and-function-composition.md
Labels: 前端, 标注, 正在校对

#4852 以太坊入门指南
  TODO1/a-beginners-guide-to-ethereum.md
Labels: 区块链, 标注, 正在校对

#4849 时间序列异常检测算法
  TODO1/time-series-anomaly-detection-algorithms.md
Labels: AI, enhancement, 标注, 正在校对

#4851 被污染的 npm 包：event-stream
  TODO1/compromised-npm-package-event-stream.md
Labels: 前端, 标注, 正在校对

#4840 如何使用 Dask Dataframes 在 Python 中运行并行数据分析
  TODO1/trying-out-dask-dataframes-in-python-for-fast-data-analysis-in-parallel.md
Labels: AI, enhancement, 正在校对

#4880 用 React 和 Node.js 实现受保护的路由和权限验证
  TODO1/protected-routes-and-authentication-with-react-and-node-js.md
Labels: 后端, 标注, 正在校对

#4855 用 Flask 和 Vue.js 开发一个单页面应用
  TODO1/developing-a-single-page-app-with-flask-and-vuejs.md
Labels: 前端, 校对认领

#4874 继承 JavaScript 类中的静态属性
  TODO1/static-properties-in-javascript-with-inheritance.md
Labels: 前端, 标注, 正在校对

#4877 使用自定义文件模板加快你的应用开发速度
  TODO1/supercharging-your-app-development-speed-with-custom-file-templates.md
Labels: Android, 标注, 正在校对

#4882 理解 React Render Props 和 HOC
  TODO1/understanding-react-render-props-and-hoc.md
Labels: 前端, 标注, 正在校对

#4887 创建并发布一个小而美的 npm 包
  TODO1/how-to-make-a-beautiful-tiny-npm-package-and-publish-it.md
Labels: 前端, 标注, 正在校对

#4869 我无法想象没有 Git 别名的的场景
  TODO1/git-aliases-i-cant-live-without.md
Labels: 其他, 标注, 正在校对

#4875 误解 ES6 模块，升级 Babel 的一个解决方案（泪奔）
  TODO1/misunderstanding-es6-modules-upgrading-babel-tears-and-a-solution.md
Labels: 前端, 标注, 正在校对

#4890 MDC-102 Flutter：Material 结构和布局（Flutter）
  TODO1/mdc-102-flutter.md
Labels: Android, 标注, 正在校对

#4898 5 款工具助力 React 快速开发
  TODO1/5-tools-for-faster-development-in-react.md
Labels: 前端, 标注, 正在校对

#4881 无容器下的云计算
  TODO1/cloud-computing-without-containers.md
Labels: 后端, 翻译完成

#4883 快速原型设计的新手指南
  TODO1/a-beginners-guide-to-rapid-prototyping.md
Labels: 标注, 正在校对, 设计

#4904 2019 年你应该要知道的 11 个 React UI 组件库
  TODO1/11-react-component-libraries-you-should-know.md
Labels: 前端, 标注, 正在校对

#4900 渐进增强的含义及意义
  TODO1/what-is-progressive-enhancement-and-why-it-matters.md
Labels: DONE, 前端, 正在校对
