Repository xitu/gold-miner, pull requests merged in 2018-02, with the labels that each got.

#3231 v3.1.0：大幅性能提升并支持服务端流式渲染
  TODO/v3-1-0-such-perf-wow-many-streams.md
Labels: 前端, 正在校对

#3215 如果你想让用户回来，为什么前十分钟是至关重要的？
  TODO/why-the-first-ten-minutes-is-crucial-if-you-want-to-keep-players-coming-back-to-your-mobile-game.md
Labels: Google, 产品, 正在校对

#3263 教你使用 CSS 计数器
  TODO/using-css-counters.md
Labels: 前端, 正在校对

#3114 使用 Rust 开发一个简单的 Web 应用，第 2a 部分
  TODO/a-simple-web-app-in-rust-pt-2a.md
Labels: 后端, 校对认领

#3152 使用 Rust 开发一个简单的 Web 应用，第 2b 部分
  TODO/a-simple-web-app-in-rust-pt-2b.md
Labels: 后端, 校对认领

#3208 Facebook 的 AI 万金油：StarSpace 神经网络模型简介
  TODO/the-introduction-of-starspace.md
Labels: AI, 正在校对

#3248 自主权身份简介
  TODO/a-gentle-introduction-to-self-sovereign-identity.md
Labels: 区块链, 正在校对

#3273 也谈 React 16.3(.0-alpha)
  TODO/whats-new-in-react-16-3.md
Labels: 前端, 正在校对

#3238 标准包布局
  TODO/standard-package-layout.md
Labels: 后端, 正在校对

#3258 使用 SVG 符号和 CSS 变量实现多彩图标
  TODO/lets-make-your-svg-symbol-icons-multi-colored-with-css-variables.md
Labels: 前端, 正在校对

#3280 从 SQLite 逐步迁移到 Room
  TODO/incrementally-migrate-from-sqlite-to-room.md
Labels: Android, 正在校对

#3291 CSS Grid 之列宽自适应：`auto-fill` vs `auto-fit`
  TODO/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit.md
Labels: 前端, 正在校对

#3188 使用 Rust 开发一个简单的 Web 应用，第 3 部分 —— 整合
  TODO/a-simple-web-app-in-rust-pt-3.md
Labels: 后端, 校对认领, 正在校对

#3247 使用 Rust 开发一个简单的 Web 应用，第 4 部分 —— CLI 选项解析
  TODO/a-simple-web-app-in-rust-pt-4-cli-option-parsing.md
Labels: 后端, 校对认领

#3286 在 Swift playground 中编写单元测试
  TODO/writing-unit-tests-in-a-swift-playground.md
Labels: iOS, 校对认领, 正在校对

#3278 JavaScript 工作原理：Web Worker 的内部构造以及 5 种你应当使用它的场景
  TODO/how-javascript-works-the-building-blocks-of-web-workers-5-cases-when-you-should-use-them.md
Labels: 前端, 正在校对

#3274 用 Java 创造你的第一个区块链，第一部分
  TODO/create-simple-blockchain-java-tutorial-from-scratch.md
Labels: 区块链, 正在校对

#3275 使用 leanback 的 DiffCallback：和 DiffUtil 回调之间的区别
  TODO/using-leanbacks-diffcallback.md
Labels: Android, Google, 正在校对

#3311 通过 Quick 和 Nimble 在 Swift 中进行测试驱动开发
  TODO/tdd-quick-nimble.md
Labels: iOS, 正在校对

#3284 json — JavaScript 对象表示法
  TODO/json-javascript-object-notation.md
Labels: 前端, 正在校对

#3287 用 Java 创造你的第一个区块链之第二部分 — 交易
  TODO/creating-your-first-blockchain-with-java-part-2-transactions.md
Labels: 区块链, 正在校对

#3307 为什么你的 APP 在 Sketch 上看起来更好：探索 Sketch 和 iOS 的渲染差异
  TODO/why-your-app-looks-better-in-sketch.md
Labels: iOS, 正在校对

#3281 一份为 Node.js 应用准备的 Dockerfile 指南
  TODO/an-exhaustive-guide-to-writing-dockerfiles-for-node-js-web-apps.md
Labels: 前端, 标注, 正在校对

#3319 利用 Android 构建 TV 的未来
  TODO/building-for-the-future-of-tv-with-android.md
Labels: Android, Google, 正在校对

#3211 是谁在玩手机游戏？
  TODO/who-plays-mobile-games.md
Labels: Google, 产品, 正在校对

#3285 使用 MVI 开发响应式 APP — 第三部分 — 状态折叠器（state reducer）
  TODO/mosby3-mvi-3.md
Labels: Android, 翻译完成

#3261 二十年后比特币会变成什么样？— 第二部分
  TODO/what-will-bitcoin-look-like-in-twenty-years-2.md
Labels: 区块链, 正在校对

#3321 关于 Promise 的 9 个提示
  TODO/promising-promise-tips.md
Labels: 前端, 正在校对

#3303 Subject 和 Observable + Observer 的混淆指北[ Android RxJava2 ] ( 这什么鬼系列 ) 第八话
  TODO/confusion-subject-observable-observer-android-rxjava2-hell-part8.md
Labels: Android, 翻译完成
