Repository xitu/gold-miner, pull requests merged in 2018-03, with the labels that each got.

#3328 Service workers：Progressive Web Apps 背后的小英雄
  TODO/service-workers-the-little-heroes-behind-progressive-web-apps.md
Labels: 前端, 正在校对

#3326 在 V8 引擎中设置原型（prototypes）
  TODO/setting-up-prototypes-in-v8.md
Labels: 前端, 正在校对

#3282 20 年后比特币将会变成什么样 - 第 3 部分
  TODO/what-will-bitcoin-look-like-in-twenty-years-3.md
Labels: 区块链, 正在校对

#3370 测试 React & Redux 应用良心指南
  .gitignore
  TODO/genuine-guide-to-testing-react-redux-applications.md
Labels: 前端, 正在校对

#3317 避免 Swift 单元测试中的强制解析
  TODO/avoiding-force-unwrapping-in-swift-unit-tests.md
Labels: iOS, 正在校对

#3361 使用 MODEL-VIEW-INTENT 第四部分 — 独立 UI 组件
  TODO/mosby3-mvi-4.md
Labels: Android, 正在校对

#3288 用户账户、授权和密码管理的 12 个最佳方法
  TODO/12-best-practices-for-user-account.md
Labels: 后端, 正在校对

#3369 Flutter — 五个你会爱上它的原因
  TODO/flutter-5-reasons-why-you-may-love-it.md
Labels: Android, 校对认领, 正在校对

#3327 工作量证明 vs 权益证明：基本挖矿指南
  TODO/proof-of-work-vs-proof-of-stake.md
Labels: 区块链, 正在校对

#3364 为你的 React 应用制作 SVG 图标库
  TODO/making-svg-icon-libraries-for-react-apps
Labels: 前端, 正在校对

#3366 将项目迁移到 Python 3
  TODO/moving-a-large-and-old-codebase-to-python3.md
Labels: 后端, 正在校对

#3371 如何在中国使用 Flutter
  TODO/Using-Flutter-in-China.md
Labels: Android, 正在校对

#3393 function.caller 被认为是有害的
  TODO/function-caller-considered-harmful.md
Labels: 前端, 翻译完成

#3368 Express.js 与 AWS Lambda  —  一场关于 serverless 的爱情故事
  TODO/express-js-and-aws-lambda-a-serverless-love-story.md
Labels: 后端, 正在校对

#3386 TypeScript：拥有超能力的 JavaScript
  TODO/typescript-javascript-with-super-powers.md
Labels: 前端, 正在校对

#3401 开始设计动画的九个步骤
  TODO/motion-in-ux-design-9-points-to-get-started.md
Labels: 前端, 正在校对

#3373 带你了解以太坊第2层扩容方案：状态通道（state channels）、plasma 和 truebit
  TODO/making-sense-of-ethereums-layer-2-scaling-solutions-state-channels-plasma-and-truebit.md
Labels: 区块链, 正在校对

#3390 2018 如何玩转 JavaScript
  TODO/how-to-javascript-in-2018.md
Labels: 前端, 正在校对

#3372 React 应用中 “神奇” 的多态—性能隐患
  TODO/surprising-polymorphism-in-react-applications.md
Labels: 前端, 正在校对

#3406 设计研究的 9 条规则
  TODO/the-9-rules-of-design-research.md
Labels: 校对认领, 正在校对, 设计

#3347 产品设计的环状循环
  TODO/the-circle-of-product-design.md
Labels: 正在校对, 设计

#3356 Python 是解决任何问题的完美工具
  TODO/python-is-the-perfect-tool-for-any-problem.md
Labels: 后端, 正在校对

#3362 在 Android Instant App（安卓即时应用程序）中启用 ProGuard（混淆）
  TODO/enabling-proguard-in-an-android-instant-app.md
Labels: Android, Google, 校对认领, 正在校对

#3375 Typescript : 类 vs 接口
  TODO/typescript-class-vs-interface.md
Labels: 前端, 正在校对

#3358 第三方 SDK 的信任问题
  TODO/trusting-sdks.md
Labels: Android, 校对认领, 正在校对

#3407 使用 Web3 和 Vue.js 来创建你的第一个以太坊 dAPP（第一部分）
  TODO/create-your-first-ethereum-dapp-with-web3-and-vue-js.md
Labels: 区块链, 正在校对

#3410 GraphQL API 设计最佳实践
  TODO/best-practices-in-designing-graphql-apis.md
Labels: 后端, 正在校对

#3417 用 Flutter 开发你的第一个应用程序
  TODO/develop-your-first-application-with-flutter.md
Labels: Android, 正在校对

#3443 用 Python 做一个 H5 游戏机器人
  TODO/creating-an-html5-game-bot-using-python.md
Labels: 后端, 正在校对

#3433 斐波那契数列中的偶数（Python vs. JavaScript）
  TODO/even-fibonacci-numbers-python-vs-javascript.md
Labels: 前端, 后端, 正在校对

#3452 校对
  TODO/audio-focus-3.md
Labels: 校对认领

#3451 校对
  TODO/audio-focus-2.md
Labels: 校对认领

#3450 校对
  TODO/audio-focus-1.md
Labels: 校对认领

#3432 建立一个像科幻小说一样的虚拟世界：设计一个全球性的虚拟世界
  TODO/building-a-virtual-world-worthy-of-sci-fi.md
Labels: Android, Google, 正在校对

#3456 如何修改域名来提高国际增长率
  TODO/how-switching-our-domain-structure-unlocked-international-growth.md
Labels: 其他, 正在校对

#3436 iOS App 上一种灵活的路由方式
  TODO/the-flexible-routing-approach-in-an-ios-app.md
Labels: iOS, 正在校对

#3414 使用 MVI 编写响应式 APP — 第 5 部分 — 简单的调试
  TODO/mosby3-mvi-5.md
Labels: Android, 标注, 正在校对

#3438 做好准备：新的 V8 即将到来，Node.js 的性能正在改变。
  TODO/get-ready-a-new-v8-is-coming-node-js-performance-is-changing.md
Labels: 前端, 标注, 正在校对

#3415 为 Python Web App 编写 Dockerfiles
  TODO/how-to-write-dockerfiles-for-python-web-apps.md
Labels: 后端, 正在校对

#3475 Google Play 控制台指南
  TODO/a-guide-to-the-google-play-console.md
Labels: Android, Google, 正在校对

#3484 不要害怕 Rebase
  TODO/dont-fear-the-rebase.md
Labels: 前端, 正在校对

#3473 网站优化初学者指南
  TODO/a-beginners-guide-to-website-optimization.md
Labels: 前端, 正在校对

#3478 TypeScript：拥有超能力的 JavaScript（下）
  TODO/typescript-javascript-with-superpowers-part-ii.md
Labels: 前端, 翻译完成

#3437 拖放库中 React 性能的优化
  TODO/dragging-react-performance-forward.md
Labels: 前端, 标注, 正在校对

#3464 我们能从 Redux 源码中学到什么？
  TODO/what-i-learned-from-reading-the-redux-source-code.md
Labels: 前端, 翻译完成

#3481 使用 Travis CI 自动发布 npm
  TODO/automated-npm-releases-with-travis-ci.md
Labels: 前端, 标注, 正在校对

#3487 使用 MVI 编写响应式 APP—第六部分—状态恢复
  TODO/mosby3-mvi-6.md
Labels: Android, 正在校对

#3434 这可能是 2018 年最好的一篇 PHP 性能测评（包含 5.6 到 7.2，以及HHVM）
  TODO/php-7-hhvm-benchmarks.md
Labels: 后端, 翻译完成

#3474 关于 CSS 变量，你需要了解的一切
  TODO/everything-you-need-to-know-about-css-variables.md
Labels: 前端, 正在校对, 问题标注

#3470 写给前端开发者的 GraphQL 指南
  TODO/front-end-developers-guide-graphql.md
Labels: 前端, 标注, 正在校对

#3510 Reducers vs transducers
  TODO/reducers-vs-transducers.md
Labels: 前端, 标注, 正在校对

#3461 没有 Interface Builder 的生活
  TODO/life-without-interface-builder.md
Labels: iOS, 翻译完成

#3511 热爱 JavaScript，但是讨厌 CSS ？
  TODO1/love-js-hate-css.md
Labels: 前端, 正在校对

#3513 使用 Web3 和 Vue.js 来创建你的第一个以太坊 dAPP（第二部分）
  TODO/create-your-first-ethereum-dapp-with-web3-and-vue-js-part-2.md
Labels: 区块链, 翻译完成

#3520 Web 爬虫下的 Python 数据分析：中情局全球概况图解
  TODO/data-analytics-with-python-by-web-scraping-illustration-with-cia-world-factbook.md
Labels: 后端, 标注, 正在校对

#3518 使用 React、Redux、SVG 开发游戏 - Part 1
  TODO/developing-games-with-react-redux-and-svg-part-1.md
Labels: 前端, 标注, 正在校对

#3531 良好的编码习惯 — 5 个提高代码质量的技巧
  TODO1/good-coding-practices-tips-enhance-code-quality.md
Labels: 其他, 正在校对

#3508 让我们来简化 UserDefaults 的使用
  TODO1/lets-simplify-the-work-with-userdefaults.md
Labels: iOS, 标注, 正在校对
