Repository xitu/gold-miner, pull requests merged in 2018-07, with the labels that each got.

#3943 [字幕翻译] Andrew Godwin — Django 异步 — PyCon 2018
  TODO1/talking-django-async-pycon-2018.md
Labels: 后端, 翻译完成

#4024 绘图技巧的快速入门之：6 个绘图练习，让你立即上手！
  TODO1/a-quick-beginners-guide-to-drawing.md
Labels: 正在校对, 设计

#4032 我是如何从零开始建立一个网络爬虫来实现我的求职自动化的
  TODO1/how-i-built-a-web-crawler-to-automate-my-job-search.md
Labels: 后端, 校对认领, 正在校对

#4034 Airbnb 中的 React Native：技术部分
  TODO1/react-native-at-airbnb-the-technology.md
Labels: iOS, 正在校对

#4042 从 Java EE 8 Security API 开始 — 第二部分
  TODO1/j-javaee8-security-api-2.md
Labels: 后端, 校对认领

#4045 将项目迁移到 Yarn 然后又迁回到 npm
  TODO1/to-yarn-and-back-again-npm.m
Labels: enhancement, 前端, 正在校对

#3992 Erlang 之禅第二部分
  TODO1/the-zen-of-erlang-2.md
Labels: enhancement, 后端, 正在校对

#4019 使用多重赋值与元组解包提升 Python 代码的可读性
  TODO1/tuple-unpacking-improves-python-code-readability.md
Labels: 后端, 翻译完成

#4072 通过 SSH 远程使用 Python 解释器来运行 Flask
  TODO1/running-flask-with-an-ssh-remote-python-interpreter.md
Labels: 后端, 标注, 校对认领, 正在校对

#4055 React 实现条件渲染的多种方式和性能考量
  TODO1/conditional-rendering-in-react.md
Labels: 前端, 标注, 正在校对

#4062 如何在 Flutter 中设计 LinearLayout？
  TODO1/flutter-for-android-developers-how-to-design-linearlayout-in-flutter.md
Labels: Android, 校对认领, 正在校对, 系列任务

#4057 能源行业聚焦基于区块链技术的加密货币
  TODO1/energy-sector-now-on-blockchain-based-cryptocurrency.md
Labels: 区块链, 校对认领

#4090 使用 Flutter 的 GestureDetector 构建自定义滑块
  TODO1/building-a-custom-slider-in-flutter-with-gesturedetector.md
Labels: Android, 标注, 校对认领, 系列任务

#4064 Envion 通过区块链采矿来支持可再生能源的发展
  TODO1/envion-a-name-of-mining-in-block-chain-to-support-renewable-energy.md
Labels: 区块链, 校对认领

#4065 单元素组件模式简介：使用 React 或其它组件库创建可靠组件的规则和实践
  .gitignore
  TODO1/introducing-the-single-element-pattern.md
Labels: 前端, 正在校对

#4095 Airbnb 中的 React Native （四）：React Native 退役
  TODO1/sunsetting-react-native.md
Labels: iOS, 校对认领, 正在校对

#4063 Airbnb 中的 React Native（三）：建立一个跨平台的移动端团队
  TODO1/building-a-cross-platform-mobile-team.md
Labels: enhancement, iOS, 校对认领, 正在校对

#4096 使用 Python 实现接缝裁剪算法
  TODO1/implementing-seam-carving-with-python.md
Labels: 后端, 翻译完成

#4047 论 Rust 和 WebAssembly 对源码地址索引的极限优化
  TODO1/oxidizing-source-maps-with-rust-and-webassembly.md
Labels: 前端, 校对认领

#4098 React Native：回顾 Udacity 移动工程团队的使用历程
  TODO1/react-native-a-retrospective-from-the-mobile-engineering-team-at-udacity.md
Labels: enhancement, iOS, 标注, 正在校对

#4103 2018 年，如何选择最好的静态站点生成器
  TODO1/how-to-choose-the-best-static-site-generator-in-2018.md
Labels: 前端, 标注, 正在校对

#4111 如何用 Flutter 来创建一个带有底部导航栏的应用程序
  TODO1/how-to-use-flutter-to-build-an-app-with-bottom-navigation.md
Labels: Android, 标注, 正在校对

#4114 Flutter 组件到底是什么？
  TODO1/what-even-are-flutter-widgets.md
Labels: Android, 标注, 校对认领, 正在校对, 系列任务

#4115 Airbnb 中的 React Native（五）：Airbnb 移动端路在何方？
  TODO1/whats-next-for-mobile-at-airbnb.md
Labels: iOS, 标注, 正在校对

#4088 关于 React Motion 的简要介绍
  TODO1/a-gentle-introduction-to-react-motion.md
Labels: enhancement, 前端, 标注, 校对认领, 正在校对

#4119 Robinhood 为什么使用 Airflow
  TODO1/why-robinhood-uses-airflow.md
Labels: 后端, 标注, 校对认领, 正在校对

#4087 编程语言和平台：一条被评论的推文串
  TODO1/platforms-and-languages.md
Labels: 其他, 校对认领, 正在校对

#4138 Javascript（ES6）Generator 入门
  TODO1/a-simple-guide-to-understanding-javascript-es6-generators.md
Labels: 前端, 标注, 正在校对

#4091 一份在你的 iPhone 上平衡实用和美观的指南
  TODO1/beautility-my-ultimate-iphone-setup.md
Labels: iOS, 校对认领, 正在校对

#4145 从 Cron 到 Airflow 的迁移中我们学到了什么
  TODO1/what-we-learned-migrating-off-cron-to-airflow.md
Labels: 后端, 好评如潮, 标注, 正在校对

#4147 用 Flutter 写一个待办事项应用
  TODO1/making-a-todo-app-with-flutter.md
Labels: Android, 标注, 校对认领, 正在校对

#4148 我如何使用 Node.js 来实现工作自动化
  TODO1/how-i-automated-my-job-with-node-js.md
Labels: enhancement, 后端, 校对认领, 正在校对

#4168 使用 PhpFastCache 提升网站性能
  TODO1/boost-your-website-performance-with-phpfastcache.md
Labels: 后端, 校对认领, 正在校对

#4152 我们是如何高效实现一致性哈希的
  TODO1/how-to-implement-consistent-hashing-efficiently.md
Labels: 后端, 标注, 校对认领, 正在校对

#4153 使用 Flutter 制作 3D 翻转动画
  TODO1/make-3d-flip-animation-in-flutter.md
Labels: Android, 标注, 校对认领, 正在校对, 系列任务

#4161 设计 React 组件 API
  TODO1/defining-component-apis-in-react.md
Labels: 前端, 标注, 正在校对

#4160 Flutter 实用指南：给初学者的 6 个小帖士
  TODO1/practical-flutter-my-personal-6-tips-for-newcomers.md
Labels: Android, 校对认领, 正在校对

#4123 Kotlin 揭秘：理解速记 Lambda 语法
  TODO1/kotlin-demystified-understanding-shorthand-lamba-syntax.md
Labels: Android, Google, 校对认领

#4142 在 Flutter 中实现微光闪烁效果
  TODO1/make-shimmer-effect-in-flutter.md
Labels: Android, 校对认领, 系列任务

#4121 移动技术在改善财务健康方面的作用
  TODO1/the-role-of-mobile-technology-in-improving-financial-health.md
Labels: Android, enhancement, 校对认领

#4162 在 Sketch 中使用一个设计体系创作：第一部分 [教程]
  TODO1/creating-with-a-design-system-in-sketch-part-one-tutorial.md
Labels: 标注, 校对认领, 正在校对, 设计

#4163 在 Sketch 中使用一个设计体系创作: 第二部分 [教程]
  TODO1/creating-with-a-design-system-in-sketch-part-two-tutoria.md
Labels: 标注, 校对认领, 正在校对, 设计

#4173 Python 与大数据：Airflow & Jupyter Notebook with Hadoop 3, Spark & Presto
  TODO1/python-big-data-airflow-jupyter-notebook-hadoop-3-hive-presto.md
Labels: 后端, 标注, 校对认领, 正在校对

#4192 Airflow: 一个工作流程管理平台
  TODO1/airflow-a-workflow-management-platform.md
Labels: 后端, 标注, 正在校对

#4177 深入了解 Flutter
  TODO1/out-of-depth-with-flutter.md
Labels: Android, 校对认领, 系列任务

#4191 如何使用 Pandas 重写你的 SQL 查询以及其他操作
  TODO1/how-to-rewrite-your-sql-queries-in-pandas-and-more.md
Labels: 后端, 标注, 校对认领, 正在校对

#4215 Slidable：一个 Flutter 的故事
  TODO1/slidable-a-flutter-story.md
Labels: Android, 校对认领, 正在校对

#4187 为什么每个 Android 开发者都应该尝试 Flutter
  TODO1/why-every-android-developer-should-try-out-flutter.md
Labels: Android, 正在校对

#4213 无头用户界面组件
  TODO1/headless-user-interface-components.md
Labels: 前端, 正在校对

#4214 用 30 分钟建立一个网站的方式来学习 Bootstrap 4
  TODO1/learn-bootstrap-4-in-30-minute-by-building-a-landing-page-website-guide-for-beginners.md
Labels: 前端, 正在校对, 问题标注
