Repository xitu/gold-miner, pull requests merged in 2018-10, with the labels that each got.

#4458 使用 Node 和 OAuth 2.0 构建一个简单的 REST API
  TODO1/build-secure-rest-api-with-node.md
Labels: 后端, 延期啦，大大们赶紧哒, 校对认领, 正在校对

#4477 Swift 中的惰性序列及其原理
  TODO1/lazy-sequences-in-swift-and-how-they-work.md
Labels: iOS, merging-soon-if-no-other-reviewer, 校对认领

#4523 如何使用 JavaScript ES6 有条件地构造对象
  TODO1/how-to-conditionally-build-an-object-in-javascript-with-es6.md
Labels: 前端, 标注, 正在校对

#4538 什么是模块化 CSS？
  TODO1/what-is-modular-css.md
Labels: enhancement, 前端, 正在校对

#4519 如何在东南亚拓展您的应用业务
  TODO1/building-a-successful-app-or-game-business-in-southeast-asia.md
Labels: Android, Google, 校对认领

#4539 当你创建 Flexbox 布局时，都发生了什么
  TODO1/flexbox-display-flex-container.md
Labels: 前端, 标注, 正在校对

#4534 更好的数据，更明智的决策
  TODO1/better-stats-for-better-decisionsbetter-stats-for-better-decisions.md
Labels: Android, Google, 校对认领, 正在校对

#4521 Go 语言的整洁架构之道/一个使用 gRPC 的 Go 项目整洁架构例子
  TODO1/clean-architecture-in-go.md
Labels: 后端, 翻译完成

#4535 为什么我们需要 Web 3.0
  TODO1/why-we-need-web-3-0.md
Labels: enhancement, 区块链, 校对认领, 正在校对

#4518 为数字优先新闻编辑室开发文本编辑器
  TODO1/building-a-text-editor-for-a-digital-first-newsroom.md
Labels: 前端, 翻译完成

#4552 数据科学和机器学习面试问题
  TODO1/data-science-and-machine-learning-interview-questions.md
Labels: AI, 标注, 校对认领, 正在校对

#4546 如何组织 Hacktoberfest 主题聚会
  TODO1/how-to-organize-a-hacktoberfest-themed-meetup.md
Labels: 其他, 标注, 校对认领, 正在校对

#4522 如何让你的设计系统被广泛采用
  TODO1/how-to-gain-widespread-adoption-of-your-design-system.md
Labels: enhancement, 产品, 正在校对

#4551 我在阅读 MDN 时发现的 3 个 Input 元素属性
  TODO1/three-input-element-properties-that-i-discovered-while-reading-mdn.md
Labels: enhancement, 前端, 正在校对

#4547 Immer 下的不可突变数据和 React 的 setState
  TODO1/immutable-data-with-immer-and-react-setstate.md
Labels: 前端, 标注, 校对认领, 正在校对

#4555 现代浏览器内部揭秘（第二部分）
  TODO1/inside-browser-part2.md
Labels: 前端, 标注, 正在校对

#4564 Node.js 高性能和可扩展应用程序的最佳实践[第 1/3 部分]
  TODO1/good-practices-for-high-performance-and-scalable-node-js-applications-part-1-3.md
Labels: 后端, 标注, 校对认领, 正在校对

#4567 现代浏览器内部揭秘（第三部分）
  TODO1/inside-browser-part3.md
Labels: 前端, 标注, 正在校对

#4570 开源项目之 Nginx
  TODO1/the-open-source-project-nginx.md
Labels: 后端, 标注, 校对认领, 正在校对

#4578 Node.js 高性能和可扩展应用程序的最佳实践 [第 2/3 部分]
  TODO1/good-practices-for-high-performance-and-scalable-node-js-applications-part-2-3.md
Labels: 后端, 标注, 校对认领, 正在校对

#4587 使 WebAssembly 更快：Firefox 的新流式和分层编译器
  TODO1/making-webassembly-even-faster-firefoxs-new-streaming-and-tiering-compiler.md
Labels: 前端, 标注, 正在校对

#4588 你需要知道的所有 Flexbox 排列方式
  TODO1/flexbox-alignment.md
Labels: 前端, 标注, 正在校对

#4591 使用 JavaScript 和网络信息 API 实现自适应服务
  TODO1/adaptive-serving-using-javascript-and-the-network-information-api.md
Labels: enhancement, 前端, 标注, 正在校对

#4574 现代浏览器内部揭秘（第四部分）
  TODO1/inside-browser-part4.md
Labels: 前端, 标注, 正在校对

#4601 基于评论的机器学习在线课程排名
  TODO1/every-single-machine-learning-course-on-the-internet-ranked-by-your-reviews.md
Labels: AI, 标注, 正在校对

#4615 以面试官的角度来看 React 工作面试
  TODO1/a-react-job-interview-recruiter-perspective.md
Labels: 前端, 标注, 正在校对

#4580 构建高性能和可扩展性 Node.js 应用的最佳实践 [第 3/3 部分]
  TODO1/good-practices-for-high-performance-and-scalable-node-js-applications-part-3-3.md
Labels: 后端, 标注, 正在校对

#4616 动效设计可以很简单
  TODO1/motion-design-doesnt-have-to-be-hard.md
Labels: 正在校对, 设计

#4607 深度学习将会给我们所有人的生活一个教训：工作是为了机器准备的
  TODO1/deep-learning-is-going-to-teach-us-all-the-lesson-of-our-lives-jobs-are-for-machines.md
Labels: AI, 标注, 正在校对

#4617 开启性能预算
  TODO1/start-performance-budgeting.md
Labels: 前端, 标注, 正在校对

#4618 职业成长的内部指南
  TODO1/the-introverts-guide-to-professional-development.md
Labels: 其他, 标注, 正在校对

#4633 源代码映射（Source Map）简介
  TODO1/introduction-source-maps.md
Labels: 前端, 标注, 正在校对

#4623 作为自由开发者，7 个步骤让你获得更多的客户
  TODO1/7-steps-to-get-more-clients-as-a-freelance-developer.md
Labels: 其他, 标注, 正在校对

#4635 代码评审的 8 点建议
  TODO1/8-tips-for-great-code-reviews.md
Labels: 其他, 标注, 正在校对

#4650 Rust 开发完整的 Web 应用程序
  TODO1/a-web-application-completely-in-rust.md
Labels: 后端, 标注, 正在校对

#4652 通过 Lighthouse 了解 JavaScript 性能
  TODO1/shine-a-light-on-javascript-performance-with-lighthouse-1opf.md
Labels: 前端, 标注, 正在校对

#4653 如何停止使用 console.log() 并开始使用浏览器调试代码
  TODO1/stopping-using-console-log-and-start-using-your-browsers-debugger.md
Labels: 前端, 标注, 正在校对

#4659 Hook 介绍 — React 系列教程 Part 1
  TODO1/hooks-intro.md
Labels: 前端, 正在校对
