Repository xitu/gold-miner, pull requests merged in 2018-11, with the labels that each got.

#4626 苹果公司如何颠覆瑞士制表业
  TODO1/how-apple-beat-swiss-watchmakers-at-their-own-game.md
Labels: 产品, 标注, 正在校对

#4658 Google 工程师提升网页性能的新策略：空闲执行，紧急优先
  TODO1/idle-until-urgent.md
Labels: 前端, 标注, 正在校对

#4673 6 个最令人满意的和编程相关的工作（和参与这些工作的人们的类型）
  TODO1/the-6-most-desirable-coding-jobs-and-the-types-of-people-drawn-to-each.md
Labels: 其他, 标注, 正在校对

#4681 使用 Pandas 对 Kaggle 数据集进行统计数据分析
  TODO1/exploratory-statistical-data-analysis-with-a-kaggle-dataset-using-pandas.md
Labels: AI, 标注, 正在校对

#4685 使用 Pandas 在 Python 中创建一个简单的推荐系统
  TODO1/creating-a-simple-recommender-system-in-python-using-pandas.md
Labels: AI, 标注, 正在校对

#4687 使用 Python 的 Pandas 和 Seaborn 框架从 Kaggle 数据集中提取信息
  TODO1/extracting-insights-from-a-kaggle-dataset-using-pythons-pandas-and-seaborn.md
Labels: AI, 标注, 校对认领, 正在校对

#4675 设计师的决策树
  TODO1/the-design-system-decision-tree.md
Labels: 标注, 正在校对, 设计

#4684 回答有关 Flutter App 开发的问题
  TODO1/answering-questions-on-flutter-app-development.md
Labels: Android, 标注, 校对认领, 正在校对

#4688 理解 React 钩子（Hooks）
  TODO1/making-sense-of-react-hooks.md
Labels: 前端, 标注, 正在校对

#4692 揭开 React Hooks 的神秘面纱:数组解构融成魔法
  TODO1/react-hooks-not-magic-just-arrays.md
Labels: 前端, 标注, 正在校对

#4669 在 Keras 中使用一维卷积神经网络处理时间序列数据
  TODO1/introduction-to-1d-convolutional-neural-networks-in-keras-for-time-sequences.md
Labels: AI, 标注, 正在校对

#4676 从现有的代码库创建 Swift 包管理器
  TODO1/creating-spm-tools-from-your-existing-codebase.md
Labels: iOS, 标注, 校对认领, 正在校对

#4705 在 Android 上实现 Google Inbox 的样式动画
  TODO1/implement-google-inbox-style-animation-on-android.md
Labels: Android, 校对认领, 正在校对

#4706 Javascript: call(), apply() 和 bind()
  TODO1/implement-google-inbox-style-animation-on-android.md
  TODO1/javascript-call-apply-and-bind.md
Labels: 前端, 标注

#4707 我们是怎样把 Carousell 的移动端 Web 体验搞快了 3 倍的？
  TODO1/how-we-made-carousells-mobile-web-experience-3x-faster.md
Labels: 前端, 标注, 正在校对

#4719 介绍适用于 iOS 的 AloeStackView
  TODO1/introducing-aloestackview-for-ios.md
Labels: iOS, 标注, 校对认领, 正在校对

#4722 Netflix 的 Web 性能案例研究
  TODO1/a-netflix-web-performance-case-study.md
Labels: 前端, 标注, 正在校对

#4718 关于 Angular 的变化检测，你需要知道的一切
  TODO1/everything-you-need-to-know-about-change-detection-in-angular.md
Labels: 前端, 标注, 正在校对

#4733 以太坊: 能帮我们把 Uber 换掉的非比特币加密货币
  TODO1/ethereum-bitcoin-explainer.md
Labels: 区块链, 标注, 正在校对

#4735 理解 JavaScript 中的 undefined
  TODO1/understanding-undefined-and-preventing-referenceerrors.md
Labels: 前端, 标注, 正在校对

#4730 iOS 12 占有率超过 50%，超过了 iOS 11
  TODO1/ios-12-now-installed-on-50-of-devices-outpacing-ios-11.md
Labels: iOS, 标注, 正在校对

#4741 你不知道的 console 命令
  TODO1/beyond-console-log.md
Labels: 前端, 标注, 正在校对

#4720 我是如何在谷歌找到 UX 设计的工作的
  TODO1/how-i-landed-a-job-in-ux-design-at-google.md
Labels: 标注, 正在校对, 设计

#4734 为用户提供安全可靠的体验
  TODO1/providing-safe-and-secure-experience.md
Labels: Android, Google, 标注, 正在校对

#4752 在远程工作中领悟到的 10 件事
  TODO1/10-things-ive-learned-from-working-remotely.md
Labels: DONE, 其他, 正在校对

#4746 使用递归神经网络（LSTMs）对时序数据进行预测
  TODO1/time-series-prediction-using-recurrent-neural-networks-lstms.md
Labels: AI, 标注, 正在校对

#4748 函数式编程：抽象与组合
  TODO1/abstraction-composition.md
Labels: 前端, 标注, 正在校对

#4762 关于 HTTP/3 的一些心得
  TODO1/some-notes-about-http3.md
Labels: 后端, 标注, 正在校对

#4761 如何让高效的代码评审成为一种文化
  TODO1/effective-code-review.md
Labels: 其他, 标注, 正在校对

#4763 Swift 中的动态特性
  TODO1/dynamic-features-in-swift.md
Labels: iOS, 标注, 校对认领, 正在校对

#4768 Medium 的 GraphQL 服务设计
  TODO1/graphql-server-design-medium.md
Labels: 后端, 标注, 正在校对

#4769 深度专注的工作 — 成为 10 倍效率的开发者的秘密武器
  TODO1/focus-and-deep-work-your-secret-weapons-to-becoming-a-10x-developer.md
Labels: 其他, 标注, 正在校对
