Repository xitu/gold-miner, pull requests merged in 2018-09, with the labels that each got.

#4343 使用 Nexmo 和微软语音翻译 API 构建 Babel 鱼
  TODO1/speech-voice-translation-microsoft-dr.md
Labels: enhancement, 后端, 标注, 校对认领, 正在校对

#4369 如何将 Stackdriver 连接到智能家居服务器以进行错误记录
  TODO1/how-to-connect-stackdriver-to-your-smart-home-server-for-error-logging.md
Labels: Android, 校对认领

#4371 Flutter 的 Heroes 和 Villains —— 为 Flutterverse 带来平衡
  TODO1/flutter-heroes-and-villains-bringing-balance-to-the-flutterverse.md
Labels: Android, 校对认领

#4380 关于工程师和影响力
  TODO1/on-engineers-and-influence.md
Labels: 其他, 标注, 正在校对

#4375 使用 Go 编写微服务及其 GraphQL 网关
  TODO1/go-graphql-gateway-microservices.md
Labels: 后端, 校对认领

#4366 React Native 对 Flutter: 哪一个对创业公司更加友好？
  TODO1/react-native-vs-flutter-which-is-more-startup-friendly.md
Labels: Android, enhancement, iOS, 标注, 正在校对

#4367 在 iOS 中使用 UITests 测试 Facebook 登录功能
  TODO1/running-uitests-with-facebook-login-in-ios.md
Labels: enhancement, iOS, 校对认领, 正在校对

#4393 Android 的多摄像头支持
  TODO1/camera-enumeration-on-android.md
Labels: Android, 翻译完成

#4411 在 JavaScript 中 为什么你应当使用 map 和 filter 来替代 forEach
  TODO1/why-you-should-replace-foreach.md
Labels: enhancement, 前端, 正在校对

#4399 CSS 变量和 JavaScript 让应用支持动态主题 🎨
  TODO1/css-variables-dynamic-app-themes.md
Labels: enhancement, 前端, 正在校对

#4394 JavaScript 2018 中即将迎来的新功能：异步生成器及更好的正则表达式
  TODO1/whats-coming-up-in-javascript-2018-async-generators-better-regex.md
Labels: 前端, 校对认领, 正在校对

#4402 GopherCon 2018：揭秘二叉查找树算法
  TODO1/gophercon-2018-binary-search-tree-algorithms.md
Labels: 后端, 标注, 正在校对

#4398 用 Workers 让静态网站动态化
  TODO1/using-workers-to-make-static-sites-dynamic.md
Labels: enhancement, 其他, 正在校对

#4418 如何使用原生 JavaScript 构建简单的 Chrome 扩展程序
  TODO1/how-to-build-a-simple-chrome-extension-in-vanilla-javascript.md
Labels: 前端, 标注, 正在校对

#4435 用 API​​ 请求制作赏心悦目的 UX
  TODO1/crafting-beautiful-ux-with-api-requests.md
Labels: enhancement, 前端, 正在校对

#4419 现代浏览器内部揭秘（第一部分）
  TODO1/inside-look-at-modern-web-browser-part1.md
Labels: 前端, 标注, 正在校对

#4437 JAVASCRIPT 日期权威指南
  TODO1/the-definitive-guide-to-javascript-dates.md
Labels: enhancement, 前端, 正在校对

#4441 以申请大学流程来解释 JavaScript 的 filter 方法
  TODO1/javascripts-filter-function-explained-by-applying-to-college.md
Labels: 前端, 翻译完成

#4442 this 到底指向什么 — 理解 JavaScript 中的 this、call、apply 和 bind
  TODO1/this-keyword-call-apply-bind-javascript.md
Labels: 前端, 标注, 正在校对

#4417 探索 SMACSS：可扩展的模块化 CSS 框架
  TODO1/smacss-scalable-modular-architecture-css.md
Labels: enhancement, 前端, 正在校对

#4459 React Profiler 介绍
  TODO1/introducing-the-react-profiler.md
Labels: enhancement, 前端, 校对认领, 正在校对

#4456 理解 JavaScript 中的执行上下文和执行栈
  TODO1/understanding-execution-context-and-execution-stack-in-javascript.md
Labels: enhancement, 前端, 正在校对

#4445 为 APP 设计通知提醒
  TODO1/designing-notifications-for-applications.md
Labels: 产品, 标注, 正在校对

#4448 SmartyStreets 的 Go 测试探索之路
  TODO1/history-of-go-testing.md
Labels: 后端, 标注, 正在校对

#4460 2018 年度最佳数据库即服务解决方案
  TODO1/the-best-database-as-a-service-solutions-of-2018.md
Labels: 后端, 标注, 正在校对

#4466 下一代包管理工具
  TODO1/next-generation-package-management.md
Labels: 其他, 标注, 正在校对

#4476 ./dogs.html 和 /dogs.html 间有什么区别？
  TODO1/whats-the-difference-between-dogs-html-and-dogs-html.md
Labels: 前端, 标注, 正在校对

#4462 另外 5 种关于视觉和认知间差异的绘画练习
  TODO1/5-more-drawing-exercises.md
Labels: WIP, enhancement, 校对认领, 正在校对, 设计

#4496 四个「为什么」：是什么在背后驱动你的产品？
  TODO1/the-4-types-of-why-what-is-the-driving-force-behind-your-product.md
Labels: 产品, 校对认领, 正在校对

#4471 如何创建一个设计体系来赋能团队 —— 关注人，而非像素
  TODO1/how-building-a-design-system-empowers-your-team-to-focus-on-people-not-pixels.md
Labels: 翻译完成, 设计

#4482 容器，虚拟机以及 Docker 的初学者入门介绍
  TODO1/a-beginner-friendly-introduction-to-containers-vms-and-docker.md
Labels: 后端, 标注, 正在校对

#4491 新手开发者须知
  TODO1/survival-guide-for-new-developers.md
Labels: 其他, 标注, 正在校对

#4501 白雪公主如何帮助 Airbnb 证明在设计中最重要的技能是讲故事
  TODO1/how-airbnb-proved-that-storytelling-is-the-most-important-skill-in-design.md
Labels: 标注, 正在校对, 设计

#4494 如何在六个月或更短的时间内成为 DevOps 工程师，第二部分：配置
  TODO1/how-to-become-a-devops-engineer-in-six-months-or-less-part-2-configure.md
Labels: 后端, 标注, 校对认领, 正在校对

#4498 如何在六个月或更短的时间内成为 DevOps 工程师，第三部分：版本控制
  TODO1/how-to-become-a-devops-engineer-in-six-months-or-less-part-3-version.md
Labels: 后端, 标注, 校对认领, 正在校对

#4500 如果界面产品设计师设计实体产品
  TODO1/if-screen-product-designers-designed-physical-products.md
Labels: 产品, 标注, 校对认领, 正在校对

#4510 正确实现 linkedPurchaseToken 以避免重复订阅
  TODO1/implementing-linkedpurchasetoken-correctly-to-prevent-duplicate-subscriptions.md
Labels: Android, Google, 标注, 校对认领, 正在校对

#4499 用 Python 实现马尔可夫链的初学者教程
  TODO1/markov-chains-python-tutorial.md
Labels: AI, 正在校对

#4450 基于 TensorFlow.js 的无服务架构机器学习
  TODO1/serverless-machine-learning-with-tensorflow-dot-js.md
Labels: AI, 标注, 正在校对
