Repository xitu/gold-miner, pull requests merged in 2018-04, with the labels that each got.

#3522 如何用 Python 写一个 Discord 机器人
  TODO1/how-to-write-a-discord-bot-in-python.md
Labels: 后端, 翻译完成

#3542 简短而又完全精确的编程语言历史
  TODO1/a-brief-totally-accurate-history-of-programming-languages.md
Labels: 其他, 正在校对

#3552 Don’t call me, I’ll call you：使用 Redux-Saga 管理 React 应用中的异步 action （上）
  TODO1/dont-call-me-i-ll-call-you-side-effects-management-with-redux-saga-part-1.md
Labels: 前端, 正在校对

#3537 React 的内联函数和性能
  TODO1/react-inline-functions-and-performance.md
Labels: 前端, 标注, 正在校对, 问题标注

#3546 让 Apache Cassandra 尾部延迟减小 10 倍（已开源）
  TODO/open-sourcing-a-10x-reduction-in-apache-cassandra-tail-latency.md
Labels: 其他, 标注, 正在校对

#3514 JanusGraph 为 PHP 助力
  TODO/powering-php-with-janusgraph.md
Labels: 后端, 校对认领, 正在校对

#3548 使用 Web3 和 Vue.js 来创建你的第一个以太坊 dAPP（第三部分）
  TODO/create-your-first-ethereum-dapp-with-web3-and-vue-js-part-3.md
Labels: 区块链, 标注, 正在校对

#3560 VINE：一种开源的神经进化（Neuroevolution）交互式数据可视化工具
  TODO1/an-open-source-interactive-data-visualization-tool-for-neuroevolution.md
Labels: 后端, 标注, 正在校对

#3563 为 JavaScript 程序员准备的 Flutter 指南
  TODO/flutter-for-javascript-developers.md
Labels: Android, 正在校对

#3550 使用MVI构建响应式 APP — 第七部分 — TIMING (SINGLELIVEEVENT 问题)
  TODO1/mosby3-mvi-7.md
Labels: Android, 标注, 正在校对

#3562 用户领域 API 监控和代码注入检测
  TODO1/userland-api-monitoring-and-code-injection-detection.md
Labels: 后端, 正在校对

#3577 提高 10 倍性能：优化静态网站
  TODO1/optimizing-a-static-site.md
Labels: 前端, 标注, 正在校对

#3582 单向用户界面架构问题研究
  TODO1/unidirectional-user-interface-architectures.md
Labels: 前端, 正在校对

#3587 关于 SPA 你需要掌握的 4 层
  TODO1/architecting-single-page-applications.md
Labels: 前端, 标注, 正在校对

#3592 设计师与工程师协作的 5 项准则
  TODO1/5-rules-for-designer-engineer-collaboration.md
Labels: 正在校对, 设计

#3593 怎样把取消订阅的用户吸引回来
  TODO1/how-to-win-back-subscribers-who-cancel.md
Labels: Google, 产品

#3589 [1] + [2] - [3] === 9!? 类型转换深入研究
  TODO1/1-2-3-9-looking-into-assembly-code-of-coercion.md
Labels: 前端, 翻译完成

#3557 How to NOT React：React 中常见的反模式与陷阱
  TODO1/how-to-not-react-common-anti-patterns-and-gotchas-in-react.md
Labels: 前端, 标注, 正在校对

#3564 不用 Class，如何写一个类
  TODO1/classes-without-classes.md
Labels: 后端, 翻译完成

#3571 React & Redux 顶级开发伴侣
  TODO1/top-react-and-redux-packages-for-faster-development.md
Labels: 前端, 标注, 正在校对

#3614 Convert source file from asciidoc to markdown
  TODO1/ethereumbook-wallets.md
Labels: 校对认领

#3598 Pandas 数据类型概览
  TODO1/pandas-dtypes.md
Labels: 后端, 标注, 正在校对

#3622 用 Python 编程进行糖尿病相关的机器学习
  TODO1/machine-learning-for-diabetes-with-python.md
Labels: 后端, 正在校对

#3613 使用 python 分析 14 亿条数据
  TODO1/analysing-1-4-billion-rows-with-python.md
Labels: 后端, 翻译完成

#3606 [1] + [2] - [3] === 9!? 类型转换深入研究
  TODO1/1-2-3-9-looking-into-assembly-code-of-coercion.md
Labels: 前端, 标注, 正在校对

#3594 使用 React、Redux 和 SVG 开发游戏 - Part 2
  TODO1/developing-games-with-react-redux-and-svg-part-2.md
Labels: 前端, 标注, 正在校对

#3604 区块链如何帮助重塑医疗保健行业
  TODO1/how-blockchain-can-help-re-invent-healthcare.md
Labels: 区块链, 翻译完成

#3626 预测你的游戏的货币化未来
  TODO1/predicting-your-games-monetization-future.md
Labels: Google, 产品, 翻译完成

#3633 用行为经济学来传达付费应用订阅的价值
  TODO1/using-behavioural-economics-to-convey-the-value-of-paid-app-subscriptions.md
Labels: Google, 产品, 标注, 正在校对

#3630 互联汽车是什么以及如何开发用于它的应用？
  TODO1/connected-cars-what-are-they-and-how-to-get-started-developing-connected-car-apps.md
Labels: 前端, 正在校对

#3641 使用 NumPy 和 Pandas 进行 Python 式数据清理
  TODO1/python-data-cleaning-numpy-pandas.md
Labels: 后端, 正在校对

#3650 Node.js 能进行 HTTP/2 推送啦！
  TODO1/node-js-can-http-2-push.md
Labels: 后端, 正在校对

#3631 用 Go 编写你自己的区块链挖矿算法！
  TODO1/code-your-own-blockchain-mining-algorithm-in-go.md
Labels: 区块链, 正在校对

#3628 GAN 的 Keras 实现：构建图像去模糊应用
  TODO1/keras-generative-adversarial-networks-image-deblurring.md
Labels: 后端, 正在校对

#3658 React 中的 Immutability：可变对象并没有什么问题
  TODO1/immutability-in-react-theres-nothing-wrong-with-mutating-objects.md
Labels: 前端, 正在校对

#3664 部署 != 发布（第一部分）
  TODO1/deploy-not-equal-release-part-one.md
Labels: 其他, 正在校对

#3667 Flutter 到底有多快？我开发了秒表应用来弄清楚。
  TODO1/how-fast-is-flutter-i-built-a-stopwatch-app-to-find-out.md
Labels: Android, iOS, 正在校对

#3648 用不到 200 行的 GO 语言编写您自己的区块链
  TODO1/code-your-own-blockchain-in-less-than-200-lines-of-go.md
Labels: 区块链, 翻译完成

#3685 为什么你应该开始使用 Kotlin
  TODO1/why-you-should-totally-switch-to-kotlin.md
Labels: Android, 正在校对

#3651 用 Redis 和 Python 构建一个共享单车的 app
  TODO1/building-bikesharing-application-open-source-tools.md
Labels: 后端, 正在校对

#3690 为什么 Flutter 能最好地改变移动开发
  TODO1/why-flutter-will-change-mobile-development-for-the-best.md
Labels: Android, 正在校对

#3688 如何调试前端：优化网络资源
  TODO1/how-to-debug-front-end-optimising-network-assets.md
Labels: 前端, 正在校对

#3665 用 Skater 解读预测模型：打开模型的黑箱
  TODO1/interpreting-predictive-models-with-skater-unboxing-model-opacity.md
Labels: 后端, 标注, 正在校对

#3691 优化 WEBPACK 以更快地构建 REACT
  TODO1/optimizing-webpack-for-faster-react-builds.md
Labels: 前端, 正在校对

#3653 以太坊钱包详解
  TODO1/ethereumbook-wallets.md
Labels: 区块链, 校对认领

#3652 引导员手册：24 个设计冲刺技巧
  TODO1/23-facilitation-tips-for-design-sprints.md
Labels: 其他, 正在校对

#3701 用 Java 代码实现区块链
  TODO1/blockchain-implementation-with-java-code.md
Labels: 区块链, 正在校对

#3707 快拍中 Type Mode 在 iOS 和 Android 上的实现
  TODO1/building-type-mode-for-stories-on-ios-and-android.md
Labels: iOS, 正在校对

#3725 那些好玩却尚未被 ECMAScript 2017 采纳的提案
  TODO1/interesting-ecmascript-2017-proposals.md
Labels: 前端, 正在校对
