Repository xitu/gold-miner, pull requests merged in 2018-08, with the labels that each got.

#4210 让我们一起解决“this”难题  —  第一部分
  TODO1/lets-settle-this-part-one.md
Labels: 前端, 标注, 正在校对

#4216 Flutter 中的原生应用程序状态
  TODO1/reactive-app-state-in-flutter.md
Labels: Android, 标注, 校对认领

#4225 在 UNIX 中，一切皆文件
  TODO1/in-unix-everything-is-a-file.md
Labels: 后端, 标注, 正在校对

#4217 虚构问题，低质量软件的根源
  TODO1/imaginary-problems.md
Labels: 产品, 校对认领

#4236 用 React 和 Vue 创建了两个完全相同的应用后，发现了这些差异
  TODO1/i-created-the-exact-same-app-in-react-and-vue-here-are-the-differences.md
Labels: 前端, 标注, 正在校对

#4223 Tab Bar 就是新的汉堡菜单
  TODO1/tab-bars-are-the-new-hamburger-menus.md
Labels: iOS, 标注, 正在校对

#4227 Flutter 系列入门教程五：网格
  TODO1/flutter-getting-started-tutorial-5-grid.md
  TODO1/slidable-a-flutter-story.md
Labels: Android, 标注, 校对认领

#4235 重写 loadView() 方法使 Swift 视图代码更加简洁
  TODO1/writing-cleaner-view-code-by-overriding-loadview.md
Labels: iOS, 标注, 校对认领, 正在校对

#4237 Web 应用架构基础课
  TODO1/web-architecture-101.md
Labels: 后端, 标注, 正在校对

#4226 React Native 中使用转场动画！
  TODO1/animated-transition-in-react-native.md
Labels: enhancement, iOS, 校对认领, 正在校对

#4242 如何设计移动应用的搜索功能？
  TODO1/designing-search-for-mobile-apps.md
Labels: 标注, 正在校对, 设计

#4244 让我们一起解决“this”难题  —  第二部分
  TODO1/lets-settle-this-part-two.md
Labels: 前端, 标注, 正在校对

#4245 使用 Web Beacon API 记录活动
  TODO1/logging-activity-web-beacon-api.md
Labels: enhancement, 前端, 正在校对

#4269 Solve issue #4267
  TODO1/lets-settle-this-part-one.md
Labels: 校对认领, 正在校对

#4238 自然语言处理真是有趣！
  TODO1/natural-language-processing-is-fun.md
Labels: 后端, 标注, 正在校对

#4262 使用 Python 进行自动化特征工程
  TODO1/automated-feature-engineering-in-python.md
Labels: AI, 标注, 正在校对

#4271 挑战 Flutter 之 YouTube
  TODO1/flutter-challenge-youtube.md
Labels: Android, 校对认领

#4279 挑战 Flutter 之 Twitter
  TODO1/flutter-challenge-twitter.md
Labels: Android, enhancement, 校对认领

#4280 深入 Flutter 之手势
  TODO1/flutter-deep-dive-gestures.md
Labels: Android, enhancement, 正在校对

#4282 Flutter 挑战之 WhatsApp
  TODO1/flutter-challenge-whatsapp.md
Labels: Android, enhancement, 正在校对

#4294 如何向带有插槽的 React 组件传递多个 Children
  TODO1/pluggable-slots-in-react-components.md
Labels: 前端, 标注, 正在校对

#4293 实用 ProGuard 规则示例
  TODO1/practical-proguard-rules-examples.md
Labels: Android, 标注, 正在校对

#4277 如何使用 Python 和 BeautifulSoup 抓取网站内容
  TODO1/how-to-scrape-websites-with-python-and-beautifulsoup.md
Labels: 后端, 标注, 正在校对

#4276 我是如何使用 Python 在 Medium 上找到并关注有趣的人
  TODO1/how-i-used-python-to-find-interesting-people-on-medium.md
Labels: 后端, 标注, 正在校对

#4278 优化 MP4 视频以获得更快的流传输速度
  TODO1/optimizing-mp4-video-for-fast-streaming.md
Labels: enhancement, 前端, 正在校对

#4302 使用原生 JavaScript 构建状态管理系统
  TODO1/build-a-state-management-system-with-vanilla-javascript.md
Labels: enhancement, 前端, 正在校对

#4296 SpaceAce 了解一下，一个新的前端状态管理库
  TODO1/introducing-spaceace-a-new-kind-of-front-end-state-library.md
Labels: enhancement, 前端, 校对认领, 正在校对

#4286 2018 来谈谈 Web 组件
  TODO1/web-components-in-2018.md
Labels: enhancement, 前端, 正在校对

#4308 常见网页设计错误一览
  TODO1/articles-website-design-mistakes.md
Labels: enhancement, 正在校对, 设计

#4306 如何在数据科学中写出生产层面的代码？
  TODO1/how-to-write-a-production-level-code-in-data-science.md
Labels: enhancement, 后端, 正在校对

#4334 2018 年 iOS 开发找工作完全指南
  TODO1/a-complete-guide-to-getting-hired-as-an-ios-developer-in-2018.md
Labels: iOS, 标注, 正在校对

#4328 构建流畅的交互界面
  TODO1/building-fluid-interfaces-ios-swift.md
Labels: enhancement, iOS, 校对认领, 正在校对

#4303 2018 年七个通过脑电图分析实现“读心术”的 Javascript 库
  TODO1/7-javascript-eeg-mind-reading-libraries-for-2018.md
Labels: enhancement, 前端, 正在校对

#4327 用 Scikit-Learn 实现 SVM 和 Kernel SVM
  TODO1/implementing-svm-and-kernel-svm-with-pythons-scikit-learn.md
Labels: AI, enhancement, 正在校对

#4351 Databook：通过元数据，Uber 将大数据转化为知识
  TODO1/databook-turning-big-data-into-knowledge-with-metadata-at-uber.md
Labels: enhancement, 后端, 正在校对

#4347 如何提升设计到开发的协作效率
  TODO1/how-to-save-ui-designers-front-end-developers-up-to-50-of-their-time.md
Labels: 前端, 标注, 正在校对, 设计

#4333 如何使用纯函数式 JavaScript 处理脏副作用
  TODO1/how-to-deal-with-dirty-side-effects-in-your-pure-functional-javascript.md
Labels: 前端, 正在校对

#4345 如何优化企业级规模的 Node.js 应用程序
  TODO1/optimize-enterprise-scale-node-js.md
Labels: 后端, 翻译完成

#4342 Flutter 的英雄和流氓们 —— 为 Flutterverse 带来平衡
  TODO1/flutter-heroes-and-villains-bringing-balance-to-the-flutterverse.md
Labels: Android, 校对认领

#4349 Sklearn 中的朴素贝叶斯分类器
  TODO1/naive-bayes-classifier-sklearn-python-example-tips.md
Labels: AI, 标注, 校对认领, 正在校对

#4359 明日之布局
  TODO1/layouts-of-tomorrow.md
Labels: 前端, 翻译完成

#4360 Python 的多线程与多进程
  TODO1/python-multithreading-vs-multiprocessing.md
Labels: 后端, 标注, 正在校对

#4352 你 Ladar 中该珍藏的：iOS 布局语言
  TODO1/larder-links-06-iOS-Auto-Layout-DSLs.md
Labels: enhancement, iOS, 正在校对

#4350 设计 QA 在应用程序设计中的重要性
  TODO1/the-importance-of-design-qa-in-digital-product-design.md
Labels: 校对认领, 设计

#4357 函数式 JavaScript 编程的简短介绍
  TODO1/a-quick-introduction-to-functional-javascript.md
Labels: 前端, 标注, 正在校对

#4358 为什么设计师讨厌政治
  TODO1/why-designers-hate-politics-and-what-to-do-about-it.md
Labels: 校对认领, 设计
