Repository xitu/gold-miner, pull requests merged in 2018-05, with the labels that each got.

#3726 Web 应用的未来：Heroku vs Docker
  TODO1/its-the-future.md
Labels: 前端, 正在校对

#3734 介绍 Google Play 上新的优质 Android 应用与游戏
  TODO1/introducing-new-android-excellence-apps.md
Labels: Android, Google, 正在校对

#3713 如何写出更好的 React 代码
  TODO1/how-to-write-better-code-in-react-best-practices.md
Labels: 前端, 正在校对

#3733 Python 中的键值（具名）参数：如何使用它们
  TODO1/keyword-arguments-in-python.md
Labels: 后端, 正在校对

#3730 我在编程初级阶段常犯的错误
  TODO1/the-mistakes-i-made-as-a-beginner-programmer.md
Labels: 其他, 标注, 正在校对

#3732 漫画深入浅出 ES 模块
  TODO1/es-modules-a-cartoon-deep-dive.md
Labels: 前端, 正在校对

#3719 我是如何修复 Python 3.7 中一个非常古老的 GIL 竞态条件 bug 的
  TODO1/how-i-fixed-a-very-old-gil-race-condition-in-python-3-7.md
Labels: 后端, 正在校对

#3753 在 Google I/O 2018 观看 Flutter 的正确姿势
  TODO1/how-to-watch-flutter-at-google-i-o-2018.md
Labels: Android, 正在校对

#3727 JavaScript 是如何运作的：用 MutationObserver 追踪 DOM 的变化
  TODO1/how-javascript-works-tracking-changes-in-the-dom-using-mutationobserver.md
Labels: 前端, 正在校对

#3721 设计大型 JavaScript 应用程序
  TODO1/designing-very-large-javascript-applications.md
Labels: 前端, 正在校对

#3738 如何逃离 async/await 地狱
  TODO1/avoiding-the-async-await-hell.md
Labels: 其他, 正在校对

#3766 更为详细的地图、导航和助手功能 —— Google I/O 2018 的 Android 应用更新
  TODO1/google-i-o-2018-for-android-updated-w-more-detailed-map-navigation-assistant-action.md
Labels: Android, 正在校对

#3744 使用 python 和 keras 实现卷积神经网络
  TODO/implementation-of-convolutional-neural-network-using-python-and-keras.md
Labels: 后端, 正在校对

#3729 用户体验中的稀缺性：成为常态的心理偏差
  TODO1/scarcity-in-ux-the-psychological-bias-that-became-the-norm.md
Labels: 正在校对, 设计

#3715 深入浅出 JavaScript 关键词 — this
  TODO1/mastering-javascript-this-keyword-detailed-guide.md
Labels: 前端, 正在校对

#3728 Android Studio 切换至 D8 dexer
  TODO1/android-studio-switching-to-d8-dexer.md
Labels: Android, Google, 校对认领, 正在校对

#3731 Android 支持库 21.1.0 中的 Loaders
  TODO1/loaders-in-support-library-27-1-0.md
Labels: Android, Google, 校对认领, 正在校对

#3767 轻松管理 Swift 项目中的不同环境
  TODO1/manage-different-environments-in-your-swift-project-with-ease.md
Labels: iOS, 正在校对

#3745 WindowsInsets 和 Fragment 过渡动画
  TODO1/windows-insets-fragment-transitions.md
Labels: Android, Google, 标注, 正在校对

#3757 使用 React, Redux, and SVG 开发游戏 - 第3部分
  TODO1/developing-games-with-react-redux-and-svg-part-3.md
Labels: 前端, 正在校对

#3763 Java 桥接方法详解
  TODO1/java-bridge-methods-explained.md
Labels: 后端, 翻译完成

#3742 Swift 写网络层：用面向协议的方式
  TODO1/writing-network-layer-in-swift-protocol-oriented-approach.md
Labels: iOS, 标注, 正在校对

#3743 构建、测试、分发！运用 Fastlane 与 Jenkins，完整的 iOS 持交付指南。
  TODO1/build-it-test-it-deliver-it-complete-ios-guide-on-continuous-delivery-with-fastlane-and-jenkins.md
Labels: iOS, 标注, 正在校对

#3773 使用 iPhone X 与 Maya 实现快速面部捕捉
  TODO1/using-iphone-x-maya-quick-cheap-facial-capture.md
Labels: iOS, 标注, 正在校对

#3765 移动游戏发行的新时代
  TODO1/a-new-era-of-launching-mobile-games.md
Labels: Android, Google, 正在校对

#3770 JavaScript 是如何工作的：Web 推送通知的机制
  TODO1/how-javascript-works-the-mechanics-of-web-push-notifications.md
Labels: 前端, 正在校对

#3801 如何在 5 分钟之内写出一个不错的 loading 界面
  TODO1/how-to-build-a-delightful-loading-screen-in-5-minutes.md
Labels: 前端, 正在校对

#3784 给初学者的 Jupyter Notebook 教程
  TODO1/jupyter-notebook-tutorial.md
Labels: 后端, 正在校对

#3814 这就是为什么我们需要在 React 的类组件中为事件处理程序绑定 this
  TODO1/this-is-why-we-need-to-bind-event-handlers-in-class-components-in-react.md
Labels: 前端, 正在校对

#3826 30 分钟 Python 爬虫教程
  TODO1/30-minute-python-web-scraper.md
Labels: 后端, 正在校对

#3829 JavaScript 是如何工作的：CSS 和 JS 动画背后的原理 + 如何优化性能
  TODO1/how-javascript-works-under-the-hood-of-css-and-js-animations-how-to-optimize-their-performance.md
Labels: 前端, 正在校对

#3819 如何在安卓应用中使用 TensorFlow Mobile
  TODO1/how-to-use-tensorflow-mobile-in-android-apps.md
Labels: AI, Android, 正在校对

#3813 BigQuery 中的比特币：使用公共数据分析区块链
  TODO1/bitcoin-in-bigquery-blockchain-analytics-on-public-data.md
Labels: 区块链, 正在校对

#3752 部署！=发布（第二部分）
  TODO1/deploy-not-equal-release-part-two.md
Labels: 其他, 正在校对

#3835 由 Node.js 发送 Web 推送通知
  TODO1/sending-web-push-notifications-from-node-js.md
Labels: 后端, 校对认领, 正在校对

#3815 在浏览器里使用 TenserFlow.js 实时估计人体姿态
  TODO1/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js.md
Labels: AI, 正在校对

#3834 ⚛ React 状态管理工具博物馆
  TODO1/the-react-state-museum.md
Labels: 前端, 正在校对

#3855 可用但最不常见的 HTML5 标签
  TODO1/the-most-uncommon-html5-tags.md
Labels: 前端, 校对认领, 正在校对

#3844 带你领略 ConstraintLayout 1.1 的新功能
  TODO1/introducing-constraint-layout-1-1.md
Labels: Android, 正在校对

#3858 JavaScript 是如何工作的：深入网络层 + 如何优化性能和安全
  TODO1/how-javascript-works-inside-the-networking-layer-how-to-optimize-its-performance-and-security.md
Labels: 前端, 正在校对

#3849 使用 Go 语言的流模式来解析 DrugBank 的 XML（或者任何大的 XML 文件）
  TODO1/parsing-drugbank-xml-or-any-large-xml-file-in-streaming-mode-in-go.md
Labels: 后端, 校对认领, 正在校对, 问题标注

#3817 JavaScript 是如何工作的：对比 WebAssembly + 为什么在某些场景下它比 JavaScript 更合适
  TODO1/how-javascript-works-a-comparison-with-webassembly-why-in-certain-cases-its-better-to-use-it.md
Labels: 前端, 标注, 校对认领, 正在校对

#3861 可微可塑性：一种学会学习的新方法
  TODO1/differentiable-plasticity.md
Labels: AI, 正在校对

#3866 在 Android P 中使用默认的 TLS 来保护你的用户
  TODO1/protecting-users-with-tls-by-default-in.md
Labels: Android, Google, 校对认领, 正在校对

#3850 Swift 中的 Playground 驱动开发
  TODO1/playground-driven-development-in-swift.md
Labels: iOS, 标注, 正在校对

#3859 Swift 中的内存泄漏
  TODO1/memory-leaks-in-swift.md
Labels: iOS, 标注, 正在校对

#3874 JavaScript 是如何工作的：Service Worker 的生命周期与使用场景
  TODO1/how-javascript-works-service-workers-their-life-cycle-and-use-cases.md
Labels: 前端, 正在校对

#3879 WWDC 2018：关于iOS 12、iPad Pro、新MacBook及更多产品的所有预测
  TODO1/wwdc-2018-rumors-ios-12-new-macbook-air-ipad-pro-homepod.md
Labels: 产品, 校对认领, 正在校对

#3906 原文修正，感谢江水寒
  TODO1/what-is-a-python-core-developer-pycon-2018.md
Labels: 校对认领

#3904 给人类的机器学习指南🤖👶
  TODO1/why-machine-learning-matters.md
Labels: AI, 正在校对

#3877 不越狱探索 App
  TODO1/exploring-apps-without-jailbreaking.md
Labels: iOS, 校对认领, 正在校对

#3908 一个简单的 ES6 Promises 指南
  TODO1/a-simple-guide-to-es6-promises.md
Labels: 前端, 正在校对

#3913 modify original subtitle in English
  TODO1/talking-django-async-pycon-2018.md
Labels: 标注

#3890 通过安全浏览保护 WebView
  TODO1/protecting-webview-with-safe-browsing.md
Labels: Android, 校对认领, 正在校对

#3875 Font-size：一个出乎意料复杂的 CSS 属性
  TODO1/font-size-an-unexpectedly-complex-css-property.md
Labels: 前端, 正在校对, 问题标注

#3889 使用 styled-components 的 React 服务器端渲染极简指南
  TODO1/the-simple-guide-to-server-side-rendering-react-with-styled-components.md
Labels: 前端, 正在校对, 问题标注
