Repository xitu/gold-miner, pull requests merged in 2018-06, with the labels that each got.

#3885 创造华丽 UI 的7个规则（Part 1）
  TODO1/7-rules-for-creating-gorgeous-ui-part-1.md
Labels: 正在校对, 设计, 问题标注

#3907 支撑现代存储系统的算法
  TODO1/algorithms-behind-modern-storage-systems.md
Labels: 后端, 正在校对

#3909 为什么 VueX 是前端与 API 之间的完美接口
  TODO1/vuex-perfect-interface-frontend-backend.md
Labels: 前端, 标注, 正在校对

#3932 什么是 JavaScript 生成器？如何使用生成器？
  TODO1/what-are-javascript-generators-and-how-to-use-them.md
Labels: 前端, 正在校对

#3910 从零开始，在 Redux 中构建时间旅行式调试
  TODO1/build-time-travel-debugging-in-redux-from-scratch.md
Labels: 前端, 正在校对

#3892 在 Laravel 应用程序之间共享数据库
  TODO1/sharing-databases-between-laravel-applications.md
Labels: 后端, 校对认领

#3905 使用 Span 来修改文本样式的优质体验
  TODO1/spantastic-text-styling-with-spans.md
Labels: Android, 校对认领, 正在校对

#3940 watchOS 5 愿望清单：Apple Watch Podcasts、open Siri face 和更新 Control Center 等
  TODO1/watchos-5-wish-list.md
Labels: 产品, 校对认领

#3937 关于 HomePod WWDC 的愿望清单: 测试版程序、新的语音资源、Echo 等功能
  TODO1/homepod-12-wish-list.md
Labels: 产品, 校对认领

#3950 完善字幕
  TODO1/secrets-of-a-wsgi-master-pycon-2018.md
Labels: 校对认领

#3927 Babel 7.0 版本将带来的很酷的事情
  TODO1/were-nearing-the-7-0-babel-release-here-s-all-the-cool-stuff-we-ve-been-doing.md
Labels: 前端, 标注, 校对认领, 正在校对

#3929 Erlang 之禅第一部分
  TODO1/the-zen-of-erlang-1.md
Labels: 后端, 标注, 正在校对

#3926 情景活动感知识别的 Transition API 新特性面向全体开发者开放
  TODO1/activity-recognitions-new-transition.md
Labels: Android, 标注, 正在校对

#3953 深度学习中所需的线性代数知识
  TODO1/linear-algebra-for-deep-learning.md
Labels: AI, enhancement, 正在校对

#3967 深度学习中所需的线性代数知识 —— 发布后有错修改
  TODO1/linear-algebra-for-deep-learning.md
Labels: 校对认领

#3891 如何通过树莓派的深度学习轻松检测对象
  TODO1/how-to-easily-detect-objects-with-deep-learning-on-raspberrypi.md
Labels: 后端, 正在校对

#3964 如何针对 Android 优化您的应用（Go 版）
  TODO1/how-to-optimize-your-app-for-android-go-edition.md
Labels: Android, Google, 校对认领

#3976 为何前端开发如此不稳定
  TODO1/why-is-front-end-development-so-unstable.md
Labels: 前端, 标注, 正在校对

#3919 [字幕翻译] 玛利亚塔·维加亚 — 什么是 Python 核心开发者？— PyCon 2018
  TODO1/what-is-a-python-core-developer-pycon-2018.md
Labels: 后端, 校对认领, 正在校对, 问题标注

#3945 在 SnackBar，Navigation 和其他事件中使用 LiveData（SingleLiveEvent 案例）
  TODO1/livedata-with-snackbar-navigation-and-other-events-the-singleliveevent-case.md
Labels: Android, Google, enhancement, 校对认领, 正在校对

#3961 前端开发框架的实战对比（2018年更新）
  TODO1/a-real-world-comparison-of-front-end-frameworks-with-benchmarks-2018-update.md
Labels: enhancement, 前端, 标注, 正在校对

#3968 [字幕翻译] James Bennett — 理解 Python 字节码 — PyCon 2018
  TODO1/understanding-python-bytecode-pycon-2018.md
Labels: 后端, 正在校对

#3939 创造华丽 UI 的 7 个规则（Part 2）
  TODO1/7-rules-for-creating-gorgeous-ui-part-2.md
Labels: enhancement, 标注, 校对认领, 正在校对, 设计

#3965 或许你并不需要 Rust 和 WASM 来提升 JS 的执行效率 — 第一部分
  TODO1/maybe-you-dont-need-rust-to-speed-up-your-js-1.md
Labels: 前端, 标注, 校对认领, 正在校对

#3972 一种更简单的途径在 Java 中进行函数式编程
  TODO1/an-easier-path-to-functional-programming-in-java.md
Labels: 后端, 标注, 正在校对

#3983 Vue.js 还是 React？你会选择哪一个？为什么?
  TODO1/vuejs-or-react-which-you-would-chose-and-why.md
Labels: 前端, 标注, 正在校对

#3958 如何避免拍脑袋想出的产品优先策略
  TODO1/how-to-avoid-opinion-based-product-prioritization.md
Labels: Android, Google, 正在校对

#3996 怎样（以及为什么要）保持你的 Git 提交记录的整洁
  TODO1/keeping-git-commit-history-clean.md
Labels: 翻译完成

#4001 通过插图学习 Go 的并发
  TODO1/learning-gos-concurrency-through-illustrations.md
Labels: 后端, 标注, 正在校对, 质量较差

#4002 为 GitHub 项目做出贡献的初学者指南
  TODO1/the-beginners-guide-to-contributing-to-a-github-project.md
Labels: 其他, 标注, 正在校对

#3993 Kubernetes 分布式应用部署和人脸识别 app 实例
  TODO1/kubernetes-distributed-application.md
Labels: 后端, 标注, 正在校对

#3991 PWA 再进化，可以生成一个安卓原生的 WebAPK 了
  TODO1/webapks-on-android.md
Labels: Android, 校对认领, 正在校对

#4015 Airbnb 中的 React Native
  TODO1/react-native-at-airbnb.md
Labels: iOS, 校对认领, 正在校对

#4012 如何用 Android vitals 解决应用程序的质量问题
  TODO1/how-to-fix-app-quality-issues-with-android-vitals-and-improve-performance-on-the-play-store-part.md
Labels: Android, 正在校对

#3979 Android 应用和游戏的无障碍开发介绍
  TODO1/introduction-to-accessibility-for-android-apps-and-games.md
Labels: Android, Google, enhancement, 标注, 校对认领, 正在校对

#3974 [字幕翻译] Graham Dumpleton - WSGI大师的秘密。 - PyCon 2018
  TODO1/secrets-of-a-wsgi-master-pycon-2018.md
Labels: enhancement, 后端, 正在校对

#4022 怎样使用简单的三角函数来创建更好的加载动画
  TODO1/how-you-can-use-simple-trigonometry-to-create-better-loaders.md
Labels: 前端, 校对认领, 正在校对

#4010 苹果公司如何修复 3D Touch
  TODO1/how-apple-can-fix-3d-touch.md
Labels: iOS, 校对认领, 正在校对

#3982 WOFF文件格式 1.0
  TODO1/recommendation-woff-2012-12-13.md
Labels: 前端, 校对认领, 问题标注

#3986 为什么 UX，UI，CX，IA，IxD 和其他类型的设计都是愚蠢的
  TODO1/design-types-7d75839a20ea.md
Labels: 标注, 正在校对, 设计

#4037 从 Java EE 8 Security API 开始 — 第一部分
  TODO1/j-javaee8-security-api-1.md
Labels: 后端, 正在校对
