Repository xitu/gold-miner, pull requests merged in 2019-05, with the labels that each got.

#5683 Spring 的分布式事务实现 — 使用和不使用 XA — 第一部分
  TODO1/distributed-transactions-in-spring-with-and-without-xa-part-1.md
Labels: 后端, 标注, 校对认领, 正在校对

#5667 为你的 iOS App 构建分离测试
  TODO1/structuring-your-ios-app-for-split-testing.md
Labels: iOS, 标注, 校对认领, 正在校对

#5699 机器学习可以建模简单的数学函数吗？
  TODO1/can-machine-learning-model-simple-math-functions.md
Labels: AI, enhancement, 正在校对

#5707 Create what-we-ve-learned-about-hiring-engineering-managers.md
  TODO1/what-we-ve-learned-about-hiring-engineering-managers.md
Labels: 其他

#5708 Create project-worlds-achieving-god-mode-in-digital-design.md
  TODO1/project-worlds-achieving-god-mode-in-digital-design.md
Labels: 设计

#5706 Create password-reset-emails-in-your-react-app-made-easy-with-nodemailer.md
  TODO1/password-reset-emails-in-your-react-app-made-easy-with-nodemailer.md
Labels: 后端

#5653 深度学习能力的三个等级
  TODO1/deep-learning-competence.md
Labels: AI, 标注, 正在校对

#5659 Swift 代码格式化
  TODO1/swift-code-formatters.md
Labels: iOS, 标注, 正在校对

#5687 Elixir、Phoenix、Absinthe、GraphQL、React 和 Apollo：一次近乎疯狂的深度实践 —— 第一部分
  TODO1/elixir-phoenix-absinthe-graphql-react-apollo-absurdly-deep-dive-1.md
Labels: 前端, 标注, 校对认领, 正在校对

#5689 重试、超时和退避
  TODO1/retries-timeouts-backoff.md
Labels: enhancement, 后端, 标注, 校对认领, 正在校对

#5700 使用 VS Code 调试 Node.js 的超简单方法
  TODO1/the-absolute-easiest-way-to-debug-node-js-with-vscode.md
Labels: 后端, 标注, 正在校对

#5691 使用 React 和 ImmutableJS 构建一个拖放布局构建器
  TODO1/build-a-drag-and-drop-dnd-layout-builder-with-react-and-immutablejs.md
Labels: 前端, 标注, 正在校对

#5676 使用 WFST 进行语音识别
  TODO1/an-introduction-to-speech-recognition-using-wfsts.md
Labels: AI, 标注, 正在校对

#5688 Commit 提交指南
  TODO1/commit-messages-guide.md
Labels: enhancement, 其他, 正在校对

#5719 Create the-forbidden-inline-attribute-in-swift.md
  TODO1/the-forbidden-inline-attribute-in-swift.md
Labels: iOS, 校对认领

#5664 Room 🔗 Coroutines
  TODO1/room-coroutines.md
Labels: Android, 标注, 正在校对

#5703 笔记 6. ES6：参数默认值
  TODO1/es6-notes-default-values-of-parameters.md
Labels: enhancement, 前端, 正在校对

#5714 使用 Python Flask 框架发布机器学习 API
  TODO1/publishing-machine-learning-api-with-python-flask.md
Labels: AI, 标注, 正在校对

#5733 Create keras-cheat-sheet.md
  TODO1/keras-cheat-sheet.md
Labels: AI, 校对认领

#5736 Create es6-and-npm-modules-in-google-apps-script.md
  TODO1/es6-and-npm-modules-in-google-apps-script.md
Labels: 前端

#5738 Create you-should-never-ever-run-directly-against-node-js-in-production-maybe.md
  TODO1/you-should-never-ever-run-directly-against-node-js-in-production-maybe.md
Labels: 后端

#5740 Create nodejs-express-api-markdown-html.md
  TODO1/nodejs-express-api-markdown-html.md
Labels: 后端

#5717 在数据可视化中，我们曾经“画”下的那些错误
  TODO1/mistakes-weve-drawn-a-few.md
Labels: AI, 正在校对, 设计

#5737 Create tips-to-use-VSCode-more-efficiently.md
  TODO1/tips-to-use-VSCode-more-efficiently.md
Labels: 其他

#5726 完美的 Javascript 单元测试
  TODO1/the-perfect-javascript-unit-test.md
Labels: 前端, 标注, 正在校对

#5752 Keras 速查表：使用 Python 构建神经网络
  TODO1/keras-cheat-sheet.md
Labels: AI, 正在校对

#5725 自动补全规则
  TODO1/rules-for-autocomplete.md
Labels: 后端, 翻译完成

#5696 WorkManager 基础入门
  TODO1/workmanager-basics.md
Labels: Android, 标注, 正在校对

#5739 Javascript Array.push 要比 Array.concat 快 945 倍！🤯🤔
  TODO1/javascript-array-push-is-945x-faster-than-array-concat.md
Labels: 前端, 标注, 正在校对

#5729 现代 JavaScript 开发中的设计模式
  TODO1/design-patterns-in-modern-javascript-development.md
Labels: 前端, 标注, 正在校对

#5715 谷歌寻踪圣诞老人应用（Santa Tracker）迁移到 Android App Bundle 记录
  TODO1/google-santa-tracker-moving-to-an-android-app-bundle.md
Labels: Android, 标注, 正在校对

#5723 Swift 里的强制 @inline 注解
  TODO1/the-forbidden-inline-attribute-in-swift.md
Labels: enhancement, iOS, 标注, 校对认领, 正在校对

#5757 帮你高效使用 VS Code 的秘诀
  TODO1/tips-to-use-VSCode-more-efficiently.md
Labels: 其他, 标注, 正在校对

#5778 Create designing-sound-and-silence.md
  TODO1/designing-sound-and-silence.md
Labels: 设计

#5716 Web 使用 CSS Shapes 的艺术设计
  TODO1/art-direction-for-the-web-using-css-shapes.md
Labels: 前端, 标注, 正在校对

#5782 Create effective-bloc-pattern.md
  TODO1/effective-bloc-pattern.md
Labels: Flutter

#5783 Create flutter-layout-cheat-sheet.md
  TODO1/flutter-layout-cheat-sheet.md
Labels: Flutter

#5712 Elixir、Phoenix、Absinthe、GraphQL、React 和 Apollo：一次近乎疯狂的深度实践 —— 第二部分
  TODO1/elixir-phoenix-absinthe-graphql-react-apollo-absurdly-deep-dive-2.md
Labels: 前端, 标注, 正在校对

#5775 用 Word2vec 表示音乐？
  TODO1/representing-music-with-word2vec.md
Labels: AI, 校对认领, 正在校对

#5759 化 Markdown 为 HTML：用 Node.js 和 Express 搭建接口
  TODO1/nodejs-express-api-markdown-html.md
Labels: enhancement, 前端, 后端, 正在校对

#5771 我们从招聘技术经理的过程中学到了什么
  TODO1/what-we-ve-learned-about-hiring-engineering-managers.md
Labels: 其他, 标注, 正在校对

#5799 Create swift-5-frozen-enums.md
  TODO1/swift-5-frozen-enums.md
Labels: iOS, 标注

#5801 create ios-file-provider-extension-tutorial.md
  TODO1/ios-file-provider-extension-tutorial.md
Labels: iOS, 标注

#5744 Go 语言命令概览
  TODO1/an-overview-of-go-tooling.md
Labels: 后端, 标注, 正在校对

#5764 使用 Nodemailer 轻松构建能通过电子邮件的重置密码的 React 应用程序
  TODO1/password-reset-emails-in-your-react-app-made-easy-with-nodemailer.md
Labels: Tag, 后端, 标注, 校对认领, 正在校对

#5768 属于 JavaScript 开发者的 Crypto 简介
  TODO1/the-javascript-developers-intro-to-crypto.md
Labels: 区块链, 标注, 正在校对

#5776 理解 Vue.js 中的 Mixins
  TODO1/understanding-mixins-in-vue-js.md
Labels: 前端, 标注, 正在校对

#5770 最优控制：LQR
  TODO1/optimal-control-lqr.md
Labels: 算法, 翻译完成

#5777 如果可以，永远不要在生产中直接运行 Node.js
  TODO1/you-should-never-ever-run-directly-against-node-js-in-production-maybe.md
Labels: 后端, 标注, 正在校对

#5742 Android Studio Project Marble: Apply Changes
  TODO1/android-studio-project-marble-apply-changes.md
Labels: Android, 标注, 校对认领, 正在校对

#5816 Create how-to-build-a-cli-with-node-js.md
  TODO1/how-to-build-a-cli-with-node-js.md
Labels: 后端

#5819 Create time-series-analysis-visualization-forecasting-with-lstm.md
  TODO1/time-series-analysis-visualization-forecasting-with-lstm.md
Labels: AI

#5779 在 Google Apps 脚本中使用 ES6 和 npm 模块
  TODO1/es6-and-npm-modules-in-google-apps-script.md
Labels: 前端, 标注, 正在校对

#5795 声音设计与无声设计
  TODO1/designing-sound-and-silence.md
Labels: 标注, 正在校对, 设计

#5758 如何用 CSS Animations 实现图片滑动出文字
  TODO1/slide-an-image-to-reveal-text-with-css-animations.md
Labels: 前端, 标注, 正在校对

#5825 Create extreme-rare-event-classification-using-autoencoders-in-keras.md
  TODO1/extreme-rare-event-classification-using-autoencoders-in-keras.md
Labels: AI

#5767 通过优化 Gunicorn 配置提高性能
  TODO1/gunicorn-3-means-of-concurrency.md
Labels: 后端, 校对认领

#5774 C++ 和 Android 本地 Activity 初探
  TODO1/getting-started-with-c-and-android-native-activities.md
Labels: Android, enhancement, 校对认领, 正在校对

#5794 超快速的分析器（一）：优化扫描器
  TODO1/blazingly-fast-parsing-part-1-optimizing-the-scanner.md
Labels: Tag, 后端, 校对认领, 正在校对

#5769 理解 WebView
  TODO1/understanding-webviews.md
Labels: enhancement, 前端, 延期啦，大大们赶紧哒, 正在校对

#5829 Create how-to-get-a-progressive-web-app-into-the-google-play-store.md
  TODO1/how-to-get-a-progressive-web-app-into-the-google-play-store.md
Labels: 前端

#5830 Create guide-node-js-logging.md
  TODO1/guide-node-js-logging.md
Labels: 后端

#5831 Create what-is-this-the-inner-workings-of-javascript-objects.md
  TODO1/what-is-this-the-inner-workings-of-javascript-objects.md
Labels: 前端

#5797 项目世界 — 在数字设计中实现上帝模式
  TODO1/project-worlds-achieving-god-mode-in-digital-design.md
Labels: 前端, 标注, 校对认领, 正在校对, 设计

#5814 为什么 HTML 中复选框样式难写 — 本文给你答案
  TODO1/styling-html-checkboxes-is-hard-heres-why.md
Labels: enhancement, 前端, 标注, 正在校对

#5841 Create implement-a-design-with-css.md
  TODO1/implement-a-design-with-css.md
Labels: 前端

#5842 Create micro-design-systems-breaking-the-monolith.md
  TODO1/micro-design-systems-breaking-the-monolith.md
Labels: 设计

#5818 用 React Hook 和调试工具提升应用性能
  TODO1/increase-your-apps-performance-with-react-hooks-and-the-react-dev-tools.md
Labels: 前端, 标注, 正在校对

#5820 关于 Flutter 页面路由过渡动画，你所需要知道的一切
  TODO1/everything-you-need-to-know-about-flutter-page-route-transition.md
Labels: Flutter, 标注, 校对认领, 正在校对

#5823 在项目中集成第三方动画库 —— 第二部分
  TODO1/integrating-third-party-animation-libraries-to-a-project-2.md
Labels: Tag, 前端, 校对认领, 正在校对

#5808 Swift 5 中的枚举冻结
  TODO1/swift-5-frozen-enums.md
Labels: enhancement, iOS, 正在校对

#5855 从原型图到成品：步步深入 CSS 布局
  TODO1/implement-a-design-with-css.md
Labels: 前端, 翻译完成

#5832 通过一些例子深入了解 JavaScript 的 Async 和 Await
  TODO1/understanding-javascript-async-and-await-with-examples.md
Labels: 前端, 标注, 正在校对

#5848 时间序列分析、可视化、和使用 LSTM 预测
  TODO1/time-series-analysis-visualization-forecasting-with-lstm.md
Labels: AI, 标注, 正在校对

#5850 什么是 `this`？JavaScript 对象的内部工作原理
  TODO1/what-is-this-the-inner-workings-of-javascript-objects.md
Labels: 前端, 标注, 正在校对

#5837 Redux vs. React 的 Context API
  TODO1/context-api-vs-redux.md
Labels: 前端, 翻译完成

#5834 浅析深度学习神经网络的卷积层
  TODO1/convolutional-layers-for-deep-learning-neural-networks.md
Labels: AI, 翻译完成

#5857 用 React 制作线性代数教程示例：网格与箭头
  TODO1/react-for-linear-algebra-examples-grid-and-arrows.md
Labels: 前端, 标注, 算法

#5878 Create in-defense-of-the-ternary-statement.md
  TODO1/in-defense-of-the-ternary-statement.md
Labels: 前端

#5877 Create visualising-machine-learning-datasets-with-googles-facets.md
  TODO1/visualising-machine-learning-datasets-with-googles-facets.md
Labels: AI

#5847 如何在 Google Play 应用商店中发布 PWA
  TODO1/how-to-get-a-progressive-web-app-into-the-google-play-store.md
Labels: 前端, 标注, 正在校对
