Repository xitu/gold-miner, pull requests merged in 2019-08, with the labels that each got.

#6227 数据分片是如何在分布式 SQL 数据库中起作用的
  TODO1/how-data-sharding-works-in-a-distributed-sql-database.md
Labels: enhancement, 后端

#6263 Create flutter-state-management-setstate-bloc-valuenotifier-provider.md
  TODO1/flutter-state-management-setstate-bloc-valuenotifier-provider.md
Labels: Flutter

#6243 Web 组件的问题
  TODO1/the-problem-with-web-components.md
Labels: 前端, 标注

#6247 XGBoost 算法万岁！
  TODO1/xgboost-algorithm-long-may-she-reign.md
Labels: AI, 翻译完成

#6239 逆向工程，如何在 JavaScript 中打造一个测试库
  TODO1/reverse-engineering-how-you-can-build-a-test-library.md
Labels: 前端, 翻译完成

#6223 元设计师的崛起
  TODO1/the-rise-of-the-meta-designer.md
Labels: 翻译完成, 设计

#6221 Android 应用程序的订阅 101 系列视频
  TODO1/subscriptions-101-for-android-apps.md
Labels: Android, merging-soon-if-no-other-reviewer, 校对认领

#6282 Create http-security-headers-a-complete-guide.md
  TODO1/http-security-headers-a-complete-guide.md
Labels: 其他

#6284 Create current-status-of-python-packaging.md
  TODO1/current-status-of-python-packaging.md
Labels: 后端

#6286 Create a-little-reminder-that-pseudo-elements-are-children-kinda.md
  TODO1/a-little-reminder-that-pseudo-elements-are-children-kinda.md
Labels: 前端

#6269 如何使用 Keras 训练目标检测模型
  TODO1/how-to-train-an-object-detection-model-with-keras.md
Labels: AI, 标注

#6268 愿未来没有 Webpack
  TODO1/pika-web-a-future-without-webpack.md
Labels: 前端, 翻译完成

#6230 人工智能何以留存
  TODO1/why-ai-is-here-to-stay.md
Labels: AI, 标注

#6273 开源难题：如何保持长久
  TODO1/the-open-source-conundrum-how-do-we-keep-the-lights-on.md
Labels: enhancement, 其他

#6298 Create styling-modern-web-apps.md
  TODO1/styling-modern-web-apps.md
Labels: 前端

#6300 Create modern-script-loading.md
  TODO1/modern-script-loading.md
Labels: 前端, 校对认领

#6312 Create a-closer-look-at-the-provider-package.md
  TODO1/a-closer-look-at-the-provider-package.md
Labels: Flutter, 校对认领

#6314 Create dart-features-for-better-code-types-and-working-with-parameters.md
  TODO1/dart-features-for-better-code-types-and-working-with-parameters.md
Labels: Flutter, 校对认领

#6316 Create how-writing-simple-javascript-got-us-6200-github-stars-in-a-single-day.md
  TODO1/how-writing-simple-javascript-got-us-6200-github-stars-in-a-single-day.md
Labels: 前端

#6319 Create react-16-lifecycle-methods-how-and-when-to-use-them.md
  TODO1/react-16-lifecycle-methods-how-and-when-to-use-them.md
Labels: 前端

#6252 利用 84 种认知偏见设计更好的产品 —— 第三部分
  TODO1/collection-cognitive-biases-how-to-use-3.md
Labels: 产品, 翻译完成

#6259 可靠地运维一个大型分布式系统：我的学习实践
  TODO1/operating-a-high-scale-distributed-system.md
Labels: 后端, 翻译完成

#6311 当每个产品设计都是一种意见
  TODO1/when-every-product-of-design-is-one-of-opinion.md
Labels: 正在校对, 设计

#6328 Create the-many-ways-to-include-css-in-javascript-applications.md
  TODO1/the-many-ways-to-include-css-in-javascript-applications.md
Labels: 前端

#6327 开发模式的工作原理是什么？
  TODO1/how-does-the-development-mode-work.md
Labels: 正在校对

#6251 我用 Javascript 实现 tic tac toe 游戏
  TODO1/i-built-tic-tac-toe-with-javascript.md
Labels: 前端, 标注

#6258 重建桌面端的 Slack 而不是重写
  TODO1/when-a-rewrite-isnt-rebuilding-slack-on-the-desktop.md
Labels: 前端, 标注

#6260 如何用 JavaScript 编写扫雷游戏
  TODO1/how-to-build-minesweeper-with-javascript.md
Labels: 前端, 标注

#6264 胜者是 Stream：NodeJS 读取大数据集合几种方法的性能比较
  TODO1/streams-for-the-win-a-performance-comparison-of-nodejs-methods-for-reading-large-datasets-pt-2.md
Labels: 后端, 标注

#6266 通过 Rust 学习解析器组合器 — 第四部分
  TODO1/learning-parser-combinators-with-rust-4.md
Labels: 后端, 标注

#6274 使用 Typescript 使无效状态不可恢复
  TODO1/typescript-impossible-states-irrepresentable.md
Labels: 前端, 标注

#6270 深入理解 Python 类型提示
  TODO1/a-deep-dive-on-python-type-hints.md
Labels: 后端, 翻译完成

#6292 小提示：伪元素是子元素，吧。
  TODO1/a-little-reminder-that-pseudo-elements-are-children-kinda.md
Labels: 前端, 正在校对

#6341 Create killing-a-process-and-all-of-its-descendants.md
  TODO1/killing-a-process-and-all-of-its-descendants.md
Labels: 后端, 校对认领

#6343 Create syslog-the-complete-system-administrator-guide.md
  TODO1/syslog-the-complete-system-administrator-guide.md
Labels: 后端

#6228 Git：透过命令学概念 —— 第三部分
  TODO1/learn-git-concepts-not-commands-3.md
Labels: merging-soon-if-no-other-reviewer, 其他

#6321 HTTP Security Headers 完整指南
  TODO1/http-security-headers-a-complete-guide.md
Labels: 其他, 标注

#6291 Docker 的学习和应用
  TODO1/learn-enough-docker-to-be-useful-1.md
Labels: 后端, 标注

#6290 用 Rust 写编译器
  TODO1/writing-a-compiler-in-rust.md
Labels: 后端, 标注

#6330 冲冠一怒为代码：论程序员与负能量
  TODO1/rage-against-the-codebase-programmers-and-negativity.md
Labels: 其他, 延期啦，大大们赶紧哒, 正在校对

#6355 已发布译文《深入理解 Python 的类型提示》 笔误修改
  TODO1/a-deep-dive-on-python-type-hints.md
Labels: 校对认领

#6354 Create lru-cache.md
  lru-cache.md
Labels: WIP

#6347 如何杀死一个进程和它的所有子进程
  TODO1/killing-a-process-and-all-of-its-descendants.md
Labels: 后端, 正在校对
