Repository xitu/gold-miner, pull requests merged in 2019-09, with the labels that each got.

#6364 【笔误修改完毕】冲冠一怒为代码：论程序员与负能量.md
  TODO1/rage-against-the-codebase-programmers-and-negativity.md
Labels: 标注

#6272 用户需要什么样的 Flutter 依赖包? 来自 Q2 用户调查的结果
  TODO1/what-do-flutter-package-users-need-findings-from-q2-user-survey.md
Labels: Flutter, Tag, 标注, 校对认领

#6351 为什么你要学习 Go？
  TODO1/why-should-you-learn-go.md
Labels: enhancement, 后端

#6345 React 16 生命周期函数：如何以及何时使用它们
  TODO1/react-16-lifecycle-methods-how-and-when-to-use-them.md
Labels: 前端, 标注

#6372 Create checking-the-network-connection-with-a-react-hook.md
  TODO1/checking-the-network-connection-with-a-react-hook.md
Labels: 前端, 校对认领

#6322 Python 的打包现状（写于 2019 年）
  TODO1/current-status-of-python-packaging.md
Labels: 后端, 标注

#6381 Create how-to-develop-a-generative-adversarial-network-for-a-1-dimens…
  TODO1/how-to-develop-a-generative-adversarial-network-for-a-1-dimensional-function-from-scratch-in-keras.md
Labels: AI

#6398 Create ces-learn-css-layout-part-1-flexbox.md
  TODO1/ces-learn-css-layout-part-1-flexbox.md
Labels: 前端

#6399 Create un-places-to-learn-css-layout-part-2-grid-layout.md
  TODO1/un-places-to-learn-css-layout-part-2-grid-layout.md
Labels: 前端

#6402 Create this-is-how-to-plan-a-day.md
  TODO1/this-is-how-to-plan-a-day.md
Labels: 其他

#6386 如何提升你的数据结构、算法以及解决问题的能力
  TODO1/how-to-improve-your-data-structures-algorithms-and-problem-solving-skills.md
Labels: 正在校对, 算法

#6374 使用 React Hook 来检查网络连接状态
  TODO1/checking-the-network-connection-with-a-react-hook.md
Labels: 前端, 校对认领, 正在校对

#6384 如何编写全栈 JavaScript 应用
  TODO1/how-writing-simple-javascript-got-us-6200-github-stars-in-a-single-day.md
Labels: 前端, 标注
