Repository xitu/gold-miner, pull requests merged in 2019-03, with the labels that each got.

#5217 理解数据库分片
  TODO1/understanding-database-sharding.md
Labels: 后端, 标注, 翻译完成

#5245 用 Rust 写一个微服务
  TODO1/writing-a-microservice-in-rust.md
Labels: 后端, 标注, 正在校对

#5269 网速敏感的视频延迟加载方案
  TODO1/lazy-loading-video-based-on-connection-speed.md
Labels: 前端, 标注, 翻译完成

#5287 如何用 Python 从零开始构建你自己的神经网络
  TODO1/how-to-build-your-own-neural-network-from-scratch-in-python.md
Labels: AI, 标注, 翻译完成

#5288 在 JSX 代码中可以加入 console.log 吗？
  TODO1/can-you-console-log-in-jsx.md
Labels: 前端, 标注, 正在校对

#5292 TSLint in 2019
  TODO1/tslint-in-2019.md
Labels: 前端, 标注

#5273 Javascript - Generator-Yield/Next 和 Async-Await
  TODO1/javascript-generator-yield-next-async-await.md
Labels: 前端, 标注, 正在校对

#5289 选择 Grid 还是 Flex？
  TODO1/to-grid-or-to-flex.md
Labels: 前端, 标注, 正在校对

#5308 错误纠正 / 使用 Swift 的 iOS 设计模式（第一部分）
  TODO1/design-patterns-on-ios-using-swift-part-1-2.md
Labels: 标注

#5278 从著名数据数据可视化中我们可以学到什么
  TODO1/the-most-famous-data-visualisation-ever-and-what-we-can-learn-from-it.md
Labels: AI, 翻译完成

#5295 数字产品为人们授权的时代已来
  TODO1/the-future-of-digital-product-design-is-about-human-empowerment.md
Labels: enhancement, 标注, 设计

#5272 Java Service 加载器 和 spring Factories 加载器的比较
  TODO1/java-service-loader-vs-spring-factories-loader.md
Labels: 后端, 标注, 正在校对

#5311 JSX 的替代方案
  TODO1/alternatives-to-jsx.md
Labels: 前端, 标注, 正在校对

#5297 负载性能
  TODO1/performance-under-load.md
Labels: 后端, 标注, 正在校对

#5305 Android 生命周期备忘录 — 第二部分：多 Activity
  TODO1/The-Android-Lifecycle-cheat-sheet-part-II-Multiple-activities.md
Labels: Android, 标注, 正在校对

#5316 正在消失的小型网站
  TODO1/small-websites-are-dying.md
Labels: 前端, 标注, 正在校对

#5314 用长短期记忆网络预测股票市场（使用 Tensorflow）
  TODO1/using-lstms-for-stock-market-predictions-tensorflow.md
Labels: AI, 标注, 正在校对

#5306 论数据流的扩展性
  TODO1/data-streaming-scalability.md
Labels: 后端, 标注

#5332 create understanding-a-performance-issue-with-polymorphic-json-data
  TODO1/understanding-a-performance-issue-with-polymorphic-json-data.md
Labels: 标注

#5333 longest-keyword-sequence create new article
  TODO1/longest-keyword-sequence.md
Labels: 标注

#5309 2019,跟上 AI 的脚步：AI 和 ML 接下来会发生什么重要的事？
  TODO1/keeping-up-with-ai-in-2019.md
Labels: AI, DONE, 标注

#5354 Create how-to-generate-music-using-a-lstm-neural-network-in-keras.md
  TODO1/how-to-generate-music-using-a-lstm-neural-network-in-keras.md
Labels: AI

#5340 为什么我用 JavaScript 来编写 CSS
  TODO1/why-i-write-css-in-javascript.md
Labels: 前端, 标注

#5336 浏览器中 CSS 支持指南
  TODO1/a-guide-to-css-support-in-browsers.md
Labels: 前端, 标注

#5328 我是怎么最终玩转了 Vue 的作用域插槽
  TODO1/how-i-finally-got-my-head-around-scoped-slots-in-vue.md
Labels: 前端, 标注, 正在校对

#5317 Golang 数据结构：树
  TODO1/golang-datastructures-trees.md
Labels: 后端, 标注, 正在校对

#5338 Node.js 基础知识: 没有依赖关系的 Web 服务器
  TODO1/writing-a-web-server-node.md
Labels: 后端, 标注, 正在校对

#5307 Flutter 异步编程：Future、Isolate 和事件循环
  TODO1/futures-isolates-event-loop.md
Labels: Android, 标注, 正在校对

#5298 iOS：如何构建具有多种 Cell 类型的表视图
  TODO1/ios-how-to-build-a-table-view-with-multiple-cell-types.md
Labels: iOS, 标注, 正在校对

#5339 Rust 语言案例研究：社区使得 Rust 成为 npm 的简单选择
  TODO1/rust-case-study-community-makes-rust-an-easy-choice-for-npm.md
Labels: 后端, 标注, 正在校对

#5346 转化通用安卓音乐播放器为 instant 应用
  TODO1/making-the-uamp-sample-an-instant-app.md
Labels: Android, 标注, 翻译完成

#5349 2019 版 web 浏览器现状
  TODO1/the-state-of-web-browsers-2019-edition.md
Labels: 前端, 标注, 正在校对

#5371 Create a-comprehensive-and-honest-list-of-ux-clichés.md
  TODO1/a-comprehensive-and-honest-list-of-ux-clichés.md
Labels: 校对认领

#5382 Create The-Android-Lifecycle-cheat-sheet-part-III-Fragments.md
  TODO1/The-Android-Lifecycle-cheat-sheet-part-III-Fragments.md
Labels: Android

#5383 iOS Responder Chain: UIResponder, UIEvent, UIControl and uses
  TODO1/iOS-Responder-Chain-UIResponder-UIEvent-UIControl-and-uses.md
Labels: enhancement, iOS

#5358 数据流简介
  TODO1/data-streaming.md
Labels: 后端, 标注

#5363 TypeScript 和 Babel：美丽的结合
  TODO1/typescript-with-babel-a-beautiful-marriage.md
Labels: 前端, 标注, 正在校对

#5378 Vue.js 和第三方 JavaScript 的逐渐集成
  TODO1/sliding-in-and-out-of-vue-js.md
Labels: 前端, 标注, 正在校对

#5343 用 Apache Shiro 来强化一个 Spring Boot 应用
  TODO1/protecting-a-spring-boot-app-with-apache-shiro.md
Labels: enhancement, 后端, 标注

#5341 连接数据流
  TODO1/joining-data-streams.md
Labels: 后端, 标注

#5364 Javascript 中最长的关键字序列长什么样子？
  TODO1/longest-keyword-sequence.md
Labels: enhancement, 前端, 标注, 正在校对

#5387 基于 Python 的图理论和网络分析
  TODO1/introduction-to-graph-theory-network-analysis-python-codes.md
Labels: AI, 标注, 正在校对

#5375 在 Swift 中使用 errors 作为控制流
  TODO1/using-errors-as-control-flow-in-swift.md
Labels: iOS, 标注, 正在校对

#5399 如何使用 Phaser 3 和 TypeScript 在浏览器中构建一个简单的游戏
  TODO1/how-to-build-a-simple-game-in-the-browser-with-phaser-3-and-typescript.md
Labels: 前端

#5357 线框图变得不那么重要了 — 好事啊！
  TODO1/wireframes-are-becoming-less-relevant-and-thats-a-good-thing.md
Labels: enhancement, 标注, 设计

#5392 在 Android 应用中使用矢量资源
  TODO1/using-vector-assets-in-android-apps.md
Labels: Android, 标注, 正在校对

#5407 设计不会拯救世界
  TODO1/design-is-not-going-to-save-the-world.md
Labels: 标注, 设计

#5433 Create The-Android-Lifecycle-cheat-sheet-part-IV.md
  TODO1/The-Android-Lifecycle-cheat-sheet-part-IV.md
Labels: Android

#5380 四个理由让你使用灰度色调进行设计
  TODO1/4-reasons-why-you-should-design-without-color-first.md
Labels: 标注, 正在校对, 设计

#5391 如何在 Swift 5 中使用 Result
  TODO1/how-to-use-result-in-swift.md
Labels: DONE, iOS, 校对认领, 正在校对

#5400 iOS 响应者链 UIResponder，UIEvent，UIControl 的使用
  TODO1/iOS-Responder-Chain-UIResponder-UIEvent-UIControl-and-uses.md
Labels: iOS, 标注, 校对认领, 正在校对

#5422 Chars2vec: 基于字符实现的可用于处理现实世界中包含拼写错误和俚语的语言模型
  TODO1/chars2vec-character-based-language-model-for-handling-real-world-texts-with-spelling-errors-and.md
Labels: AI, DONE, 正在校对

#5449 Create 10-signs-you-will-suck-at-programming.md
  TODO1/10-signs-you-will-suck-at-programming.md
Labels: 校对认领

#5350 MDC-104 Flutter：Material 高级组件（Flutter）
  TODO1/mdc-104-flutter.md
Labels: Android, 标注, 正在校对

#5411 曝光！UX 行话大全
  TODO1/a-comprehensive-and-honest-list-of-ux-clichés.md
Labels: 标注, 设计

#5425 深入 React Hook 系统的原理
  TODO1/under-the-hood-of-reacts-hooks-system.md
Labels: 前端, 标注, 正在校对

#5435 开源是无法赚钱的，因为开源本身就不是为了赚钱
  TODO1/open-source-doesnt-make-money-by-design.md
Labels: 其他, 标注, 正在校对

#5440 了解“多态”JSON 数据的性能问题
  TODO1/understanding-a-performance-issue-with-polymorphic-json-data.md
Labels: 前端, 标注, 翻译完成

#5406 时间顺序的价格异常检测
  TODO1/time-series-of-price-anomaly-detection.md
Labels: AI, enhancement, 正在校对

#5408 如何在 Keras 中使用 LSTM 神经网络创作音乐
  TODO1/how-to-generate-music-using-a-lstm-neural-network-in-keras.md
Labels: AI, enhancement, 正在校对

#5462 JavaScript 中为什么会有 Symbol 类型？
  TODO1/javascript-symbols-but-why.md
Labels: 前端, 标注

#5472 Create how-to-simplify-your-design.md
  TODO1/how-to-simplify-your-design.md
Labels: 设计

#5432 如何心平气和地阅读代码
  TODO1/how-to-read-source-code-without-ripping-your-hair-out.md
Labels: 其他, 标注, 正在校对

#5424 浏览器帧原理剖析
  TODO1/the-anatomy-of-a-frame.md
Labels: 其他, 标注, 正在校对

#5444 监测与调试 Vue.js 的响应式系统：计算属性树（Computed Tree）
  TODO1/tracing-or-debugging-vue-js-reactivity-the-computed-tree.md
Labels: 前端, 标注, 正在校对

#5420 Android 生命周期备忘录 — 第三部分：Fragments
  TODO1/The-Android-Lifecycle-cheat-sheet-part-III-Fragments.md
Labels: Android, enhancement, 延期啦，大大们赶紧哒, 正在校对

#5481 Create how-to-manipulate-css-colors-with-javascript.md
  TODO1/how-to-manipulate-css-colors-with-javascript.md
Labels: WIP

#5463 线框图变得不那么重要了 — 好事啊！
  TODO1/wireframes-are-becoming-less-relevant-and-thats-a-good-thing.md
Labels: needs-review, 审校

#5491 fix(swift-5-exclusivity.md): 增加代码高亮、修正重点句翻译
  TODO1/swift-5-exclusivity.md
Labels: 校对认领

#5437 多线程简介
  TODO1/gentle-introduction-multithreading.md
Labels: 后端, 标注

#5471 写给大家看的 Cache-Control 指令配置
  TODO1/cache-control-for-civilians.md
Labels: 前端, 标注

#5476 Swift 5.0 新特性
  TODO1/whats-new-in-swift-5-0.md
Labels: enhancement, iOS, 正在校对

#5487 使用网格布局实现响应式图片
  TODO1/planning-for-responsive-images.md
Labels: enhancement, 前端, 正在校对
