Repository xitu/gold-miner, pull requests merged in 2019-02, with the labels that each got.

#5069 Courier: Dropbox 的 gRPC 迁移利器
  TODO1/courier-dropbox-migration-to-grpc.md
Labels: 后端, 标注, 校对认领, 正在校对

#5065 我与 Flutter 的一年
  TODO1/one-year-with-flutter-my-experience.md
Labels: Android, 标注, 正在校对

#5055 React Native 与 iOS 和 Android 通信
  TODO1/react-native-bridge-for-ios-and-android.md
Labels: iOS, 标注, 正在校对

#5056 2019 前端性能优化年度总结 — 第四部分
  TODO1/front-end-performance-checklist-2019-pdf-pages-4.md
Labels: 前端, 标注, 正在校对

#5094 HTTP/2 常见问题解答
  TODO1/http-2-frequently-asked-questions.md
Labels: 后端, 标注, 正在校对

#5088 Vue.js  —  注意事项和技巧
  TODO1/vue-js-considerations-and-tricks.md
Labels: 前端, 标注, 正在校对

#5078 前端性能优化年度总结 — 第三部分
  TODO1/front-end-performance-checklist-2019-pdf-pages-3.md
Labels: 前端, 标注, 正在校对

#5081 2019 区块链平台与技术展望
  TODO1/blockchain-platforms-tech-to-watch-in-2019.md
Labels: 区块链, 标注, 正在校对

#5095 HTTP 简史
  TODO1/brief-history-of-http.md
Labels: 后端, 标注, 正在校对

#5070 2019 前端性能优化年度总结 — 第六部分
  TODO1/front-end-performance-checklist-2019-pdf-pages-6.md
Labels: 前端, 标注, 正在校对

#5102 Webpack 4 的故事以及如何用正确的方式去最终配置它【更新版】
  TODO1/a-tale-of-webpack-4-and-how-to-finally-configure-it-in-the-right-way.md
Labels: 前端, 标注, 正在校对

#5103 2019 CSS 新属性“连字符”初探
  TODO1/a-look-at-css-hyphenation-in-2019.md
Labels: 前端, 标注, 正在校对

#5098 PWA 会取代原生移动应用吗？
  TODO1/pwa-native-mobile-apps.md
Labels: Android, 前端, 标注, 正在校对

#5097 Vue Router 实战手册
  TODO1/vue-router-the-missing-manual.md
Labels: 前端, 标注, 正在校对

#5082 X 为啥不是 hook?
  TODO1/why-isnt-x-a-hook.md
Labels: 前端, 标注, 正在校对

#5090 如何写一篇软件工程杀手级简历
  TODO1/writing-a-killer-software-engineering-resume.md
Labels: enhancement, 其他, 标注, 正在校对

#5112 提取图像中的文字、人脸或者条形码 —— 形状检测API
  TODO1/a-picture-is-worth-a-thousand-words-faces-and-barcodes—the-shape-detection-api.md
Labels: AI, 标注, 正在校对

#5115 关于 Yarn 和 npm 你所需要知道的一切
  TODO1/yarn-vs-npm-everything-you-need-to-know.md
Labels: 前端, 标注, 正在校对

#5109 设计一个页面原则上应该指的是编写 HTML 和 CSS
  TODO1/designing-for-the-web-ought-to-mean-making-html-and-css.md
Labels: DONE, enhancement, 前端, 正在校对, 设计

#5114 谷歌迈出了消除 URL 的第一步
  TODO1/google-chrome-kill-url-first-steps.md
Labels: DONE, 前端, 正在校对

#5127 如何利用 Webpack4 提升你的 React.js 开发效率
  TODO1/how-to-develop-react-js-apps-fast-using-webpack-4.md
Labels: DONE, 前端, 正在校对

#5101 使用智能 CSS 基于用户滚动位置应用样式
  TODO1/applying-styles-based-on-the-user-scroll-position-with-smart-css.md
Labels: needs-review, 前端, 标注, 正在校对

#5129 从 Instagram 上的故事和反馈机器学习中收获的一些经验
  TODO1/lessons-learned-at-instagram-stories-and-feed-machine-learning.md
Labels: AI, 标注, 正在校对

#5137 Android Dev Summit 2018 应用（instant app 的总结 + 开源）
  TODO1/the-android-dev-summit-2018-app-instant-app-takeaways-open-source.md
Labels: Android, 标注, 校对认领, 正在校对

#5141 十件你不知道的关于 WebPageTest.org 的事
  TODO1/ten-things-you-didnt-know-about-webpagetest-org.md
Labels: 前端, 标注, 正在校对

#5119 为什么你的应用需要对各种尺寸屏幕做适配优化？
  TODO1/why-your-app-should-be-optimized-for-screen-of-all-sizes.md
Labels: enhancement, 前端, 正在校对

#5139 用这些 iOS 技巧让你的 APP 性能更佳
  TODO1/ios-performance-tricks-apps.md
Labels: DONE, iOS, 校对认领, 正在校对

#5142 Swift：通过示例避免内存泄漏
  TODO1/swift-avoiding-memory-leaks-by-examples.md
Labels: iOS, 标注, 正在校对

#5162 Web 开发者需要了解的基础色彩理论
  TODO1/basic-color-theory-for-web-developers.md
Labels: 前端, 标注, 正在校对

#5161 资助 ESLint 的未来
  TODO1/funding-eslint-future.md
Labels: 前端, 标注, 正在校对

#5140 介绍一款 Flutter 的 Widget 生成器：用 Flutter 编写的应用构建工具
  TODO1/introducing-flutter-widget-maker-a-flutter-app-builder-written-in-flutter.md
Labels: Android, 标注, 正在校对

#5128 HTTP/3: 起源
  TODO1/http-3-from-root-to-tip.md
Labels: 后端, 标注, 正在校对

#5172 💅 styled-components 背后的魔力
  TODO1/styled-components-magic-explained.md
Labels: enhancement, 前端, 正在校对

#5149 HTML 一直是我们编译的目标——我们可以解决好它吗？
  TODO1/html-is-and-always-was-a-compilation-target-can-we-deal-with-that.md
Labels: 前端, 标注, 正在校对

#5191 Create event-stoppropagation-in-a-modular-system.md
  TODO1/event-stoppropagation-in-a-modular-system.md
Labels: enhancement

#5160 2019 年的 9 大设计趋势
  TODO1/the-9-big-design-trends-of-2019.md
Labels: 标注, 正在校对, 设计

#5197 Create writing-a-microservice-in-rust.md
  TODO1/writing-a-microservice-in-rust.md
Labels: LeviDing

#5205 校对修改 / Webpack 4 的故事以及如何用正确的方式去最终配置它
  TODO1/a-tale-of-webpack-4-and-how-to-finally-configure-it-in-the-right-way.md
Labels: 标注

#5187 修改 Git 错误的高明方法
  TODO1/the-smart-ways-to-correct-mistakes-in-git.md
Labels: 其他, 翻译完成

#5180 提供隐私和过滤功能的 DNS 服务器
  TODO1/dns-servers-you-should-have-memorized.md
Labels: 后端, 翻译完成

#5167 谷歌搜索操作符大全（包含 42 个高级操作符）
  TODO1/google-advanced-search-operators.md
Labels: 后端, 标注, 正在校对

#5145 React Native 中那些令我收获颇丰的痛点
  TODO1/things-about-react-native-i-found-the-hard-but-rewarding-way.md
Labels: iOS, 标注

#5214 模块化系统中的 event.stopPropagation ()
  TODO1/event-stoppropagation-in-a-modular-system.md
Labels: 前端, 标注, 正在校对

#5210 数据科学领域十大必知机器学习算法
  TODO1/ten-machine-learning-algorithms-you-should-know-to-become-a-data-scientist.md
Labels: AI, 标注, 正在校对

#5184 教程 — 用 C 写一个 Shell
  TODO1/tutorial-write-a-shell-in-c.md
Labels: 后端, 标注

#5171 已经 2019 年了，我依然赤手空拳制作网站
  TODO1/its-2019-and-i-still-make-websites-with-my-bare-hands.md
Labels: 前端, 标注

#5223 Create creating-good-roadmaps-6-practical-steps-product-leaders.md
  TODO1/creating-good-roadmaps-6-practical-steps-product-leaders.md
Labels: enhancement

#5229 Create how-to-build-your-own-neural-network-from-scratch-in-python
  TODO1/how-to-build-your-own-neural-network-from-scratch-in-python.md
Labels: enhancement

#5207 如何学习 CSS
  TODO1/how-to-learn-css.md
Labels: 前端

#5163 绘制路径：Android 中矢量图渲染
  TODO1/draw-a-path-rendering-android-vectordrawables.md
Labels: Android, 标注, 正在校对

#5242 Create using-lstms-for-stock-market-predictions-(tensorflow).md
  TODO1/using-lstms-for-stock-market-predictions-tensorflow.md
Labels: enhancement

#5253 Blockchain platforms tech to watch in 2019
  TODO1/blockchain-platforms-tech-to-watch-in-2019.md
Labels: 校对认领

#5244 为什么 UX 和 UI 仍需要分离开
  TODO1/why-ux-and-ui-should-remain-separate.md
Labels: 标注, 正在校对, 设计

#5220 Widget - State - Context - InheritedWidget
  TODO1/widget-state-context-inheritedwidget.md
Labels: Android, 标注, 正在校对

#5240 Create ios-how-to-build-a-table-view-with-multiple-cell-types.md
  TODO1/ios-how-to-build-a-table-view-with-multiple-cell-types.md
Labels: enhancement, 标注

#5237 避免那些可恶的 "cannot read property of undefined" 错误
  TODO1/avoiding-those-dang-cannot-read-property-of-undefined-errors.md
Labels: 前端, 标注, 正在校对

#5218 在 GO 语言中创建你自己的 OAuth2 服务：客户端凭据授权流程
  TODO1/build-your-own-oauth2-server-in-go.md
Labels: 后端, 翻译完成

#5251 Hooks 对 Vue 而言意味着什么
  TODO1/what-hooks-mean-for-vue.md
Labels: 前端, 标注, 正在校对

#5186 Swift 5 强制独占性原则
  TODO1/swift-5-exclusivity.md
Labels: enhancement, iOS, 正在校对

#5275 performance-under-load
  TODO1/performance-under-load.md
Labels: 标注
