Repository xitu/gold-miner, pull requests merged in 2019-10, with the labels that each got.

#6416 Create eval-via-import.md
  TODO1/eval-via-import.md
Labels: 前端

#6417 Create announcing-typescript-3-7-beta.md
  TODO1/announcing-typescript-3-7-beta.md
Labels: 前端

#6418 Create git-aliases.md
  TODO1/git-aliases.md
Labels: 其他

#6422 Create enough-to-decide.md
  TODO1/enough-to-decide.md
Labels: 其他

#6423 Create css-quickies-css-variables-or-how-you-create-a-white-dark-theme-easily.md
  TODO1/css-quickies-css-variables-or-how-you-create-a-white-dark-theme-easily.md
Labels: 前端, 校对认领

#6438 Create how-to-design-delightful-dark-themes.md
  TODO1/how-to-design-delightful-dark-themes.md
Labels: 设计

#6440 Create why-coding-your-own-makes-you-a-better-developer.md
  TODO1/why-coding-your-own-makes-you-a-better-developer.md
Labels: 前端

#6442 Create the-publisher-subscriber-pattern-in-javascript.md
  TODO1/the-publisher-subscriber-pattern-in-javascript.md
Labels: 前端, 校对认领

#6444 Create what-replaces-javascript.md
  TODO1/what-replaces-javascript.md
Labels: 前端

#6357 在你的 Instant 体验中使用 showInstallPrompt 的 5 个技巧
  TODO1/5-tips-for-using-showinstallprompt-in-your-instant-experience.md
Labels: Android, 校对认领, 正在校对

#6433 CSS 小妙招：CSS 变量 —— 如何轻松创建一个🌞白色/🌑暗色主题
  TODO1/css-quickies-css-variables-or-how-you-create-a-white-dark-theme-easily.md
Labels: 前端, 标注

#6446 什么将会替代 JavaScript 呢？
  TODO1/what-replaces-javascript.md
Labels: 前端, 标注

#6448 如何设计一款讨人喜欢的暗色主题
  TODO1/how-to-design-delightful-dark-themes.md
Labels: 标注, 设计

#6406 如何使用 Mountebank 和 Node.js 来 Mock 服务
  TODO1/how-to-mock-services-using-mountebank-and-node-js.md
Labels: 后端, 标注

#6392 写一个愚蠢的 flutter 图标包
  TODO1/writing-a-dumb-icon-flutter-package.md
Labels: Flutter, 校对认领, 正在校对

#6280 写给大家的代数效应入门
  TODO1/algebraic-effects-for-the-rest-of-us.md
Labels: 前端, 翻译完成

#6361 在 Flutter 中使用 Provider 构建底部导航栏
  TODO1/bottom-navigation-bar-using-provider-flutter.md
Labels: Flutter, 翻译完成

#6385 现代脚本加载
  TODO1/modern-script-loading.md
Labels: 前端, 翻译完成

#6427 使用 `import()` 执行 JavaScript 代码
  TODO1/eval-via-import.md
Labels: 前端, 翻译完成

#6435 设置 git 别名
  TODO1/git-aliases.md
Labels: 其他, 翻译完成

#6437 趣味学习 CSS 布局 —— 第一部分：弹性布局
  TODO1/ces-learn-css-layout-part-1-flexbox.md
Labels: 前端, 翻译完成

#6452 趣味学习 CSS 布局 —— 第二部分：网格布局
  TODO1/un-places-to-learn-css-layout-part-2-grid-layout.md
Labels: 前端, 翻译完成

#6436 如何计划你的一天 —— 这里有一份攻略请查收
  TODO1/this-is-how-to-plan-a-day.md
Labels: 其他, 翻译完成

#6449 TypeScript 3.7 Beta 版发布
  TODO1/announcing-typescript-3-7-beta.md
Labels: 前端, 标注

#6466 Create react-svg-icon-components.md
  TODO1/react-svg-icon-components.md
Labels: 前端

#6366 关于现代应用样式的探讨
  TODO1/styling-modern-web-apps.md
Labels: 前端, 翻译完成
