Repository xitu/gold-miner, pull requests merged in 2019-07, with the labels that each got.

#6063 Create promoting-install-mobile.md
  TODO1/promoting-install-mobile.md
Labels: 前端

#6070 Create swiftwebui.md
  TODO1/swiftwebui.md
Labels: iOS, 校对认领

#6005 思考实践：用 Go 实现 Flutter
  TODO1/flutter_go.md
Labels: Flutter, 标注

#6061 Kubernetes 儿童插图指南
  TODO1/the-childrens-illustrated-guide-to-kubernetes.md
Labels: 后端, 标注

#6072 Create redefining-data-visualization-at-google.md
  TODO1/redefining-data-visualization-at-google.md
Labels: 设计

#6026 贫困线下的软件
  TODO1/software-below-the-poverty-line.md
Labels: 其他, 标注

#6034 通过 Rust 学习解析器组合器 - 第三部分
  TODO1/learning-parser-combinators-with-rust-3.md
Labels: merging-soon-if-no-other-reviewer, 后端, 校对认领

#6077 Create android-networking-in-2019-retrofit-with-kotlins-coroutines.md
  TODO1/android-networking-in-2019-retrofit-with-kotlins-coroutines.md
Labels: Android

#6003 时间序列数据间量化同步的四种方法
  TODO1/four-ways-to-quantify-synchrony-between-time-series-data.md
Labels: AI, 标注

#6068 微前端：未来前端开发的新趋势 — 第二部分
  TODO1/micro-frontends-2.md
Labels: 前端, 标注

#6088 Create the-css-mindset.md
  TODO1/the-css-mindset.md
Labels: 前端

#6056 Xcode 和 LLDB 高级调试教程：第 2 部分
  TODO1/xcode-and-lldb-advanced-debugging-tutorial-part-2.md
Labels: iOS, 标注

#6058 微前端：未来前端开发的新趋势 — 第四部分
  TODO1/micro-frontends-4.md
Labels: 前端, 标注

#6099 Create the-state-of-graphql-by-reddit.md
  TODO1/the-state-of-graphql-by-reddit.md
Labels: 前端, 后端

#6100 Create birdseye-go.md
  TODO1/birdseye-go.md
Labels: 后端

#6101 Create fountaincodes.md
  TODO1/fountaincodes.md
Labels: 后端

#6102 Create testing-react-apps-with-cypress.md
  TODO1/testing-react-apps-with-cypress.md
Labels: 前端

#6060 自托管你的静态资源
  TODO1/self-host-your-static-assets.md
Labels: 前端, 标注

#6067 微前端：未来前端开发的新趋势 — 第三部分
  TODO1/micro-frontends-3.md
Labels: 前端, 标注

#6071 Web 流式文字排版的现状
  TODO1/the-state-of-fluid-web-typography.md
Labels: 前端, 标注

#6112 纠错
  TODO/a-crash-course-in-assembly.md
Labels: needs-review

#6111 纠错
  TODO/creating-and-working-with-webassembly-modules.md
Labels: needs-review

#6087 推广 PWA 安装的模式（移动端）
  TODO1/promoting-install-mobile.md
Labels: enhancement, 前端

#6075 使用 SVG 和 Vue.Js 构建动态树图
  TODO1/building-a-dynamic-tree-diagram-with-svg-and-vue-js.md
Labels: 前端, 标注

#6059 在 Python 中过度使用列表推导式和表达式生成器
  TODO1/abusing-and-overusing-list-comprehensions-in-python.md
Labels: 后端, 翻译完成

#6083 设计任何图表的六项原则
  TODO1/redefining-data-visualization-at-google.md
Labels: Tag, 正在校对, 设计

#6117 Create creating-a-multi-level-hierarchical-flyout-navigation-menu-using-only-html-and-css.md
  TODO1/creating-a-multi-level-hierarchical-flyout-navigation-menu-using-only-html-and-css.md
Labels: 前端

#6119 Create css-architecture-for-multiple-websites.md
  TODO1/css-architecture-for-multiple-websites.md
Labels: 前端

#6121 Create how-pagespeed-works.md
  TODO1/how-pagespeed-works.md
Labels: 前端, 后端

#6124 CSS 思维模式
  TODO1/the-css-mindset.md
Labels: 前端, 标注

#6096 使用 Gomobile 和 Gopherjs 的动态二维码数据传输
  TODO1/animated-qr-data-transfer-with-gomobile-and-gopherjs.md
Labels: 后端, 标注

#6084 使用 Swift 5 构建一个 iOS 移动端群聊应用程序
  TODO1/how-to-build-ios-mobile-group-chat-app-swift-5-pubnub.md
Labels: iOS, 标注

#6114 利用 84 种认知偏见设计更好的产品 —— 第一部分
  TODO1/collection-cognitive-biases-how-to-use-1.md
Labels: 产品, 标注

#6141 Create responsive-design-ground-rules.md
  TODO1/responsive-design-ground-rules.md
Labels: 校对认领, 设计

#6105 敏捷也许是个问题
  TODO1/agile-agile-blah-blah.md
Labels: Tag, 其他, 校对认领, 正在校对

#6148 Create frontend-vs-backend-which-one-is-right-for-you.md
  TODO1/frontend-vs-backend-which-one-is-right-for-you.md
Labels: 前端, 后端, 校对认领

#6098 npm 的经济风云 —— 下半部分
  TODO1/the-economics-of-package-management-2.md
Labels: 其他, 标注

#6113 Git：透过命令学概念 —— 第二部分
  TODO1/learn-git-concepts-not-commands-2.md
Labels: enhancement, 其他, 问题标注

#6080 区域设置更改和 AndroidViewModel 反面模式
  TODO1/locale-changes-and-the-androidviewmodel-antipattern.md
Labels: Android, enhancement

#6150 响应式设计的基本原则
  TODO1/responsive-design-ground-rules.md
Labels: 标注, 设计

#6163 Create how-to-train-an-object-detection-model-with-keras.md
  TODO1/how-to-train-an-object-detection-model-with-keras.md
Labels: AI

#6125 Web 端的 SwiftUI：SwiftWebUI
  TODO1/swiftwebui.md
Labels: iOS, 标注

#6135 Kotlin Clean 架构
  TODO1/kotlin-clean-architecture.md
Labels: Android, 标注

#6181 Create the-problem-with-web-components.md
  TODO1/the-problem-with-web-components.md
Labels: 前端

#6153 Google 的 Pagespeed 的工作原理：提升你的分数和搜索引擎排名
  TODO1/how-pagespeed-works.md
Labels: 前端, 后端, 标注

#6183 Create absolute-truths-unlearned-as-junior-developer.md
  TODO1/absolute-truths-unlearned-as-junior-developer.md
Labels: 其他, 前端

#6134 Android 模拟器：Project Marble 中的改进
  TODO1/android-emulator-project-marble-improvements.md
Labels: Android, 标注

#6147 2019 年的 Android 网络 —— Retrofit 与 Kotlin 协程
  TODO1/android-networking-in-2019-retrofit-with-kotlins-coroutines.md
Labels: Android, 标注

#6187 Create why-ai-is-here-to-stay.md
  TODO1/why-ai-is-here-to-stay.md
Labels: AI, 校对认领

#6189 Create the-rise-of-the-meta-designer.md
  TODO1/the-rise-of-the-meta-designer.md
Labels: 校对认领, 设计

#6164 前端 vs 后端：哪一个适合你？
  TODO1/frontend-vs-backend-which-one-is-right-for-you.md
Labels: 前端, 后端, 标注

#6154 仅使用 HTML 和 CSS 创建多级嵌套弹出式导航菜单
  TODO1/creating-a-multi-level-hierarchical-flyout-navigation-menu-using-only-html-and-css.md
Labels: 前端, 标注

#6157 使用 Node.js 读取超大的文件（第一部分）
  TODO1/using-node-js-to-read-really-really-large-files-pt-1.md
Labels: 后端, 标注

#6137 使用 Cypress 进行 React 应用的端到端测试
  TODO1/testing-react-apps-with-cypress.md
Labels: enhancement, 前端

#6168 利用 84 种认知偏见设计更好的产品 —— 第二部分
  TODO1/collection-cognitive-biases-how-to-use-2.md
Labels: 产品, 标注

#6140 从 Reddit 讨论中看到的 GraphQL 现状
  TODO1/the-state-of-graphql-by-reddit.md
Labels: 前端, 后端, 标注

#6104 Xcode 和 LLDB 高级调试教程：第 3 部分
  TODO1/xcode-and-lldb-advanced-debugging-tutorial-part-3.md
Labels: iOS, 标注

#6166 喷泉码和动态二维码
  TODO1/fountaincodes.md
Labels: enhancement, 后端

#6206 Create learn-enough-docker-to-be-useful-1.md
  TODO1/learn-enough-docker-to-be-useful-1.md
Labels: 后端

#6175 Go 语言概览
  TODO1/birdseye-go.md
Labels: 后端, 标注, 正在校对

#6208 Create typescript-impossible-states-irrepresentable.md
  TODO1/typescript-impossible-states-irrepresentable.md
Labels: 前端

#6216 Create writing-a-compiler-in-rust.md
  TODO1/writing-a-compiler-in-rust.md
Labels: 后端

#6180 CSS 开发必知必会的 16 个调试工具技巧
  TODO1/16-devtools-tips-and-tricks-every-css-developer-need-to-know.md
Labels: 前端, 标注

#6215 多网站项目的 CSS 架构
  TODO1/css-architecture-for-multiple-websites.md
Labels: 前端, 标注

#6226 Create when-a-rewrite-isnt-rebuilding-slack-on-the-desktop.md
  TODO1/when-a-rewrite-isnt-rebuilding-slack-on-the-desktop.md
Labels: 前端, 校对认领

#6225 Create algebraic-effects-for-the-rest-of-us.md
  TODO1/algebraic-effects-for-the-rest-of-us.md
Labels: 前端, 校对认领

#6179 通过阅读源码提高你的 JavaScript 水平
  TODO1/javascript-knowledge-reading-source-code.md
Labels: 前端, 标注

#6212 作为初级开发人员，我没有学过的 7 个绝对真理
  TODO1/absolute-truths-unlearned-as-junior-developer.md
Labels: 其他, 前端, 标注

#6237 Create a-deep-dive-on-python-type-hints.md
  TODO1/a-deep-dive-on-python-type-hints.md
Labels: 后端, 标注

#6244 Create when-every-product-of-design-is-one-of-opinion.md
  TODO1/when-every-product-of-design-is-one-of-opinion.md
Labels: 校对认领, 设计

#6248 Create pika-web-a-future-without-webpack.md
  TODO1/pika-web-a-future-without-webpack.md
Labels: 前端

#6245 Create what-do-flutter-package-users-need-findings-from-q2-user-survey.md
  TODO1/what-do-flutter-package-users-need-findings-from-q2-user-survey.md
Labels: 标注

#6231 由浅入深理解主成分分析
  TODO1/a-step-by-step-explanation-of-principal-component-analysis.md
Labels: AI, 翻译完成

#6194 数据科学家需要掌握的十种统计技术
  TODO1/the-10-statistical-techniques-data-scientists-need-to-master.md
Labels: AI, enhancement

#6214 什么时候需要进行数据的标准化? 为什么？
  TODO1/when-to-standardize-your-data.md
Labels: AI, 标注

#6224 postMessage 很慢吗?
  TODO1/is-postmessage-slow.md
Labels: 前端, 标注
