Repository xitu/gold-miner, pull requests merged in 2019-01, with the labels that each got.

#4884 产品管理思维模式适合每一个人
  TODO1/product-management-mental-models-for-everyone.md
Labels: 产品, 标注, 正在校对

#4909 值类型导向编程
  TODO1/value-oriented-programming.md
Labels: enhancement, iOS, 正在校对

#4924 为什么我放弃了 React 而转向 Vue
  TODO1/why-you-should-leave-react-for-vue-and-never-use-it-again.md
Labels: 前端, 标注, 正在校对

#4930 色彩无障碍性产品设计指南
  TODO1/a-guide-to-color-accessibility-in-product-design.md
Labels: 标注, 正在校对, 设计

#4916 Android 上一次编写，到处测试
  TODO1/write-once-run-everywhere-tests-on-android.md
Labels: Android, 标注, 正在校对

#4944 理解异步 JavaScript
  TODO1/understanding-asynchronous-javascript-the-event-loop.md
Labels: 前端, 标注, 正在校对

#4932 格子拼贴 — 关于模块化的故事
  TODO1/a-patchwork-plaid-monolith-to-modularized-app.md
Labels: Android, 标注, 正在校对

#4921 状态恢复入门教程
  TODO1/state-restoration-tutorial-getting-started.md
Labels: iOS, 标注, 正在校对

#4923 Flutter 从 0 到 1
  TODO1/zero-to-one-with-flutter.md
Labels: Android, 校对认领

#4941 利用 Python中的 Bokeh 实现数据可视化，第二部分：交互
  TODO1/data-visualization-with-bokeh-in-python-part-ii-interactions.md
Labels: AI, 标注, 正在校对

#4947 UX 设计实践：如何设计可扫描的 Web 界面
  TODO1/ux-design-practices-how-to-make-web-interface-scannable.md
Labels: 标注, 正在校对, 设计

#4950 Transducers: JavaScript 中高效的数据处理 pipeline
  TODO1/transducers-efficient-data-processing-pipelines-in-javascript.md
Labels: 前端, 正在校对

#4957 CSS Shapes 简介
  TODO1/an-introduction-to-css-shapes.md
Labels: 前端, 标注, 正在校对

#4952 我们采用 GraphQL 技术的经验：营销技术活动
  TODO1/our-learnings-from-adopting-graphql.md
Labels: 前端, 标注, 正在校对

#4945 利用 Python中的 Bokeh 实现数据可视化，第一部分：入门
  TODO1/data-visualization-with-bokeh-in-python-part-one-getting-started.md
Labels: AI, 标注

#4940 利用 Python中的 Bokeh 实现数据可视化，第三部分：制作一个完整的仪表盘
  TODO1/data-visualization-with-bokeh-in-python-part-iii-a-complete-dashboard.md
Labels: AI, 翻译完成

#4976 使用 Stripe, Vue.js 和 Flask 接受付款
  TODO1/accepting-payments-with-stripe-vuejs-and-flask.md
Labels: 前端, 校对认领, 正在校对

#4961 Lenses：可组合函数式编程的 Getter 和 Setter
  TODO1/lenses-composable-getters-and-setterssfor-functional-programming.md
Labels: 前端, 标注, 正在校对

#4974 2019 年值得学习的顶级 JavaScript 框架与主题
  TODO1/top-javascript-frameworks-and-topics-to-learn-in-2019.md
Labels: 前端, 翻译完成

#4972 充分利用多摄像头 API
  TODO1/getting-the-most-from-the-new-multi-camera-api.md
Labels: Android, 校对认领

#4981 2018 前端全面回顾
  TODO1/a-comprehensive-look-back-at-frontend-in-2018.md
Labels: 前端, 标注, 正在校对

#4955 新愿景: 未来的程序应用平台
  TODO1/a-new-hope-the-future-of-application-platforms.md
Labels: 前端, 标注, 正在校对

#4987 在 Flask 中使用 Redis Queue 实现异步任务
  TODO1/asynchronous-tasks-with-flask-and-redis-queue.md
Labels: 后端, 标注, 校对认领, 正在校对

#5000 讨论 JS ⚡：文档
  TODO1/lets-talk-js-documentation.md
Labels: 其他, 标注, 正在校对

#4999 轻松发布私有 App
  TODO1/publishing-private-apps-just-got-easier.md
Labels: Android, 标注, 正在校对

#5020 通过垃圾回收机制理解 JavaScript 内存管理
  TODO1/understanding-javascript-memory-management-using-garbage-collection.md
Labels: 前端, 标注, 正在校对

#5006 2019 前端性能优化年度总结 — 第一部分
  TODO1/front-end-performance-checklist-2019-pdf-pages-1.md
Labels: 前端, 标注, 正在校对

#4998 提高营销效率的工程（二）—— 广告制作和管理的规模化
  TODO1/https-medium-com-netflixtechblog-engineering-to-improve-marketing-effectiveness-part-2.md
Labels: 标注, 正在校对, 软件开发

#4993 降维技术中常用的几种降维方法
  TODO1/reducing-dimensionality-from-dimensionality-reduction-techniques.md
Labels: AI, 标注, 正在校对

#4971 一文带你看完 2018 年浏览器之争的最新进展
  TODO1/the-state-of-web-browsers.md
Labels: enhancement, 前端, 正在校对, 问题标注

#4992 Rust 2018 已经发布...但它是到底什么呢？
  TODO1/rust-2018-is-here-but-what-is-it.md
Labels: 前端, 标注, 正在校对

#5015 MDC-103 Flutter: Material Theming 的颜色、形状、高度和类型（Flutter）
  TODO1/mdc-103-flutter.md
Labels: Android, 标注, 正在校对

#5022 2019 前端性能优化年度总结 — 第二部分
  TODO1/front-end-performance-checklist-2019-pdf-pages-2.md
Labels: 前端, 标注, 正在校对

#5025 使用 Recompose 来构建高阶组件
  TODO1/building-hocs-with-recompose.md
Labels: 前端, 翻译完成

#5029 DNS over TLS：端到端加密的 DNS
  TODO1/dns-over-tls.md
Labels: 后端, 标注, 正在校对

#5032 使用 Proxy 来观测 Javascript 中的类
  TODO1/using-proxy-to-track-javascript-class.md
Labels: 前端, 标注, 正在校对

#5046 为什么我不再使用 export default 来导出模块
  TODO1/stop-using-default-exports-javascript-module.md
Labels: 前端, 标注, 正在校对

#5024 在 iOS 上使用 Carthage 建立依赖
  TODO1/dependencies-ios-carthage.md
Labels: iOS, 标注, 正在校对

#5037 我作为软件工程师与一名数据科学家合作的经历 #4966
  TODO1/i-worked-with-a-data-scientist-heres-what-i-learned.md
Labels: 后端, 标注, 正在校对

#5048 5 个可以立刻在你的 Ionic App 中用上的动画包
  TODO1/5-animation-packages-ionic.md
Labels: 前端, 正在校对

#4982 iOS 设计模式进阶
  TODO1/intermediate-design-patterns-in-swift.md
Labels: DONE, iOS, 正在校对
