Repository xitu/gold-miner, pull requests merged in 2019-04, with the labels that each got.

#5492 你不能成为成功程序员的 10 个迹象
  TODO1/10-signs-you-will-suck-at-programming.md
Labels: 其他, 标注

#5456 从没有人告诉过我的 CSS 小知识
  TODO1/things-nobody-ever-taught-me-about-css.md
Labels: 前端, 翻译完成

#5511 Create great-design-vs-good-design-whats-the-difference-here-s-the-tr…
  TODO1/great-design-vs-good-design-whats-the-difference-here-s-the-truth.md
Labels: 设计

#5505 React 中的调度
  TODO1/scheduling-in-react.md
Labels: 前端, 标注, 正在校对

#5516 增加文章 swift-api-pollution.md
  TODO1/swift-api-pollution.md
Labels: iOS

#5494 懒加载变量在 iOS Swift
  TODO1/lazy-var-in-ios-swift.md
Labels: iOS, 标注, 翻译完成

#5508 编写可以复用的 HTML 模板
  TODO1/crafting-reusable-html-templates.md
Labels: enhancement, 前端, 正在校对

#5470 Spring 的分布式事务实现 — 使用和不使用XA — 第二部分
  TODO1/distributed-transactions-in-spring-with-and-without-xa-part-2.md
Labels: needs-review, 后端

#5441 Java 和 etcd：因为 jetcd 最终走到了一起
  TODO1/java-and-etcd-together-at-last-with-jetcd.md
Labels: 后端, 标注, 正在校对

#5507 2019 React Redux 完全指南
  TODO1/redux-tutorial.md
Labels: 前端, 翻译完成

#5510 Spring 的分布式事务实现 — 使用和不使用XA — 第三部分
  TODO1/distributed-transactions-in-spring-with-and-without-xa-part-3.md
Labels: 后端, 标注, 校对认领

#5527 制定良好的路线图：产品负责人的六个实施步骤
  TODO1/creating-good-roadmaps-6-practical-steps-product-leaders.md
Labels: enhancement, 产品, 标注, 正在校对

#5525 你需要知道的 CSS 中所有 hyphenation 的使用
  TODO1/hyphenation-in-css.md
Labels: DONE, 前端, 正在校对

#5515 Android 生命周期备忘录 —— 第四部分：ViewModels、半透明 Activities 及启动模式
  TODO1/The-Android-Lifecycle-cheat-sheet-part-IV.md
Labels: Android, 标注, 正在校对

#5562 Create patterns-generic-repository-with-typescript-and-node-js.md
  TODO1/patterns-generic-repository-with-typescript-and-node-js.md
Labels: 标注

#5554 哪一个深度学习框架增长最迅猛？TensorFlow 还是 PyTorch？
  TODO1/which-deep-learning-framework-is-growing-fastest.md
Labels: AI, 标注, 正在校对

#5549 图解 Map、Reduce 和 Filter 数组方法
  TODO1/an-illustrated-and-musical-guide-to-map-reduce-and-filter-array-methods.md
Labels: 前端, 标注, 正在校对

#5547 Web Components 的高级工具
  TODO1/advanced-tooling-for-web-components.md
Labels: 前端, 标注, 正在校对

#5570 Create deep-learning-competence
  TODO1/deep-learning-competence.md
Labels: AI

#5571 Create how-to-configure-image-data-augmentation-when-training
  TODO1/how-to-configure-image-data-augmentation-when-training-deep-learning-neural-networks.md
Labels: AI, enhancement

#5555 Data Binding 库使用的经验教训
  TODO1/data-binding-lessons-learnt.md
Labels: Android, 标注, 正在校对

#5531 Swift 模块中的 API 污染
  TODO1/swift-api-pollution.md
Labels: iOS, 标注, 校对认领

#5548 Workmanager 简介
  TODO1/introducing-workmanager.md
Labels: Android, 标注, 正在校对

#5550 用 Rust 打造你的第一个命令行工具
  TODO1/your-first-cli-tool-with-rust.md
Labels: 后端, 标注, 正在校对

#5518 从 0 创建自定义元素
  TODO1/creating-a-custom-element-from-scratch.md
Labels: enhancement, 前端, 正在校对

#5545 使用 Shadow DOM 封装样式和结构
  TODO1/encapsulating-style-and-structure-with-shadow-dom.md
Labels: 前端, 翻译完成

#5595 Create how-to-build-a-circular-slider-in-flutter.md
  TODO1/how-to-build-a-circular-slider-in-flutter.md
Labels: Android

#5537 实用的 MVVM 和 RxSwift
  TODO1/practical-mvvm-rxswift.md
Labels: iOS, 翻译完成

#5540 Plaid 应用迁移到 AndroidX 的实践经历
  TODO1/cross-stitching-plaid-and-androidx.md
Labels: Android, needs-review, 正在校对

#5569 怎么简化你的设计
  TODO1/how-to-simplify-your-design.md
Labels: 翻译完成, 设计

#5543 我们为什么看好加密收藏品（NFT）的前景
  TODO1/why-were-bullish-on-crypto-collectibles-nfts.md
Labels: 区块链, 翻译完成

#5576 如何在远程服务器上运行 Jupyter Notebooks
  TODO1/running-jupyter-notebooks-on-remote-servers.md
Labels: AI, 标注, 正在校对

#5596 2019 前端工具调研
  TODO1/launching-the-front-end-tooling-survey-2019.md
Labels: 前端, 标注, 正在校对

#5589 iOS 里的 MVVM 和 RxSwift
  TODO1/mvvm-rxswift-on-ios-part-1.md
Labels: iOS, 标注, 校对认领, 正在校对

#5602 使用 closest() 函数获取正确的 DOM 元素
  TODO1/using-closest-to-return-the-correct-dom-element.md
Labels: 前端, 标注, 正在校对

#5566 Node.js 会永远只是慢的 Golang 吗？
  TODO1/will-node-js-forever-be-the-sluggish-golang.md
Labels: 后端, 标注, 正在校对

#5591 Python架构相关：我们需要更多吗？
  TODO1/python-architecture-stuff-do-we-need-more.md
Labels: AI, 标注, 正在校对

#5573 对 React 组件进行单元测试
  TODO1/unit-testing-react-components.md
Labels: 前端, 标注

#5614 Create mistakes-weve-drawn-a-few.md
  TODO1/mistakes-weve-drawn-a-few.md
Labels: 设计

#5628 Create swift-code-formatters.md
  TODO1/swift-code-formatters.md
Labels: iOS

#5630 Create what-i-wish-i-knew-when-i-started-to-work-with-react-js.md
  TODO1/what-i-wish-i-knew-when-i-started-to-work-with-react-js.md
Labels: 前端

#5632 Create retries-timeouts-backoff.md
  TODO1/retries-timeouts-backoff.md
Labels: 后端

#5633 Create the-absolute-easiest-way-to-debug-node-js-with-vscode.md
  TODO1/the-absolute-easiest-way-to-debug-node-js-with-vscode.md
Labels: 后端

#5608 [译] 移动界面设计的 10 项启发式原则
  TODO1/heuristic-principles-for-mobile-interfaces.md
Labels: 标注, 正在校对, 设计

#5624 构建世界上最快的会议网站
  TODO1/how-we-built-the-fastest-conference-website-in-the-world.md
Labels: 前端, 标注, 正在校对

#5598 使用Node.js 提供百万的活跃 WebSocket 连接
  TODO1/millions-of-active-websockets-with-node-js.md
Labels: 后端, 标注, 正在校对

#5618 用 Flutter 打造一个圆形滑块（Slider）
  TODO1/how-to-build-a-circular-slider-in-flutter.md
Labels: Android, 标注, 正在校对

#5625 如何避免我作为初级开发者时所犯下的 7 个错误
  TODO1/how-to-avoid-these-7-mistakes-i-made-as-a-junior-developer.md
Labels: 其他, 标注, 正在校对

#5604 Kotlin 标准方法备忘
  TODO1/kotlin-standard-functions-cheat-sheet.md
Labels: Android, 翻译完成

#5643 Create convolutional-layers-for-deep-learning-neural-networks.md
  TODO1/convolutional-layers-for-deep-learning-neural-networks.md
Labels: AI

#5647 Create an-overview-of-go-tooling.md
  TODO1/an-overview-of-go-tooling.md
Labels: 后端

#5616 如何让你的 CSS Grid 布局有良好的可访问性
  TODO1/a-guide-to-css-grid-and-accessibility.md
Labels: 前端, 标注

#5648 图片懒加载
  TODO1/native-image-lazy-loading-for-the-web.md
Labels: 前端, 标注, 正在校对

#5605 依赖注入在多模块工程中的应用
  TODO1/dependency-injection-in-a-multi-module-project.md
Labels: Android, 标注, 正在校对

#5620 伟大设计与好设计之间区别是什么？这里告诉你真相
  TODO1/great-design-vs-good-design-whats-the-difference-here-s-the-truth.md
Labels: 标注, 正在校对, 设计

#5652 通过 Play Cloud 的 ART 优化配置提升应用性能
  TODO1/improving-app-performance-with-art-optimizing-profiles-in-the-cloud.md
Labels: Android, 标注, 正在校对

#5665 Create structuring-your-ios-app-for-split-testing.md
  TODO1/structuring-your-ios-app-for-split-testing.md
Labels: iOS

#5634 归一化和标准化 — 量化分析
  TODO1/normalization-vs-standardization-quantitative-analysis.md
Labels: AI, 标注, 正在校对

#5654 我多希望在我学习 React.js 之前就已经知晓这些小窍门
  TODO1/what-i-wish-i-knew-when-i-started-to-work-with-react-js.md
Labels: 前端, 标注, 正在校对

#5661 你认为“figure”怎么用？
  TODO1/how-do-you-figure.md
Labels: 前端, 标注, 正在校对

#5673 使用 PyTorch 在 MNIST 数据集上进行逻辑回归
  TODO1/logistic-regression-on-mnist-with-pytorch.md
Labels: AI, 校对认领, 正在校对

#5684 Create art-direction-for-the-web-using-css-shapes.md
  TODO1/art-direction-for-the-web-using-css-shapes.md
Labels: 前端

#5635 在深度学习训练过程中如何设置数据增强？
  TODO1/how-to-configure-image-data-augmentation-when-training-deep-learning-neural-networks.md
Labels: AI, enhancement, 正在校对

#5678 减少 Python 中循环的使用
  TODO1/minimize-for-loop-usage-in-python.md
Labels: 后端, 翻译完成

#5590 模式 — 使用 Typescript 和 Node.js 的通用仓储
  TODO1/patterns-generic-repository-with-typescript-and-node-js.md
Labels: 后端, 标注, 正在校对
