Repository xitu/gold-miner, pull requests merged in 2019-06, with the labels that each got.

#5868 如何使用 Node.js 构建一个命令行界面（CLI）
  TODO1/how-to-build-a-cli-with-node-js.md
Labels: Tag, 后端, 标注, 校对认领, 正在校对

#5864 Node.js 日志记录指南
  TODO1/guide-node-js-logging.md
Labels: 后端, 标注, 校对认领

#5853 超快速的分析器（二）：惰性解析
  TODO1/blazingly-fast-parsing-part-2-lazy-parsing.md
Labels: 后端, 标注, 校对认领

#5833 Android中的简易协程：viewModelScope
  TODO1/easy-coroutines-in-android-viewmodelscope.md
Labels: Android, 标注, 校对认领

#5815 开始尝试 DevOps：最适合你的是什么样的工具？
  TODO1/what-tools-do-you-need-to-do-devops.md
Labels: 后端, 标注

#5897 Create how-to-perform-object-detection-with-yolov3-in-keras
  TODO1/how-to-perform-object-detection-with-yolov3-in-keras.md
Labels: AI

#5854 如何用 React Hooks 打造一个不到 100 行代码的异步表单校验库
  TODO1/how-i-built-an-async-form-validation-library-in-100-lines-of-code-with-react-hooks.md
Labels: 前端, 标注

#5901 Create javascript-clean-code-best-practices.md
  TODO1/javascript-clean-code-best-practices.md
Labels: 前端

#5902 Create trick-out-your-terminal-in-10-minutes-or-less.md
  TODO1/trick-out-your-terminal-in-10-minutes-or-less.md
Labels: 其他

#5909 JavaScript 线性代数：向量
  TODO1/linear-algebra-vectors.md
Labels: 前端, 标注, 算法

#5898 13 种有用的 JavaScript DOM 操作
  TODO1/13-javascript-methods-useful-for-dom-manipulation.md
Labels: Tag, 前端, 正在校对

#5866 高效地在 Flutter 中使用 BLoC 模式
  TODO1/effective-bloc-pattern.md
Labels: Flutter, enhancement, 标注

#5846 用于 iOS 的 ML Kit 教程：识别图像中的文字
  TODO1/ml-kit-tutorial-for-ios-recognizing-text-in-images.md
Labels: iOS, 标注, 正在校对

#5892 支持 JavaScript 三元运算符
  TODO1/in-defense-of-the-ternary-statement.md
Labels: 前端, 标注, 正在校对

#5886 深入理解图片和框架的原生懒加载功能
  TODO1/a-deep-dive-into-native-lazy-loading-for-images-and-frames.md
Labels: 前端, 标注

#5893 JavaScript 线性代数：线性变换与矩阵
  TODO1/linear-algebra-linear-transformation-matrix.md
Labels: 前端, 算法, 翻译完成

#5875 将第三方动画库集成到项目中 —— 第 1 部分
  TODO1/integrating-third-party-animation-libraries-to-a-project-1.md
Labels: enhancement, 前端, 问题标注

#5887 通过 Rust 学习解析器组合器 — 第一部分
  TODO1/learning-parser-combinators-with-rust-1.md
Labels: 后端, 标注, 校对认领

#5935 Create the-4px-baseline-grid-the-present.md
  TODO1/the-4px-baseline-grid-the-present.md
Labels: 设计

#5896 Flutter 布局备忘录
  TODO1/flutter-layout-cheat-sheet.md
Labels: Flutter, enhancement, 正在校对

#5905 在 Keras 下使用自编码器分类极端稀有事件
  TODO1/extreme-rare-event-classification-using-autoencoders-in-keras.md
Labels: AI, 校对认领, 正在校对

#5938 为什么我们要切换到 gRPC
  TODO1/why-were-switching-to-grpc.md
Labels: 前端, 后端, 翻译完成

#5927 8 个有用的 JavaScript 技巧
  TODO1/8-useful-javascript-tricks.md
Labels: enhancement, 前端

#5942 ECMAScript 类 — 定义私有属性
  TODO1/ecmascript-classes-keeping-things-private.md
Labels: enhancement, 前端

#5949 Create the-80-20-guide-to-json-stringify-in-javascript.md
  TODO1/the-80-20-guide-to-json-stringify-in-javascript.md
Labels: 后端

#5950 Create abusing-and-overusing-list-comprehensions-in-python.md
  TODO1/abusing-and-overusing-list-comprehensions-in-python.md
Labels: AI, 校对认领

#5951 Create android-data-binding-library-from-observable-fields-to-livedata-in-two-steps.md
  TODO1/android-data-binding-library-from-observable-fields-to-livedata-in-two-steps.md
Labels: Android, 校对认领

#5932 JavaScript 简明代码 — 最佳实践
  TODO1/javascript-clean-code-best-practices.md
Labels: 前端, 翻译完成

#5959 Create flutter_go.md
  TODO1/flutter_go.md
Labels: Flutter

#5923 使用谷歌 FACETS 可视化机器学习数据集
  TODO1/visualising-machine-learning-datasets-with-googles-facets.md
Labels: AI, 标注

#5899 微设计系统 — 打破藩篱
  TODO1/micro-design-systems-breaking-the-monolith.md
Labels: 标注, 设计

#5955 揭秘变量提升
  TODO/vertical-typesetting-revisited.md
  TODO1/unpacking-hoisting.md
Labels: 前端, 标注

#5944 4 个 CSS 调色滤镜
  TODO1/4-css-filters-for-adjusting-color.md
Labels: 前端, 标注

#5968 Create enabling-modern-js-on-npm.md
  TODO1/enabling-modern-js-on-npm.md
Labels: 前端

#5970 Create the-state-of-fluid-web-typography.md
  TODO1/the-state-of-fluid-web-typography.md
Labels: 前端

#5929 TypeScript 3.0: unknown 类型
  TODO1/typescript-3-0-the-unknown-type.md
Labels: enhancement, 前端

#5906 利用并行流渐进加载图片
  TODO1/parallel-streaming-of-progressive-images.md
Labels: 后端, 标注

#5928 不到 10 分钟，让你的终端变好看
  TODO1/trick-out-your-terminal-in-10-minutes-or-less.md
Labels: 其他, 标注

#5925 通过 Rust 学习解析器组合器 - 第二部分
  TODO1/learning-parser-combinators-with-rust-2.md
Labels: Tag, 后端, 标注, 校对认领, 正在校对

#5956 JavaScript 线性代数：使用 ThreeJS 制作线性变换动画
  TODO1/linear-algebra-animating-linear-transformations-with-threejs.md
Labels: 前端, 标注, 算法

#5926 剖析 Stack Overflow，开发者遇到最多的的 Bug 是哪些？
  TODO1/picking-apart-stackoverflow-what-bugs-developers-the-most.md
Labels: 其他, 标注

#5930 可维护的 ETL: 使管道更容易支持和扩展的技巧
  TODO1/maintainable-etls.md
Labels: 后端, 标注, 校对认领, 正在校对

#5993 Create http2-causalprof.md
  TODO1/http2-causalprof.md
Labels: 后端

#5994 Create how-can-a-designer-become-a-leader.md
  TODO1/how-can-a-designer-become-a-leader.md
Labels: 其他

#5980 微前端
  TODO1/micro-frontends.md
Labels: 前端, 标注, 正在校对

#5971 感受 4px 基线网格带来的便利
  TODO1/the-4px-baseline-grid-the-present.md
Labels: 翻译完成, 设计

#5943 Xcode 和 LLDB 高级调试教程：第 1 部分
  TODO1/xcode-and-lldb-advanced-debugging-tutorial-part-1.md
Labels: Tag, iOS, 标注, 校对认领, 正在校对

#5963 Git：透过命令学概念 —— 第一部分
  TODO1/learn-git-concepts-not-commands-1.md
Labels: 其他, 标注

#5988 WebSockets 与长轮询的较量
  TODO1/websockets-vs-long-polling.md
Labels: 后端, 标注

#6009 Create how-to-build-ios-mobile-group-chat-app-swift-5-pubnub.md
  TODO1/how-to-build-ios-mobile-group-chat-app-swift-5-pubnub.md
Labels: iOS, 校对认领

#5978 改善 Android Studio 的构建速度
  TODO1/improving-build-speed-in-android-studio.md
Labels: Android, Tag, 校对认领, 正在校对

#6014 理解 React 中的高阶组件
  TODO1/understanding-higher-order-components-in-react.md
Labels: 前端, 标注

#6025 Create agile-agile-blah-blah.md
  TODO1/agile-agile-blah-blah.md
Labels: 其他

#6027 Create using-node-js-to-read-really-really-large-files-pt-1.md
  TODO1/using-node-js-to-read-really-really-large-files-pt-1.md
Labels: 后端, 校对认领

#6028 Create streams-for-the-win-a-performance-comparison-of-nodejs-methods-for-reading-large-datasets-pt-2.md
  TODO1/streams-for-the-win-a-performance-comparison-of-nodejs-methods-for-reading-large-datasets-pt-2.md
Labels: 后端

#5995 线性代数：矩阵基本运算
  TODO1/linear-algebra-basic-matrix-operations.md
Labels: 前端, 算法, 翻译完成

#6036 Create self-host-your-static-assets.md
  TODO1/self-host-your-static-assets.md
Labels: 前端

#6037 Create subscriptions-101-for-android-apps.md
  TODO1/subscriptions-101-for-android-apps.md
Labels: Android, 校对认领

#6006 JavaScript 中 JSON.stringify 的二八法则
  TODO1/the-80-20-guide-to-json-stringify-in-javascript.md
Labels: 前端, 后端, 标注

#6038 Create why-one-hot-encode-data-in-machine-learning.md
  TODO1/why-one-hot-encode-data-in-machine-learning.md
Labels: AI, 校对认领

#5933 使用 What-If 工具来研究机器学习模型
  TODO1/using-what-if-tool-to-investigate-machine-learning-models.md
Labels: AI, 标注

#6030 类（Class）与数据结构（Data Structures）
  TODO1/classes-vs-data-structures.md
Labels: 其他, 标注

#5981 Android 数据绑定库  — 从可观察域到 LiveData 仅需两步
  TODO1/android-data-binding-library-from-observable-fields-to-livedata-in-two-steps.md
Labels: Android, 标注, 校对认领

#5961 如何在 Keras 中用 YOLOv3 进行对象检测
  TODO1/how-to-perform-object-detection-with-yolov3-in-keras.md
Labels: AI, enhancement, 校对认领, 正在校对

#6004 Python 实现排序算法
  TODO1/sorting-algorithms-in-python.md
Labels: enhancement, 后端, 算法

#6031 npm 的经济风云 —— 上半部分
  TODO1/the-economics-of-package-management-1.md
Labels: 其他, 前端, 标注

#6048 在机器学习中为什么要进行 One-Hot 编码？
  TODO1/why-one-hot-encode-data-in-machine-learning.md
Labels: AI, 标注

#6051 Create the-childrens-illustrated-guide-to-kubernetes.md
  TODO1/the-childrens-illustrated-guide-to-kubernetes.md
Labels: 后端

#6053 Create building-a-dynamic-tree-diagram-with-svg-and-vue-js.md
  TODO1/building-a-dynamic-tree-diagram-with-svg-and-vue-js.md
Labels: 前端

#6019 在 npm 上启用现在 JavaScript
  TODO1/enabling-modern-js-on-npm.md
Labels: 前端, 标注

#6021 设计师如何成长为 Leader？
  TODO1/how-can-a-designer-become-a-leader.md
Labels: 其他, 标注
