Repository xitu/gold-miner, pull requests merged in 2019-12, with the labels that each got.

#6531 Create whats-new-in-php-7-4-top-10-features-that-you-need-to-know.md
  TODO1/whats-new-in-php-7-4-top-10-features-that-you-need-to-know.md
Labels: 后端

#6533 Create offline-graphql-queries-with-redux-offline-and-apollo.md
  TODO1/offline-graphql-queries-with-redux-offline-and-apollo.md
Labels: 前端

#6535 Create expressive-code-for-state-machines-in-cpp.md
  TODO1/expressive-code-for-state-machines-in-cpp.md
Labels: 后端

#6519 如何确定团队工作的优先级
  TODO1/how-to-prioritize-your-teams-work.md
Labels: 其他, 翻译完成

#6520 将 GraphQL 概念可视化
  TODO1/the-concepts-of-graphql.md
Labels: 前端, 后端, 翻译完成

#6474 如何将 SVG 图标用做 React 组件？
  TODO1/react-svg-icon-components.md
Labels: 前端, 翻译完成

#6485 这么多编程语言，我该怎么选？
  TODO1/enough-to-decide.md
Labels: 其他, 翻译完成

#6497 动态规划算法的实际应用：接缝裁剪
  TODO1/real-world-dynamic-programming-seam-carving.md
Labels: 后端, 算法, 翻译完成

#6530 设计的变革 —— 从用户体验到个人体验
  TODO1/the-evolution-of-the-design-from-ux-towards-personal-experience.md
Labels: 翻译完成, 设计

#6512 你不需要 passport.js — node.js认证指南
  TODO1/nodejs-jwt-authentication-oauth.md
Labels: 后端, 翻译完成

#6496 简单的谬误
  TODO1/the-fallacy-of-easy.md
Labels: 翻译完成, 设计

#6488 为什么自己动手写代码能让你成为更好的开发者
  TODO1/why-coding-your-own-makes-you-a-better-developer.md
Labels: 其他, 翻译完成

#6462 类型及其在参数中的应用：能优化代码的的 Dart 特性
  TODO1/dart-features-for-better-code-types-and-working-with-parameters.md
Labels: Flutter, 翻译完成

#6546 Create my-personal-git-tricks-cheatsheet.md
  TODO1/my-personal-git-tricks-cheatsheet.md
Labels: 其他, 校对认领

#6549 PHP 7.4 有什么新功能？你必须掌握的 10 大特性
  TODO1/whats-new-in-php-7-4-top-10-features-that-you-need-to-know.md
Labels: 后端, 正在校对

#6553 Create understanding-recursion.md
  TODO1/understanding-recursion.md
Labels: 校对认领

#6555 Create the-ripple-effect-expanding-our-icon-design-system.md
  TODO1/the-ripple-effect-expanding-our-icon-design-system.md
Labels: 校对认领, 设计

#6548 我个人的 Git 技巧备忘录
  TODO1/my-personal-git-tricks-cheatsheet.md
Labels: 其他, 翻译完成

#6557 理解递归、尾调用优化和蹦床函数优化
  TODO1/understanding-recursion.md
Labels: 正在校对, 翻译完成

#6538 我们为何抛弃 Redux 拥抱 MobX
  TODO1/how-we-ditched-redux-for-mobx.md
Labels: 前端, 翻译完成

#6391 Syslog：系统管理员完整指南
  TODO1/syslog-the-complete-system-administrator-guide.md
Labels: 后端, 翻译完成

#6480 深入解析 Flutter Provider 包
  TODO1/a-closer-look-at-the-provider-package.md
Labels: Flutter, 翻译完成

#6564 Create json-parser-with-javascript.md
  TODO1/json-parser-with-javascript.md
Labels: 前端, 校对认领

#6541 使用 Redux Offline 和 Apollo 进行离线 GraphQL 查询
  TODO1/offline-graphql-queries-with-redux-offline-and-apollo.md
Labels: 前端, 翻译完成

#6567 Create how-to-build-a-blog-with-nest-js-mongodb-and-vue-js.md
  TODO1/how-to-build-a-blog-with-nest-js-mongodb-and-vue-js.md
Labels: 前端, 校对认领

#6569 Create an-introduction-to-raspberry-pi-4-gpio-and-controlling-it-with-node-js.md
  TODO1/an-introduction-to-raspberry-pi-4-gpio-and-controlling-it-with-node-js.md
Labels: 其他, 校对认领

#6570 Create why-svelte-wont-kill-react.md
  TODO1/why-svelte-wont-kill-react.md
Labels: 前端, 校对认领

#6582 使用 JavaScript 编写 JSON 解析器
  TODO1/json-parser-with-javascript.md
Labels: enhancement, 前端, 正在校对

#6389 数学编程  ——  一个为推进数据科学发展而培养的关键习惯
  TODO1/mathematical-programming-a-key-habit-to-built-up-for-advancing-in-data-science.md
Labels: AI, 翻译完成

#6552 C++ 中清晰明了的状态机代码
  TODO1/expressive-code-for-state-machines-in-cpp.md
Labels: 后端, 翻译完成

#6589 Create creating-website-sitemap.md
  TODO1/creating-website-sitemap.md
Labels: 前端, 校对认领

#6591 Create use-web-workers-for-your-event-listeners.md
  TODO1/use-web-workers-for-your-event-listeners.md
Labels: 前端, 校对认领

#6561 图标万花筒
  TODO1/the-ripple-effect-expanding-our-icon-design-system.md
Labels: 翻译完成, 设计

#6587 WebRTC 联手 Node.js：打造实时视频聊天应用
  TODO1/how-to-write-video-chat-app-using-webrtc-and-nodejs.md
Labels: 前端, 翻译完成
