Repository xitu/gold-miner, pull requests merged in 2019-11, with the labels that each got.

#6304 Flutter 的状态管理方案：setState、BLoC、ValueNotifier、Provider
  TODO1/flutter-state-management-setstate-bloc-valuenotifier-provider.md
Labels: Flutter, 翻译完成

#6454 Node.js 新特性将颠覆 AI、物联网等更多惊人领域
  TODO1/new-node-js-features.md
Labels: 前端, 后端, 翻译完成

#6459 JavaScript 的发布者/订阅者（Publisher/Subscriber）模式
  TODO1/the-publisher-subscriber-pattern-in-javascript.md
Labels: 前端, 翻译完成

#6348 使用因果分析优化 Go HTTP/2 服务器
  TODO1/http2-causalprof.md
Labels: 后端, 翻译完成

#6478 Create offline-first.md
  TODO1/offline-first.md
Labels: 前端

#6396 如何用 Keras 从头搭建一维生成对抗网络
  TODO1/how-to-develop-a-generative-adversarial-network-for-a-1-dimensional-function-from-scratch-in-keras.md
Labels: AI, 标注

#6486 Create the-trick-to-animating-the-dot-on-the-letter-i.md
  TODO1/the-trick-to-animating-the-dot-on-the-letter-i.md
Labels: 前端

#6490 Create real-world-dynamic-programming-seam-carving.md
  TODO1/real-world-dynamic-programming-seam-carving.md
Labels: 后端, 校对认领

#6492 Create how-to-prioritize-your-teams-work.md
  TODO1/how-to-prioritize-your-teams-work.md
Labels: 其他, 校对认领

#6499 Create nodejs-jwt-authentication-oauth.md
  TODO1/nodejs-jwt-authentication-oauth.md
Labels: 后端

#6388 Flutter: 使用 Redux 实现无限 ListView
  TODO1/flutter-infinite-listview-with-redux.md
Labels: Flutter, 翻译完成

#6504 Create the-evolution-of-the-design-from-ux-towards-personal-experience.md
  TODO1/the-evolution-of-the-design-from-ux-towards-personal-experience.md
Labels: 校对认领, 设计

#6501 设计离线优先的网络应用
  TODO1/offline-first.md
Labels: 前端, 正在校对

#6502 让字母“i”的点动起来的秘密
  TODO1/the-trick-to-animating-the-dot-on-the-letter-i.md
Labels: 前端, 正在校对

#6516 Create the-concepts-of-graphql.md
  TODO1/the-concepts-of-graphql.md
Labels: 前端, 后端

#6525 Create how-we-ditched-redux-for-mobx.md
  TODO1/how-we-ditched-redux-for-mobx.md
Labels: 校对认领
