Repository xitu/gold-miner, pull requests merged in 2020-08, with the labels that each got.

#7254 如何在字符串中隐藏秘密 —— JavaScript 中的现代文本隐藏
  article/2020/how-to-hide-secrets-in-strings-modern-text-hiding-in-javascript.md
Labels: Tag, 前端, 正在校对

#7240 Python：使用 locals() 和 globals() 巧妙编程
  article/2020/python-smart-coding-with-locals-and-global.md
Labels: 后端, 标注

#7267 Create my-favorite-javascript-tips-and-tricks.md
  article/2020/my-favorite-javascript-tips-and-tricks.md
Labels: WIP

#7202 工程师的系统性能艺术
  TODO1/the-art-of-system-performance-for-engineers.md
Labels: enhancement, 后端

#7237 给前端开发者的 14 个 JavaScript 代码优化建议
  article/2020/14-javascript-code-optimization-tips-for-front-end-developers.md
Labels: enhancement, 前端

#7258 如何创建一个可复用的网页爬虫
  article/2020/how-to-create-a-reusable-web-scraper.md
Labels: 后端, 标注

#7274 从头开始到最初的 10 个客户：我是如何设计并推出一个 SaaS 产品
  article/2020/from-scratch-to-the-first-10-customers-how-i-designed-and-launched-a-saas-product.md
Labels: 其他, 正在校对

#7269 前端开发 8 大性能分析工具
  article/2020/performance-analysis-tools-for-front-end-development.md
Labels: Tag, 前端, 正在校对

#7278 分享我喜欢的十五条 JavaScript 编程技巧
  article/2020/my-favorite-javascript-tips-and-tricks.md
Labels: 前端, 标注

#7292 8 个有用的 SCSS 最佳实践
  article/2020/8-scss-best-practices-to-keep-in-mind.md
Labels: 前端, 正在校对

#7261 打包用于分发的 UI 库 —— 当你要发布一个 UI 组件库时，你可能需要遵守的指南
  article/2020/packaging-a-ui-library-for-distribution.md
Labels: enhancement, 前端

#7284 你应该了解的八种浏览器 API
  article/2020/8-unheard-of-browser-apis-you-should-be-aware-of.md
Labels: 前端, 标注

#7329 使用 Chrome 的 Shape Detection API 检测人脸，文本甚至条形码
  article/2020/detect-faces-texts-and-even-barcodes-with-chromes-shape-detection-api.md
Labels: AI, enhancement, 前端

#7319 TypeScript 4.0 终于发布了我一直在等待的东西
  article/2020/typescript-4-0-i-want-a-list-of-generic-params-with-good-labels.md
Labels: 前端, 标注

#7314 如何实现交互式 WebGL 悬停效果
  article/2020/interactive-webgl-hover-effects.md
Labels: Tag, 前端, 正在校对

#7350 JavaScript 生成器：何时用 yield，何时用 yield* ？
  article/2020/generators-in-javascript-when-should-i-use-yield-and-yield.md
Labels: 前端, 标注

#7355 Javascript 应用中引入 CSS 的几种方式
  TODO1/the-many-ways-to-include-css-in-javascript-applications.md
Labels: 前端, 翻译完成
