Repository xitu/gold-miner, pull requests merged in 2020-06, with the labels that each got.

#7163 Object.freeze VS Object.seal —— JavaScript 数据不变性
  article/2020/object-freeze-vs-object-seal-immutability.md
Labels: 前端, 校对认领, 正在校对

#7131 用 Python 写一个俄罗斯方块游戏
  article/2020/writing-tetris-in-python.md
Labels: 前端, 正在校对

#7167 Create Stale-props-and-zombie-children-in-Redux.md
  article/2020/Stale-props-and-zombie-children-in-Redux.md
Labels: 前端

#7148 关于 let 和 const 的对比
  article/2020/on-let-vs-const.md
Labels: 前端, 翻译完成

#7129 一个你不知道但可能会需要的 Vue 插件
  article/2020/vue-plugins-you-dont-know-you-may-need.md
Labels: 前端, 翻译完成

#7064 TypeScript 中的 never 类型
  article/2020/typescripts-never-type.md
Labels: 前端, 翻译完成

#7124 使用 Deno 和 Oak 构建 CRUD API
  article/2020/building-crud-apis-using-deno-and-oak.md
Labels: 前端, 后端, 校对认领, 正在校对

#7098 寻找 2020 年最有意义的十大网页设计流行趋势
  TODO1/find-top-10-meaningful-web-design-trends-in-2020.md
Labels: enhancement, 设计

#7162 你理解数据库死锁发生的原因吗?
  article/2020/understanding-why-a-database-deadlock-occurs.md
Labels: enhancement, 后端

#7165 鲜为人知的 GraphQL 特性
  article/2020/some-arbitrary-number-of-lesser-known-graphql-features.md
Labels: Tag, 前端, 后端, 正在校对

#7178 改善 CSS 的 10 个最佳实践
  article/2020/10-best-practices-for-improving-your-css.md
Labels: 前端, 正在校对

#7084 如何编写可节省您时间的日志文件
  article/2020/how-to-write-log-files-that-save-you-hours-of-time.md
Labels: enhancement, 其他, 后端

#7172 我是如何用 20 小时学会 Sass 的以及为什么你也应该这么做
  article/2020/how-i-learned-sass-in-20-hours-and-why-you-should-too.md
Labels: enhancement, 前端

#7173 CSS Flexbox 中安全/不安全的对齐方式
  article/2020/safe-unsafe-alignment-in-css-flexbox.md
Labels: 前端, 正在校对

#6368 使用 JavaScript 实现一个高效的 LRU cache
  TODO1/lru-cache.md
Labels: enhancement, 前端, 延期啦，大大们赶紧哒, 算法

#7166 我的 React 组件会渲染两次，我快疯了
  article/2020/my-react-components-render-twice-and-drive-me-crazy.md
Labels: enhancement, 前端

#7183 Create how-powerful-are-graph-convolutions-review-of-kipf-welling.md
  article/2020/how-powerful-are-graph-convolutions-review-of-kipf-welling.md
Labels: AI, 校对认领

#7077 在 SwiftUI 中构建服务端驱动的 UI 组件
  article/2020/build-a-server-driven-ui-using-ui-components-in-swiftui.md
Labels: enhancement, iOS

#7177 Schema.org: 你未曾耳闻的流行网页标准 🤫
  article/2020/schema-org-the-popular-web-standard-youve-never-heard-of.md
Labels: 前端, 后端, 正在校对

#7128 如何使用内联框架元素 IFrames 的沙箱属性提高安全性
  article/2020/sandboxed-iframes.md
Labels: 前端, 正在校对

#7180 记一次 —— 构建 API 网关服务的经历...
  article/2020/my-experiences-with-api-gateways.md
Labels: enhancement, 后端

#7188 在 Python 中，三个关于可哈希不可不知的问题
  article/2020/3-essential-questions-about-hashable-in-python.md
Labels: enhancement, 后端

#7191 如何写一份能让你获得面试机会的前端求职简历
  TODO1/how-to-write-a-front-end-developer-resume-that-will-land-you-an-interview.md
Labels: 前端, 正在校对

#7179 用户体验案例学习：重新设计 KoinStreet 主页
  article/2020/ux-case-study-koinstreet-homepage-redesign.md
Labels: enhancement, 设计
