Repository xitu/gold-miner, pull requests merged in 2020-04, with the labels that each got.

#6832 组合软件：书
  TODO1/composing-software-the-book.md
Labels: 前端, 标注, 系列任务

#6851 2020 年用各大前端框架构建的 RealWorld 应用对比
  TODO1/a-realworld-comparison-of-front-end-frameworks-2020.md
Labels: 前端, 标注

#6857 不变性之道
  TODO1/the-dao-of-immutability.md
Labels: 前端, 标注, 系列任务

#6872 Create active-learning-in-machine-learning.md
  TODO1/active-learning-in-machine-learning.md
Labels: 校对认领

#6859 云服务如何帮助你提高业务效率？
  TODO1/how-can-cloud-services-help-improve-your-businessess-efficiency.md
Labels: 其他, 标注

#6731 NestJS 实现基本用户认证和会话
  TODO1/nestjs-basic-auth-and-sessions.md
Labels: 后端, 校对认领, 正在校对

#6856 作为 2020 年的开发者，你应该学习 VIM 吗？
  TODO1/should-you-learn-vim-as-a-developer-in-2020.md
Labels: 其他, 标注

#6863 MySQL 最佳实践—— 高效插入数据
  TODO1/high-speed-inserts-with-mysql.md
Labels: 后端, 标注

#6867 2020 年排名前 6 位的 JavaScript 框架
  TODO1/6-best-javascript-frameworks-in-2020.md
Labels: 前端, 正在校对

#6878 JavaScript 风格元素
  TODO1/elements-of-javascript-style.md
Labels: 前端, 正在校对, 系列任务

#6864 怎样让依赖库保持安全和最新
  TODO1/how-to-keep-your-dependencies-secure-and-up-to-date.md
Labels: 其他, 校对认领, 正在校对

#6794 Web 应用程序中的数据和 UI 分离
  TODO1/separation-of-data-and-ui-in-your-web-app.md
Labels: enhancement, 前端

#6838 用 SwiftUI 的 Paths 创建折线图
  TODO1/create-a-line-chart-in-swiftui-using-paths.md
Labels: iOS, 校对认领, 正在校对

#6893 JavaScript 中的 Generator 函数
  TODO1/generator-functions-in-javascript.md
Labels: 前端, 校对认领

#6831 解决 web 应用程序中的内存泄漏问题
  TODO1/fixing-memory-leaks-in-web-applications.md
Labels: 前端, 正在校对, 问题标注

#6909 为什么对象不变性很重要？
  TODO1/why-is-object-immutability-important.md
Labels: 前端, 校对认领, 正在校对

#6913 Create more-reasons-why-developers-should-blog.md
  TODO1/more-reasons-why-developers-should-blog.md
Labels: 校对认领

#6922 您知道 HTML 的键盘标签吗？
  TODO1/do-you-know-about-the-keyboard-tag-in-html.md
Labels: 前端, 标注

#6906 使用 JavaScript ES2020 中所有的 7 个新特性构建 App
  TODO1/i-built-an-app-that-uses-all-7-new-features-in-javascript-es2020.md
Labels: 前端, 标注

#6902 掌握 JavaScript 面试：什么是函数式编程
  TODO1/master-the-javascript-interview-what-is-functional-programming.md
Labels: 前端, 标注, 系列任务

#6910 Shadow DOM 到底是什么？它为什么重要？
  TODO1/what-on-earth-is-the-shadow-dom-and-why-it-matters.md
Labels: 前端, 标注

#6924 高性能 JavaScript 最佳实践
  TODO1/performant-javascript-best-practices.md
Labels: Tag, 前端, 校对认领, 正在校对

#6904 “为什么”文档的重要性
  TODO1/the-importance-of-why-docs.md
Labels: enhancement, 其他

#6907 防止 Git 泄漏的 5 种最佳做法
  TODO1/5-best-practices-to-prevent-git-leaks.md
Labels: 其他, 标注

#6892 Kafka vs. RabbitMQ：为什么使用 Kafka？
  TODO1/kafka-vs-rabbitmq-why-use-kafka.md
Labels: enhancement, 后端

#6882 创建一个 Settings icon 的五种方法
  TODO1/5-ways-to-create-a-settings-icon.md
Labels: 标注, 设计

#6923 如何成为一名优秀的远程开发者
  TODO1/how-to-be-a-good-remote-developer.md
Labels: enhancement, 其他

#6921 用 SwiftUI 实现 3D Scroll 效果
  TODO1/swiftui-3d-scroll-effect.md
Labels: enhancement, iOS

#6953 在 JavaScript 中为什么 Math.max() 会比 Math.min() 小？
  TODO1/why-math-max-is-less-than-math-min-in-javascript.md
Labels: 前端, 翻译完成

#6940 Google Tag Manager 的真相大揭秘
  TODO1/what-is-google-tag-manager-and-why-use-it.md
Labels: Google, Tag, 其他

#6938 开发者应该写博客的各种原因
  TODO1/more-reasons-why-developers-should-blog.md
Labels: 其他, 正在校对

#6939 目标检测评价标准
  TODO1/object-detection-metrics.md
Labels: AI, 正在校对

#6694 TypeScript 中带生成器的惰性管道
  TODO1/fast-pipelines-with-generators-in-typescript.md
Labels: 前端, 后端, 标注

#6946 机器学习中的主动学习
  TODO1/active-learning-in-machine-learning.md
Labels: AI, 正在校对

#6967 在 Swift 中对 JSON 进行自定义编码和解码的小技巧
  TODO1/custom-encoding-and-decoding-json-in-swift.md
Labels: iOS, 正在校对
