Repository xitu/gold-miner, pull requests merged in 2020-12, with the labels that each got.

#7702 黑暗主题 — 现代 UI 设计
  article/2020/dark-theme-a-modern-ui-design.md
Labels: 正在校对, 设计

#7705 虚拟 DOM 来源于文档片段吗？
  article/2020/is-virtual-dom-derived-from-document-fragments.md
Labels: 前端, 正在校对

#7724 四个优秀 Vue.js 静态站点生成器
  article/2020/best-static-site-generators-for-vue-js.md
Labels: 前端, 正在校对

#7723 JavaScript 的面向切面编程
  article/2020/aspect-oriented-programming-in-javascript.md
Labels: 前端, 正在校对

#7728 增量 DOM 与虚拟 DOM 的对比使用
  article/2020/incremental-vs-virtual-dom.md
Labels: 前端, 正在校对

#7742 提高开发效率的五个 Chrome 扩展程序
  article/2020/5-chrome-extensions-for-developers-productivity.md
Labels: 前端, 校对认领

#7680 你不可错过的 10 个 Xcode 技巧和快捷键
  article/2020/10-tips-shortcuts-you-should-be-using-right-now-on-xcode.md
Labels: iOS, 正在校对

#7751 理解 JavaScript 中模块的导入和导出
  article/2020/understanding-modules-and-import-and-export-statements-in-javascript.md
Labels: 前端, 正在校对

#7752 了解 React Portals（传送门）
  article/2020/understanding-react-portals.md
Labels: 前端, 校对认领, 正在校对

#7743 SwiftUI 黑暗模式——最简单的方法
  article/2020/swiftui-dark-mode-the-easiest-way.md
Labels: enhancement, iOS

#7729 TypeScript 的 5 个建议
  article/2020/5-tips-for-better-typescript-code.md
Labels: 前端, 正在校对

#7755 单体应用与微前端开发对比
  article/2020/monolith-vs-micro-frontend.md
Labels: Tag, 前端

#7617 SwiftUI 中的 PageTabViewStyle
  article/2020/pagetabviewstyle-in-swiftui.md
Labels: enhancement, iOS

#7707 寻找最优化 AutoML 库
  article/2020/hunting-for-the-optimal-automl-library.md
Labels: AI, 正在校对

#7732 继承 vs 组合：哪一个更适合你的 JavaScript 项目？
  article/2020/inheritance-vs-composition-which-is-better-for-your-javascript-project.md
Labels: 前端, 正在校对

#7722 页面生命周期 API：每一个前端开发者都应该知道的浏览器 API
  article/2020/page-lifecycle-api-a-browser-api-every-frontend-developer-should-know.md
Labels: 前端, 正在校对

#7749 探索 Android 中的 ConstraintLayout 2.0
  article/2020/exploring-constraintlayout-2-0-in-android.md
Labels: Android, Tag

#7602 机器学习系统设计相关面试问题的剖析
  article/2020/the-anatomy-of-a-machine-learning-system-design-interview-question.md
Labels: AI, 正在校对

#7594 为什么如今 Deno 正全面取代 Node.js
  article/2020/why-deno-is-perfectly-ready-to-take-over-node-js-now.md
Labels: 后端, 问题标注

#7566 迪米特法则
  article/2020/the-law-of-demeter.md
Labels: 其他, 问题标注

#7782 2021 年你应该掌握的 15 个 VSCode 扩展
  article/2020/15-vscode-extensions-every-web-developer-must-have-in-2021.md
Labels: 前端, 后端, 正在校对

#7788 WebTransport 会在不久的将来取代 WebRTC 吗？
  article/2020/will-webtransport-replace-webrtc-in-near-future.md
Labels: enhancement, 前端, 后端

#7785 在 Node.js 中避免内存泄漏：性能最佳实践
  article/2020/avoiding-memory-leaks-in-nodejs-best-practices-for-performance.md
Labels: Tag, 前端, 正在校对

#7786 使用 CSS 提升页面渲染速度
  article/2020/improve-page-rendering-speed-using-only-css.md
Labels: 前端, 正在校对

#7789 Web 应用缓存的基础知识
  article/2020/fundamentals-of-caching-web-applications.md
Labels: Tag, 前端, 正在校对
