Repository xitu/gold-miner, pull requests merged in 2020-07, with the labels that each got.

#7192 在图像中隐藏数据:用 Python 来实现图像隐写术
  article/2020/hiding-data-in-an-image-image-steganography-using-python.md
Labels: 正在校对, 算法

#7170 如何使用 Python 生成随机文本验证码
  article/2020/how-to-generate-random-text-captchas-using-python.md
Labels: 后端, 校对认领, 正在校对

#7186 在 Swift 使用 User Defaults 的小技巧
  article/2020/user-defaults-in-swift.md
Labels: iOS, 校对认领, 正在校对

#7197 Redux 中过时的 props 和僵尸子节点
  article/2020/Stale-props-and-zombie-children-in-Redux.md
Labels: 前端, 校对认领, 正在校对

#7185 Swift 5.3 的新功能，你了解吗?
  article/2020/whats-new-in-swift-5-3.md
Labels: enhancement, iOS

#7232 JavaScript 技巧 —— 子代构造函数，文本选择，内联 Workers 等等
  article/2020/javascript-tips-child-constructors-text-selection-inline-workers-and-more.md
Labels: 前端, 正在校对
