Repository xitu/gold-miner, pull requests merged in 2020-11, with the labels that each got.

#7532 Python List 使用注意事项
  article/2020/the-dos-and-don-ts-of-python-list-comprehension.md
Labels: enhancement, 后端

#7201 多样化 Mini-Batch 主动学习：复现练习
  article/2020/diverse-mini-batch-active-learning-a-reproduction-exercise.md
Labels: AI, 标注

#7521 使用 clamp() 进行响应式设计
  article/2020/clamp-for-responsive-design.md
Labels: Tag, 前端, 正在校对

#7552 用 Python 完成猎词游戏：字典树
  article/2020/solving-word-hunt-in-python-the-trie.md
Labels: enhancement, 算法

#7597 使用原生 CSS 设置响应式字体
  article/2020/responsive-font-size-using-vanilla-css.md
Labels: 前端, 翻译完成

#7591 JavaScript ES2021 中激动人心的特性
  article/2020/exciting-features-of-javascript-es2021-es12.md
Labels: Tag, enhancement, 前端

#7593 Github Actions 工作流的创建与跟踪
  article/2020/building-and-monitoring-your-first-github-actions-workflow.md
Labels: enhancement, 前端, 后端

#7518 用 JavaScript 实现堆
  article/2020/implementing-heaps-in-javascript.md
Labels: 前端, 标注, 算法

#7618 对象展开运算符在 JavaScript 中的 5 大应用
  article/2020/5-useful-things-the-spread-operator-can-do-in-javascript.md
Labels: 前端, 校对认领, 正在校对

#7564 Web Locks API：跨 Tab 资源同步
  article/2020/web-locks-api-cross-tab-resource-synchronization.md
Labels: 前端, 正在校对

#7632 如何在 Nextjs 中使用 cookies 来持久化保存用户信息
  article/2020/how-to-use-cookies-for-persisting-users-in-nextjs.md
Labels: enhancement, 前端

#7635 四种跨浏览器选项卡实时通信方法
  article/2020/4-ways-to-communicate-across-browser-tabs-in-realtime.md
Labels: enhancement, 前端

#7601 酷毙了的算法：日志结构存储
  article/2020/Damn-Cool-Algorithms-Log-structured-storage.md
Labels: enhancement, 算法

#7637 使用 Svelte 开发前端应用的五个理由
  article/2020/5-reasons-why-you-should-use-svelte-for-front-end-development-in-2021.md
Labels: 前端, 后端, 正在校对

#7599 给初学者的示例：什么是 WSGI？
  article/2020/demoforbeginner-what-is-wsgi.md
Labels: 后端, 校对认领, 正在校对

#7657 使用原生 CSS 实现自适应视频
  article/2020/adaptive-video-with-css-math.md
Labels: 前端, 校对认领, 正在校对

#7656 从零开始了解 JavaScript 装饰器
  article/2020/javascript-decorators-from-scratch.md
Labels: 前端, 校对认领, 正在校对

#7590 Deno 已经死了吗？
  article/2020/is-deno-already-dead.md
Labels: Tag, 后端, 正在校对

#7577 负载平衡算法高级概述
  article/2020/a-high-level-overview-of-load-balancing-algorithms.md
Labels: enhancement, 其他, 后端

#7641 使用 SpringBoot 和 MySQL 构建 GraphQL 服务端应用程序
  article/2020/build-a-graphql-server-with-spring-boot-and-mysql.md
Labels: 后端, 正在校对

#7425 使用 Rust 构建单页应用
  article/2020/rust-wasm-yew-single-page-application.md
Labels: enhancement, 前端

#7670 在浏览器中处理自然语言
  article/2020/natural-language-processing-in-the-browser.md
Labels: AI, 前端, 正在校对

#7655 如何避免 Android 设备的 WiFi 扫描节流
  article/2020/how-to-avoid-wifi-throttling-on-android-devices.md
Labels: Android, Tag, 正在校对

#7677 使用 JavaScript 解构让代码更优雅
  article/2020/write-cleaner-code-by-using-javascript-destructuring.md
Labels: 前端, 正在校对

#7678 如何使用 useRef 修复 React 性能问题
  article/2020/how-to-useref-to-fix-react-performance-issues.md
Labels: 前端, 校对认领, 正在校对

#7668 5 分钟内从单体架构迁移到微服务架构
  article/2020/from-monolith-to-microservices-in-5-minutes.md
Labels: 其他, 后端, 正在校对

#7636 抽象数据类型与软件危机
  article/2020/abstract-data-types-and-the-software-crisis.md
Labels: Tag, 前端, 系列任务
