Repository xitu/gold-miner, pull requests merged in 2020-02, with the labels that each got.

#6656 Create 8-ui-ux-design-trends-for-2020.md
  TODO1/8-ui-ux-design-trends-for-2020.md
Labels: 校对认领

#6652 算法不是产品
  TODO1/the-algorithm-is-not-the-product.md
Labels: 产品, 标注, 算法

#6671 如何写出优雅且有意义的 README.md
  TODO1/how-to-write-beautiful-and-meaningful-readme-md-for-your-next-project.md
Labels: 其他, 标注

#6660 如何选择合适的数据库
  TODO1/how-to-choose-the-right-database.md
Labels: 后端, 标注

#6650 使用 Python 进行边缘检测
  TODO1/edge-detection-in-python.md
Labels: AI, enhancement, 算法

#6681 Create image-inpainting-humans-vs-ai.md
  TODO1/image-inpainting-humans-vs-ai.md
Labels: 校对认领

#6684 图像修复：人类和 AI 的对决
  TODO1/image-inpainting-humans-vs-ai.md
Labels: AI, 标注

#6680 WebAssembly：带有代码示例的简单介绍
  TODO1/webassembly-why-and-how-to-use-it.md
Labels: 前端, 正在校对

#6704 您可能不知道的原生 JavaScript 方法
  TODO1/javascript-native-methods-you-may-not-know.md
Labels: 前端, 正在校对

#6714 Create password-hashing-pbkdf2-scrypt-bcrypt-and-argon2.md
  TODO1/password-hashing-pbkdf2-scrypt-bcrypt-and-argon2.md
Labels: 其他, 校对认领

#6716 Create rel-noopener.md
  TODO1/rel-noopener.md
Labels: 前端, 校对认领

#6677 用 6 分钟学习如何用 Redis 缓存您的 NodeJS 应用！
  TODO1/learn-to-cache-your-nodejs-application-with-redis-in-6-minutes.md
Labels: 后端, 正在校对

#6703 在 Vue 中编写 SVG 图标组件
  TODO1/making-svg-icon-component-in-vue.md
Labels: 前端, 正在校对

#6662 SQL 将死于 No-SQL 之手？
  TODO1/is-no-sql-killing-sql.md
Labels: enhancement, 后端

#6735 Create fixing-memory-leaks-in-web-applications.md
  TODO1/fixing-memory-leaks-in-web-applications.md
Labels: 前端
