Repository xitu/gold-miner, pull requests merged in 2020-10, with the labels that each got.

#7453 TypeScript：一个好泛型的价值
  article/2020/typescript-the-value-of-a-good-generic.md
Labels: 状态/校对认领, 领域/前端

#7459 掌握 JavaScript ES6 中的 Symbol 类型
  article/2020/mastering-javascript-es6-symbols.md
Labels: enhancement, 前端

#7472 学习 SwiftUI 框架中 Text 和 Label 控件的用法（iOS 14）
  article/2020/learn-about-swiftui-text-and-label-in-ios-14.md
Labels: iOS, 正在校对

#7313 利用映射提高 MongoDB 性能
  article/2020/improve-mongodb-performance-using-projection.md
Labels: enhancement, 后端

#7484 如何基于 D3.js 使用外部数据源创建图表
  article/2020/how-to-create-charts-from-external-data-sources-with-d3-js.md
Labels: enhancement, 前端

#7475 在 React 中使用 Service Worker
  article/2020/using-service-workers-with-react.md
Labels: enhancement, 前端

#7424 Python logging 使用指南
  article/2020/tutorial-on-python-logging.md
Labels: 后端, 标注

#7477 10 款质量最佳最受欢迎的 Flutter 工具库
  article/2020/the-10-best-and-most-liked-flutter-packages.md
Labels: Flutter, enhancement

#7498 MVC、MVP、MVVM 对比
  article/2020/mvc-vs-mvp-vs-mvvm.md
Labels: enhancement, 其他

#7495 NextJS vs. NuxtJS vs. GatsbyJS
  article/2020/nextjs-vs-nuxtjs-vs-gatsbyjs.md
Labels: enhancement, 前端

#7508 Golang 切片综合指南
  article/2020/a-comprehensive-guide-to-slices-in-golang.md
Labels: 后端, 正在校对

#7462 通过“四不要”掌握 Python 中的 Lambda 函数
  article/2020/master-python-lambda-functions-with-these-4-donts.md
Labels: 后端, 正在校对

#7493 哪个跨平台框架才是最好的选择？React Native、Flutter 还是 Ionic。
  article/2020/react-native-vs-flutter-vs-ionic.md
Labels: 前端, 校对认领, 正在校对

#7376 我的网站加载时间不到 1 秒，这是我如何做到的！
  article/2020/my-website-now-loads-in-less-than-2-sec-here-s-how-i-did-it-hoj.md
Labels: 前端, 翻译完成

#7494 前端应用的性能指标
  article/2020/performance-metrics-for-front-end-applications.md
Labels: enhancement, 前端

#7520 单页应用程序的哈希 URL 与普通 URL
  article/2020/using-hashed-vs-nonhashed-url-paths-in-single-page-apps.md
Labels: 前端, 校对认领, 正在校对

#7544 JavaScript 颜色处理库 Chroma.js 的应用
  article/2020/color-scales-in-javascript-with-chroma-js.md
Labels: 前端, 校对认领

#7533 WebAssembly 及其 JavaScript API 的完整介绍
  article/2020/a-complete-introduction-to-webassembly-and-its-javascript-api.md
Labels: 前端, 正在校对

#7464 Blitz.js 简介：一个新兴的 React 全栈框架
  article/2020/introduction-to-blitz-js.md
Labels: enhancement, 前端, 后端

#7471 在 Swift 中玩转 emoji
  article/2020/working-with-emoji-in-swift.md
Labels: Tag, enhancement, iOS

#7545 只使用 CSS 进行用户追踪
  article/2020/user-tracking-with-css-only.md
Labels: 前端, 校对认领, 正在校对

#7547 大数据：简述 Lambda 架构
  article/2020/big-data-lambda-architecture-in-a-nutshell.md
Labels: 其他, 标注

#7474 内容安全策略提升 JavaScript 安全性
  article/2020/enhance-javascript-security-with-content-security-policies.md
Labels: Tag, 前端, 正在校对
