Repository xitu/gold-miner, pull requests merged in 2020-01, with the labels that each got.

#6595 Create top-7-modern-programming-language-to-learn-now.md
  TODO1/top-7-modern-programming-language-to-learn-now.md
Labels: 其他, 校对认领

#6600 Create levels-of-seniority.md
  TODO1/levels-of-seniority.md
Labels: 前端

#6602 Create history-of-javascript.md
  TODO1/history-of-javascript.md
Labels: 前端, 校对认领

#6608 Create when-workers.md
  TODO1/when-workers.md
Labels: 前端, 校对认领

#6609 Create i-dont-hate-arrow-functions.md
  TODO1/i-dont-hate-arrow-functions.md
Labels: 前端, 校对认领

#6575 为何 Svelte 杀不死 React
  TODO1/why-svelte-wont-kill-react.md
Labels: 前端, 翻译完成

#6604 如何为求职准备你的 GitHub
  TODO1/how_to_prep_your_github_for_job_seeking.md
Labels: 其他, 正在校对

#6613 论资历的级别
  TODO1/levels-of-seniority.md
Labels: 前端, 翻译完成

#6606 JavaScript 简史
  TODO1/history-of-javascript.md
Labels: 前端, 翻译完成

#6616 JavaScript 简史 补充修改
  TODO1/history-of-javascript.md
Labels: 正在校对

#6617 如何用 Nest.js、MongoDB 和 Vue.js 搭建一个博客
  TODO1/how-to-build-a-blog-with-nest-js-mongodb-and-vue-js.md
Labels: 前端, 后端, 标注

#6625 Create nestjs-basic-auth-and-sessions.md
  TODO1/nestjs-basic-auth-and-sessions.md
Labels: 后端, 校对认领

#6626 Create build-a-blog-using-nuxt-strapi-and-apollo.md
  TODO1/build-a-blog-using-nuxt-strapi-and-apollo.md
Labels: 前端, 校对认领

#6618 现在就该学习的 7 门现代编程语言
  TODO1/top-7-modern-programming-language-to-learn-now.md
Labels: 其他, 翻译完成

#6631 Create goodbye-clean-code.md
  TODO1/goodbye-clean-code.md
Labels: 其他, 校对认领

#6637 Create how-to-choose-the-right-database.md
  TODO1/how-to-choose-the-right-database.md
Labels: 后端, 校对认领

#6638 Create is-no-sql-killing-sql.md
  TODO1/is-no-sql-killing-sql.md
Labels: 后端, 校对认领

#6621 5 个简单步骤为您的网站创建 Sitemap
  TODO1/creating-website-sitemap.md
Labels: 前端, 标注

#6641 再见，整洁的代码
  TODO1/goodbye-clean-code.md
Labels: 其他, 翻译完成

#6614 使用 Web Workers 优化事件监听器
  TODO1/use-web-workers-for-your-event-listeners.md
Labels: 前端, 翻译完成

#6643 在什么时候你需要使用 Web Workers？
  TODO1/when-workers.md
Labels: enhancement, 前端

#6648 Create the-algorithm-is-not-the-product.md
  TODO1/the-algorithm-is-not-the-product.md
Labels: 校对认领

#6646 使用 Nuxt (Vue.js)、Strapi 和 Apollo 构建博客
  TODO1/build-a-blog-using-nuxt-strapi-and-apollo.md
Labels: 前端, 校对认领, 正在校对
