Repository xitu/gold-miner, pull requests merged in 2020-05, with the labels that each got.

#6976 5 个优化技巧助你提高移动 Web 应用的用户留存率
  TODO1/5-optimization-tips-for-your-mobile-web-app-for-higher-user-retention.md
Labels: enhancement, 前端

#6969 你可能会错过的 CSS 伪选择器
  TODO1/css-pseudo-selectors-you-never-knew-existed.md
Labels: 前端, 正在校对

#6989 2020 十大 JavaScript 图像处理库
  TODO1/image-manipulation-libraries-for-javascript.md
Labels: Tag, 前端, 正在校对

#6991 VueJS 3.0.0 Beta：那些令人兴奋的功能
  TODO1/vuejs-3-0-0-beta-features-im-excited-about.md
Labels: 前端, 正在校对

#6997 Create 6-months-of-using-graphql.md
  article/2020/6-months-of-using-graphql.md
Labels: 校对认领

#6992 在 Node.js 中用 Puppeteer 实现网络爬虫
  TODO1/web-scraping-with-puppeteer-in-node-js.md
Labels: enhancement, 前端, 后端

#6974 你的 REST API 准备好部署了吗？7 个问题帮助你做出决定
  TODO1/is-your-rest-api-ready-for-deployment-7-questions-to-help-you-decide.md
Labels: 后端, 校对认领, 正在校对

#6990 用 SwiftUI 实现酷炫的颜色切换动画
  TODO1/swiftui-animating-color-changes.md
Labels: Tag, iOS, 校对认领

#6951 编写类型安全的多态 React 组件（不会导致 TypeScript 崩溃）
  TODO1/polymorphic-react-components.md
Labels: 前端, 正在校对

#6993 使用 Django 构建一个简单的邮件服务
  TODO1/simple-mailer-with-django.md
Labels: Tag, 后端, 校对认领

#7013 使用 GraphQL 的 6 个月
  article/2020/6-months-of-using-graphql.md
Labels: Tag, 后端, 校对认领

#7017 如何编写整洁代码？从 Robert C. Martin 的“代码整洁之道”中吸取的教训
  article/2020/how-to-write-clean-code-lessons-learnt-from-the-clean-code-robert-c-martin.md
Labels: 其他, 正在校对

#7014 实际项目中关于 JavaScript 中 Promises 的最佳实践
  TODO1/5-better-practices-for-javascript-promises-in-real-projects.md
Labels: 前端, 正在校对

#7018 小品 JavaScript Proxy
  article/2020/javascript-proxies.md
Labels: 前端, 正在校对

#6994 如何运用 Swift 的属性包装器实现应用本地化
  TODO1/localize-swift-application.md
Labels: Tag, iOS, 校对认领

#6995 如何在自己的计算机上模拟 UDP Flood DoS 攻击
  article/2020/how-to-simulate-a-udp-flood-dos-attack-on-your-computer.md
Labels: Tag, 其他, 后端, 正在校对

#7040 5 大 JavaScript 字符串操作库
  article/2020/5-string-manipulation-libraries-for-javascript.md
Labels: 前端, 正在校对

#7037 用户体验案例学习：Mood Talk ——  一个心理健康应用
  article/2020/mood-talk-tell-how-you-feel-to-others-who-face-the-same-challenges.md
Labels: 正在校对, 设计

#7035 贪心算法，你入门了吗？
  article/2020/greedy-algorithms-101.md
Labels: Tag, 正在校对, 算法

#7039 什么是无障碍？为什它对于用户体验很重要？
  TODO1/what-is-accessibility-and-why-is-it-crucial-for-your-users-experience.md
Labels: 正在校对, 设计

#7067 贪心算法，你入门了吗？
  article/2020/greedy-algorithms-101.md
Labels: 校对认领

#7015 11 个能让你的 App 像原生 App 的 Chrome API
  TODO1/11-chrome-apis-that-give-your-web-app-a-native-feel.md
Labels: enhancement, 前端

#7038 关于 JavaScript 中 Symbol 数据类型你需要了解的一切
  TODO1/everything-you-need-to-know-about-javascript-symbols.md
Labels: enhancement, 前端

#7071 更新译文《什么是无障碍？为什它对于用户体验很重要？》
  TODO1/what-is-accessibility-and-why-is-it-crucial-for-your-users-experience.md
Labels: 校对认领

#6952 0202 年了，是时候学习 Combine 了
  TODO1/combine-getting-started.md
Labels: iOS, 校对认领, 正在校对

#7086 Create will-ubuntu-20-04-steal-more-windows-users.md
  article/2020/will-ubuntu-20-04-steal-more-windows-users.md
Labels: 校对认领

#7088 Create is-deno-a-threat-to-node.md
  article/2020/is-deno-a-threat-to-node.md
Labels: 校对认领

#7043 纯 JavaScript 版本的 Lodash 数组 Filtering 和 Manipulation 方法
  TODO1/plain-javascript-versions-of-lodash-array-filtering-and-manipulation-methods.md
Labels: 前端, 校对认领, 正在校对

#7069 ECMAScript 2020 新特性
  article/2020/latest-features-javascript-ecmascript-2020.md
Labels: 前端, 标注

#7063 用 JavaScript 中的蹦床函数实现安全递归
  article/2020/safe-recursion-with-trampoline-in-javascript.md
Labels: 前端, 标注

#7070 如何且为何要在单页应用中防止跨域资源共享
  article/2020/how-and-why-you-should-avoid-cors-in-single-page-apps.md
Labels: enhancement, 前端

#7102 Ubuntu 20.04 会不会偷走更多的 Windows 用户？
  article/2020/will-ubuntu-20-04-steal-more-windows-users.md
Labels: 其他, 校对认领, 正在校对

#6776 如何在 JavaScript 中使用新特性“顶层 await”
  TODO1/javascript-top-level-await-in-a-nutshell.md
Labels: enhancement, 前端, 延期啦，大大们赶紧哒

#6968 恋爱 5 年的消息看起来是什么样
  TODO1/what-5-years-of-a-relationships-messages-look-like.md
Labels: AI, 其他, 标注

#7101 看我如何把网站性能提升 422%
  article/2020/how-i-increased-our-web-performance-by-422.md
Labels: enhancement, 前端

#7036 深入浅出 array.fill() 函数
  TODO1/an-in-depth-exploration-of-the-array-fill-function.md
Labels: Tag, 前端, 正在校对

#7123 重新思考前端：微前端
  article/2020/rethinking-the-front-end-micro-frontend.md
Labels: Tag, 前端, 正在校对

#7125 手机端 WebKit 内核浏览器 100vh 问题的 CSS 修复方法
  article/2020/css-fix-for-100vh-in-mobile-webkit.md
Labels: 前端, 正在校对

#7042 理解 zip 和 gzip 压缩格式背后的压缩算法
  article/2020/understand-the-deflate-compression-behind-the-zip-and-gzip-formats.md
Labels: enhancement, 其他, 算法

#7074 在 Swift 中使用 MVVM 架构实现无限滚动和图片加载
  article/2020/mvvm-in-swift-infinite-scrolling-and-image-loading.md
Labels: iOS, 校对认领, 正在校对

#7078 深入了解 React Fiber 内部实现
  TODO1/deep-dive-into-react-fiber-internals.md
Labels: 前端, 正在校对

#7075 异步编程和多线程，我该选择哪个方案？
  article/2020/which-should-you-use-asynchronous-programming-or-multi-threading.md
Labels: 后端, 正在校对

#7076 Python 内存管理之垃圾回收
  article/2020/garbage-collection-in-python.md
Labels: enhancement, 后端

#7132 Deno 会对 Node 造成威胁吗？
  article/2020/is-deno-a-threat-to-node.md
Labels: 其他, 前端, 正在校对

#7095 可以用来构建 Deno Web 应用程序的 7 个模块
  article/2020/7-modules-you-can-use-right-now-to-build-your-first-deno-web-app.md
Labels: Tag, 前端, 后端, 校对认领

#7117 无服务器实际上是什么意思？
  article/2020/what-does-serverless-actually-mean.md
Labels: enhancement, 后端
