Repository xitu/gold-miner, pull requests merged in 2020-09, with the labels that each got.

#7356 让你的 Web 应用和移动应用选择 PWA 的 5 个理由
  article/2020/5-reasons-to-choose-pwa-for-your-web-and-mobile-apps.md
Labels: 前端, 标注

#7357 如何利用 Polyfill 和转译在所有浏览器中使用最新 JavaScript 特性
  article/2020/use-the-latest-javascript-features-in-any-browser.md
Labels: 前端, 正在校对

#7349 如何在悬停时创建菜单图像动画
  article/2020/creating-a-menu-image-animation-on-hover.md
Labels: 前端, 标注

#7377 JavaScript 引擎概述
  article/2020/javascript-engines-an-overview.md
Labels: 前端, 标注

#7353 颜色为何成为数据可视化的关键，怎样使用它？
  article/2020/why-color-is-key-for-data-visualization-and-how-to-use-it.md
Labels: 标注, 设计

#7390 加速 vue.js 应用的六种绝技
  article/2020/6-ways-to-speed-up-your-vue-js-application.md
Labels: enhancement, 前端

#7370 React vs. Svelte：虚拟与真实 DOM 间的战争
  article/2020/react-vs-sveltejs-the-war-between-virtual-and-real-dom.md
Labels: 前端, 标注

#7389 JavaScript 函数中一些你不知道的秘密
  article/2020/function-in-javascript-has-much-more-secrets-than-you-think.md
Labels: Tag, 前端, 校对认领

#7401 使用 JSON.stringify 处理 JavaScript 对象
  article/2020/using-json-stringify-to-work-with-javascript-object.md
Labels: enhancement, 前端

#7270 Vue 应用的代码覆盖率
  article/2020/code-coverage-vue-cypress.md
Labels: enhancement, 前端

#7328 使用合成数据改善机器学习中的极度不平衡数据集
  article/2020/improving-massively-imbalanced-datasets-in-machine-learning-with-synthetic-data.md
Labels: AI, enhancement

#7388 如何处理 JavaScript 比较中的临界情况
  article/2020/how-to-handle-comparison-corner-cases.md
Labels: enhancement, 前端

#7336 世界比以往任何时候都更需要 Web 可访问性
  article/2020/the-world-needs-web-accessibility-now-more-than-ever.md
Labels: enhancement, 其他

#7335 让神经网络变得更小巧以方便部署
  article/2020/making-neural-networks-smaller-for-better-deployment.md
Labels: AI, enhancement

#7352 7 种有用的时间复杂度
  article/2020/7-helpful-time-complexities.md
Labels: 标注, 算法

#7431 知识的极限
  article/2020/the-limits-of-knowledge.md
Labels: AI, 其他

#7418 5 个鲜为人知的 Chrome 开发工具的特性
  article/2020/5-lesser-known-features-of-chrome-devtools.md
Labels: 前端, 标注

#7423 VueJS 中更好的组件组合方式
  article/2020/better-composition-in-vue.md
Labels: 前端, 标注

#7429 使用 React 和 localStorage 实现的简易 Dark Mode 开关
  article/2020/easy-dark-mode-switch-with-react-and-localstorage-3k6d.md
Labels: 前端, 标注

#7359 Python 的优化 — 驻留机制
  article/2020/optimization-in-python-interning.md
Labels: 后端, 标注

#7302 使用 Shpinx 为 Python 项目自动生成文档
  article/2020/auto-documenting-a-python-project-using-sphinx.md
Labels: enhancement, 后端

#7451 ES2017 最佳特性  —  数组中的异步函数以及共享缓冲区
  article/2020/best-features-of-es2017-async-functions-and-arrays-and-shared-buffers.md
Labels: enhancement, 前端
