Repository xitu/gold-miner, pull requests merged in 2020-03, with the labels that each got.

#6739 关于 icon 设计的 7 大准则
  TODO1/7-principles-of-icon-design.md
Labels: 正在校对, 设计

#6752 Create a-new-go-api-for-protocol-buffers.md
  TODO1/a-new-go-api-for-protocol-buffers.md
Labels: 校对认领

#6750 停止在任何地方使用 ===
  TODO1/stop-using-everywhere.md
Labels: 前端, 后端, 正在校对

#6693 理解 Service Worker 和缓存策略
  TODO1/understanding-service-workers-and-caching-strategies.md
Labels: 前端, 校对认领, 正在校对

#6732 一份数据科学 A/B 测试的简单指南
  TODO1/a-simple-guide-to-a-b-testing-for-data-science.md
Labels: AI, 正在校对

#6771 Create create-a-line-chart-in-swiftui-using-paths.md
  TODO1/create-a-line-chart-in-swiftui-using-paths.md
Labels: 校对认领

#6763 2020 年要学习的 7 种编程语言和框架
  TODO1/the-7-programming-languages-frameworks-to-learn-in-2020.md
Labels: enhancement, 其他

#6768 Git 的历史: 软件版本控制的统治之路
  TODO1/btc-history-git.md
Labels: enhancement, 其他

#6796 Create a-realworld-comparison-of-front-end-frameworks-2020.md
  TODO1/a-realworld-comparison-of-front-end-frameworks-2020.md
Labels: 前端

#6792 密码哈希的方法：PBKDF2，Scrypt，Bcrypt 和 ARGON2
  TODO1/password-hashing-pbkdf2-scrypt-bcrypt-and-argon2.md
Labels: 正在校对, 算法

#6788 给 NodeJS 的 Logs 点颜色看看！
  TODO1/making-logs-colorful-in-nodejs.md
Labels: 前端, 后端, 正在校对

#6781 前端代码顶部的 Header 标签里都有些什么？
  TODO1/whats-going-on-in-that-front-end-head.md
Labels: 前端, 正在校对

#6807 Create composing-software-the-book.md
  TODO1/composing-software-the-book.md
Labels: 前端

#6808 Create the-dao-of-immutability.md
  TODO1/the-dao-of-immutability.md
Labels: 前端, 校对认领

#6809 Create master-the-javascript-interview-what-is-a-pure-function.md
  TODO1/master-the-javascript-interview-what-is-a-pure-function.md
Labels: 前端

#6810 Create master-the-javascript-interview-what-is-functional-programming.md
  TODO1/master-the-javascript-interview-what-is-functional-programming.md
Labels: 前端

#6811 Create elements-of-javascript-style.md
  TODO1/elements-of-javascript-style.md
Labels: 前端

#6804 8 个值得了解的树形数据结构
  TODO1/8-useful-tree-data-structures-worth-knowing.md
Labels: 算法, 翻译完成

#6806 眼动跟踪和移动世界的最佳用户体验实践
  TODO1/eye-tracking-and-the-best-ux-practices-in-the-mobile-world.md
Labels: 翻译完成, 设计

#6659 我并不讨厌箭头函数(#6610)
  TODO1/i-dont-hate-arrow-functions.md
Labels: 前端, 翻译完成

#6828 掌握 JavaScript 面试：什么是纯函数？
  TODO1/master-the-javascript-interview-what-is-a-pure-function.md
Labels: enhancement, 前端, 系列任务

#6823 用依赖注入来解耦你的代码
  TODO1/decouple-your-code-with-dependency-injection.md
Labels: 后端, 正在校对

#6849 Create should-you-learn-vim-as-a-developer-in-2020.md
  TODO1/should-you-learn-vim-as-a-developer-in-2020.md
Labels: 校对认领

#6793 JSON.stringify() 的 5 个秘密特性
  TODO1/5-secret-features-of-json-stringify.md
Labels: 前端, 正在校对
