Repository xitu/gold-miner, pull requests merged in 2021-06, with the labels that each got.

#8682 CSS是编程语言吗？
  article/2021/is-css-a-programming-language.md
Labels: 前端, 正在校对

#8685 使用 CI/CD 优化前端构建的五种策略
  article/2021/5-strategies-to-reduce-frontend-build-time-with-ci-cd.md
Labels: 前端, 正在校对

#8686 向 TC39 提交提案
  article/ECMA-TC39/Presenting-a-Proposal-to-TC39.md
Labels: ECMA-TC39, 前端, 正在校对

#8681 什么是 http/3，为什么它很重要？
  article/2021/what-is-http-3-and-why-does-it-matter.md
Labels: 前端, 后端, 正在校对

#8687 Chrome 浏览器的自定义状态伪类
  article/2021/custom-state-pseudo-classes-in-chrome.md
Labels: 前端, 正在校对

#8669 MongoDB 高性能最佳实践：事务，读取关心程度与写入关心程度
  article/2021/performance-best-practices-transactions-and-read--write-concerns.md
Labels: 后端, 正在校对

#8719 Jetpack Compose：更简便的 RecyclerView（第一部分）
  article/2021/recyclerview-in-jetpack-compose.md
Labels: Android, Kotlin, 校对认领, 正在校对

#8684 修订后的参与 TC39 标准委员会的模式
  article/ECMA-TC39/Revised-Patterns-for-Participation-in-Standards-Committees.md
Labels: ECMA-TC39, 前端, 正在校对

#8670 在 PostgreSQL 中解码 Django 会话数据
  article/2021/Decoding-Django-Sessions-in-PostgreSQL.md
Labels: 后端, 正在校对

#8734 如何举办一个 TC39 会议
  article/ECMA-TC39/How-to-host-a-TC39-meeting.md
Labels: ECMA-TC39, 前端, 正在校对

#8733 用 JavaScript 访问用户设备硬件的新标准
  article/2021/new-standards-to-access-user-device-hardware-using-javascript.md
Labels: 前端, 正在校对

#8738 如何做记录
  article/ECMA-TC39/How-to-take-notes.md
Labels: ECMA-TC39, 前端, 正在校对

#8735 如何参与会议
  article/ECMA-TC39/How-to-participate-in-meetings.md
Labels: ECMA-TC39, 前端, 正在校对

#8746 简述自动生成的社交媒体图片
  article/2021/auto-generated-social-media-images.md
Labels: 前端, 校对认领, 正在校对

#8578 Kotlin Multiplatform Mobile 的三模块问题
  article/2021/three-framework-problem-with-kotlin-multiplatform-mobile.md
Labels: Android, Kotlin, iOS, 翻译完成

#8757 编译成 JavaScript 接口框架的案例
  article/2021/a-case-for-compile-to-javascript-interface-frameworks.md
Labels: 前端, 校对认领, 正在校对

#8739 如何召开在线会议
  article/ECMA-TC39/How-to-run-an-online-meeting.md
Labels: ECMA-TC39, 前端, 正在校对

#8737 使用 Spring Cloud Gateway 作为微服务网关
  article/2021/using-spring-cloud-gateway-for-microservices-app.md
Labels: 后端, 正在校对

#8831 Chrome 92 DevTools 新功能
  article/2021/new-in-devtools-92.md
Labels: 前端, 正在校对, 资讯

#8754 解密 Java Lambda 表达式
  article/2021/demystifying-java-lambda-expressions.md
Labels: 后端, 正在校对

#8833 如何打造可被摇树优化的库
  article/2021/library-tree-shaking.md
Labels: 前端, 正在校对

#8835 你真的应该在黑暗模式下进行编码吗？
  article/2021/should-you-really-be-coding-in-dark-mode.md
Labels: 其他, 正在校对

#8836 简述 JavaScript 高阶函数的开发使用
  article/2021/all-you-need-to-know-about-higher-order-functions-in-javascript.md
Labels: 前端, 正在校对

#8837 成为 TC39 代表
  article/ECMA-TC39/Becoming-a-TC39-delegate.md
Labels: ECMA-TC39, 正在校对
