Repository xitu/gold-miner, pull requests merged in 2021-04, with the labels that each got.

#8287 详细解读 Webpack 的模块热替换功能
  article/2021/webpacks-hot-module-replacement-feature-explained.md
Labels: 前端, 正在校对

#8375 Apple WWDC 21 回归，6 月 7 日线上不见不散！
  article/2021/apple-announces-june-7-start-date-for-wwdc-2021.md
Labels: 正在校对, 资讯

#8332 都 2021 年了，你还不知道这 10 个 CSS 功能？
  article/2021/new-css-features-2021.md
Labels: 前端, 正在校对

#8368 1993 年的 CGI 脚本和早期服务端 Web 编程
  article/2021/1993-cgi-scripts-and-early-server-side-web-programming.md
Labels: 前端, 正在校对

#8397 谷歌 DeepMind 发布 NFNet：高效的深度网络
  article/2021/deepmind-NFNets-deep-learning.md
Labels: AI, 正在校对

#8354 在商业智能中使用 MongoDB 的 4 种方式 - 如何在非结构化数据中使用结构化查询分析
  article/2020/4-options-for-using-mongodb-with-business-intelligence.md
Labels: 后端, 正在校对

#8312 SREs 和 DevOps 十大开源项目
  article/2021/top-open-source-projects-for-sres-and-devops.md
Labels: 后端, 校对认领, 正在校对

#8404 Applets 应用程序的终结
  article/2021/The-End-of-Applets.md
Labels: enhancement, 前端

#8405 Mongodb 和 mysql 使用场景分析
  article/2021/mongodb-vs-mysql-when-to-use.md
Labels: enhancement, 后端

#8408 新型前端构建工具 Vitejs 开发使用
  article/2021/the-new-king-of-bundlers-is-here-all-bow-before-vitejs.md
Labels: 前端, 正在校对

#8412 解决方案架构师技巧：架构图的5种类型
  article/2021/solutions-architect-tips-the-5-types-of-architecture-diagrams.md
Labels: 其他, 校对认领, 正在校对

#8399 每位 Web 开发者都应该知道的 7 个 JavaScript 基础知识
  article/2021/7-JavaScript-Fundamentals-Every-Web-Developer-Should-Know.md
Labels: 前端, 正在校对

#7640 如何打造一个好的 GitHub 用户档案？
  article/2020/what-makes-a-good-github-profile.md
Labels: 其他, 标注

#8434 Grafana 为其可视化产品栈新增企业级日志服务
  article/2021/grafana-managed-observability.md
Labels: enhancement, 资讯

#8436 没有 UI 团队怎么办？分享 6 款能为独立网页开发者提效的免费工具
  article/2021/6-amazing-free-tools-that-will-save-you-some-time-when-u-are-building-websites-especially-for-non-designer-developers.md
Labels: enhancement, 其他, 前端

#8350 到了下一代图像编码来罢黜 JPEG 编码的时候了
  article/2021/time-for-next-gen-codecs-to-dethrone-jpeg.md
Labels: 其他, 前端, 正在校对

#8407 2021 年 Kubernetes 的开发者工具：Helm、Kustomize 和 Skaffold
  article/2021/developer-tooling-for-kubernetes-in-2021-helm-kust.md
Labels: 后端, 正在校对

#8452 使用 GitHub 代码扫描和 CodeQL 工具检测 Solorigate 等后门程序
  article/2021/using-github-code-scanning-and-codeql-to-detect-traces-of-solorigate-and-other-backdoors.md
Labels: 其他, 正在校对

#8464 Mozilla 对行业最大的贡献是 Rust，而不是火狐浏览器
  article/2021/rust-not-firefox-is-mozillas-greatest-industry-contribution.md
Labels: 其他, 校对认领, 资讯

#8458 Google 的 Apollo 芯片设计人工智能框架将深度学习芯片的性能提高了 25％
  article/2021/google-ai-chip-design.md
Labels: AI, 校对认领, 资讯

#8284 这会是渐进式应用程序 PWA 衰落的开始吗？
  article/2021/is-it-the-beginning-of-the-end-for-pwas.md
Labels: 前端, 正在校对

#8247 7 个最能用于构造更整洁的 Flutter 应用的 Dart 小贴士和小技巧
  article/2021/top-7-dart-tips-and-tricks-for-cleaner-flutter-apps.md
Labels: Flutter, 正在校对

#8455 现代 Web 应用程序中的 Web 分享
  article/2021/web-share-for-modern-web-apps.md
Labels: 前端, 正在校对

#8389 假如浏览器支持原生的“跳至内容”链接……
  article/2021/imagining-native-skip-link.md
Labels: 前端, 正在校对

#8443 解密转置卷积
  article/2021/transposed-convolution-demystified.md
Labels: AI, 正在校对

#8396 使用 Flutter 构建一个名言名句应用程序
  article/2021/flutter-quote-app.md
Labels: Flutter, 正在校对

#8392 当 Android 的 Compat 库不能拯救你的时候
  article/2021/when-compat-libraries-do-not-save-you.md
Labels: Android, 正在校对

#8398 Flutter 动画：构建一个和 Medium 一样的鼓掌动画
  article/2021/flutter-animation-creating-mediums-clap-animation-in-flutter.md
Labels: Flutter, 正在校对

#8486 使用 VPython 进行物理模拟
  article/2021/physics-simulations-using-vpython.md
Labels: 其他, 正在校对

#8378 人工智能系统 Project Debater 即将提供 12 个新的云 API
  article/2021/ibm-12-project-debater-api.md
Labels: AI, 正在校对

#8475 可以在下一个项目中使用的 20 个 Go 三方库
  article/2021/20-go-packages-you-can-use-in-your-next-project.md
Labels: 后端, 正在校对

#8467 在线添加唯一索引
  article/2021/adding-a-unique-constraint-in-an-online-way.md
Labels: 后端, 正在校对

#8472 2021 年最值得使用的 Node.js 框架
  article/2021/top-node-js-frameworks-to-use-in-2021.md
Labels: 后端, 正在校对

#8401 对产品经理而言的 Web 性能
  article/2021/Web-Performance-for-Product-Managers.md
Labels: 前端, 正在校对

#8500 跨站脚本攻击（XSS）
  article/2021/cross-site-scripting.md
Labels: 前端, 正在校对

#8400 构建和 Telegram 一样的上传动画
  article/2021/telegram-like-uploading-animation.md
Labels: Android, Kotlin, 正在校对

#8520 从 React 转换到 Next.js 的五个理由
  article/2021/5-Reasons-to-Switch-from-React-to-Next-js.md
Labels: 前端, 校对认领, 正在校对
