Repository xitu/gold-miner, pull requests merged in 2021-03, with the labels that each got.

#8046 我希望多年前就知道的 Nginx 概念
  article/2021/nginx-concepts-i-wish-i-knew-years-ago.md
Labels: 后端, 正在校对

#8016 为什么我还在用Lisp（而且你也应该用）
  article/2021/why-i-still-lisp-and-you-should-too.md
Labels: 其他, 正在校对

#8084 关于 Node.js 中的异步迭代器
  article/2021/About-Async-Iterators-in-Node.js.md
Labels: 前端, 正在校对

#8071 代码可视化 － 使用图技术为 Python 项目绘制结构图
  article/2021/building-a-map-of-your-python-project-using-graph-technology-visualize-your-code.md
Labels: 其他, 后端, 校对认领, 正在校对

#8009 人人都能够理解的身份认证和授权访问
  article/2021/authorization-and-authentication-for-everyone.md
Labels: enhancement, 后端

#7993 数据科学中的 9 种距离度量
  article/2021/9-distance-measures-in-data-science.md
Labels: AI, 正在校对

#8115 TypeScript 4.2 正式发布：优化了类型和开发者体验
  article/2021/Typescript-4-2-Released-Improves-Types-and-Developer-Experience.md
Labels: 前端, 正在校对

#8111 自适应 CSS 栅格：自由布局的最终版本
  article/2021/understanding-css-grid.md
Labels: 前端, 正在校对

#8130 和我一样是 TypeScript 黑粉的 “JavaScript 开发者” 是怎样黑转粉的？
  article/2021/how-an-anti-typescript-javascript-developer-like-me-became-a-typescript-fan.md
Labels: 前端, 正在校对

#8127 在 React 中使用 Immer 管理不可变状态
  article/2021/using-immer-with-react-a-simple-solutions-for-immutable-states.md
Labels: 前端, 正在校对

#8131 Deno 1.8 发行公告
  article/2021/Deno-1-8-Release-Notes.md
Labels: 前端, 校对认领, 正在校对

#8137 深入理解 Rust 所有权、借用、生命周期
  article/2021/understanding-rust-ownership-borrowing-lifetimes.md
Labels: 后端, 校对认领, 正在校对

#8138 重新审视 undefined 和 null
  article/2021/undefined-null-revisited.md
Labels: 前端, 正在校对

#8101 通过集群提高 Node.js 应用程序性能
  article/2021/improving-node-application-performance-with-clustering.md
Labels: Tag, 后端, 正在校对

#8150 和 Node.js 创始人 Ryan Dahl 的对话
  article/2021/Interview-with-Ryan-Dahl-Creator-of-Node-js.md
Labels: 前端, 正在校对

#8123 Swift 5.4 的新特性
  article/2021/whats-new-in-swift-5-4.md
Labels: iOS, 正在校对

#8102 面向 JavaScript 开发人员的 Monads
  article/2021/monads-for-javascript-developers.md
Labels: 前端, 正在校对

#8081 6 个没人讲过的 CSS 属性
  article/2021/6-css-properties-nobody-is-talking-about.md
Labels: 前端, 正在校对

#8151 2021 年 1 月 RedMonk 编程语言排名
  article/2021/The-RedMonk-Programming-Language-Rankings-January-2021.md
Labels: 其他, 正在校对

#8078 2021 年需要了解的 34 个 JavaScript 优化技巧
  article/2021/34-javascript-optimization-techniques-to-know-in-2021.md
Labels: 前端, 正在校对

#8155 Chrome 88 DevTools 中的新功能
  article/2021/new-features-chrome-88.md
Labels: 其他, 前端, 正在校对

#8042 Figma 生产环境中的 Rust
  article/2021/Rust in production at Figma.md
Labels: 后端, 正在校对

#8112 JavaScript Temporal API —— Date API 问题的一个解决方案
  article/2021/javascript-temporal-api-a-fix-for-the-date-api.md
Labels: 前端, 正在校对

#8174 实现响应式图像的四种技术策略
  article/2021/responsive-images-different-techniques-and-tactics.md
Labels: 前端, 正在校对

#8008 从 RxJava 2 转向使用 Kotlin 流：多线程
  article/2021/from-rxjava-2-to-kotlin-flow-threading.md
Labels: Kotlin, 正在校对

#8187 新发布的 TypeScript 手册！先睹为快！
  article/2021/announcing-the-new-typescript-handbook.md
Labels: 前端, 校对认领

#8194 Create working-toward-fairer-machine-learning.md
  article/2021/working-toward-fairer-machine-learning.md
Labels: AI

#7986 在 Flutter 项目中使用 Lottie 构建原生 Splash 启动页
  article/2021/native-splash-screen-in-flutter-using-lottie.md
Labels: Android, Flutter, iOS, 正在校对

#8146 5 个 Kotlin 扩展技巧让你的 Android 代码更具表现力
  article/2021/5-kotlin-extensions-to-make-your-android-code-more-expressive.md
Labels: Android, Kotlin, 校对认领, 正在校对

#8180 Fix code
  article/2021/34-javascript-optimization-techniques-to-know-in-2021.md
Labels: 标注

#8219 React Native 0.64 发布，已在 iOS 支持 Hermes
  article/2021/announcing-react-native-0.64-with-hermes-on-ios.md
Labels: iOS, 其他, 正在校对

#8206 Raspberry Pi 九岁啦：你可能不知道的 9 件事
  article/2021/raspberry-pi’s-ninth-birthday-9-things-you-might-not-know.md
Labels: 其他, 正在校对, 资讯

#8202 Python 类的 6 种替代方案
  article/2021/6-alternatives-to-classes-in-python.md
Labels: 后端, 正在校对

#8191 3 种在任何浏览器中使用 CSS 网格的 Fallback 技术
  article/2021/3-fallback-techniques-to-support-css-grid-in-any-browser.md
Labels: 前端, 正在校对

#8205 十年可视化开源历程
  article/2021/10-years-of-open-source-visualization.md
Labels: 前端, 正在校对

#8201 Android 启动技巧：不要使用 Kotlin 协程
  article/2021/android-startup-tip-dont-use-kotlin-coroutines.md
Labels: Android, Kotlin, enhancement

#8242 Angular vs. React vs. Vue：2021 年哪个框架最好？
  article/2021/Angular-vs-React-vs-Vue-Which-Framework-is-Best-in-2021.md
Labels: 前端, 正在校对

#8244 Snowpack：一个可替代 Webpack 的构建工具
  article/2021/snowpack-an-alternative-build-tool-to-webpack.md
Labels: 前端, 正在校对

#8264 让机器学习更加公平
  article/2021/working-toward-fairer-machine-learning.md
Labels: AI, 校对认领

#8283 谷歌云公开发布医疗保健同意管理 API
  article/2021/gcp-healthcare-consent-api.md
Labels: 正在校对, 资讯

#8261 Dropbox 公布了 Atlas —— 一个托管服务编排平台
  article/2021/dropbox-reveals-Atlas.md
Labels: 后端, 正在校对, 资讯

#8248 Google 的开源模糊测试工具 OSS-Fuzz 现在支持 Java 应用了
  article/2021/google-oss-fuzz-extends-fuzzing-to-java-apps.md
Labels: Google, 后端, 校对认领, 正在校对, 资讯

#8275 斯坦福发布 2021 年人工智能指数报告
  article/2021/stanford-ai-report-2021.md
Labels: AI, 正在校对, 资讯

#8262 Go 语言全球开发者调查报告
  article/2021/Go-developer-survey-2020-results.md
Labels: 其他, 正在校对

#8306 为什么 Java 在 25 年之后依旧如此年轻：一个架构师的看法
  article/2021/why-java-is-so-young-after-25-years-an-architects.md
Labels: 其他, 后端, 校对认领, 正在校对

#8245 不要在可调试的 Android App 上运行基准测试（就像我对协程做的）
  article/2021/dont-run-benchmarks-on-a-debuggable-android-app-like-i-did.md
Labels: Kotlin, 正在校对

#8333 Python 的 JSON 库：按速度，成熟度和操作安全性进行比较
  article/2021/json-encoding-decoding-with-python.md
Labels: 后端, 校对认领, 正在校对

#7497 在 iOS 14 中处理位置权限和管理近似地址访问
  article/2020/handling-location-permissions-in-ios-14.md
Labels: iOS, 标注

#8349 Rust 1.51.0 发布
  article/2021/Rust-1.51.0.md
Labels: 其他, 校对认领, 正在校对, 资讯

#8181 使用 Node.js 实现蒙特卡洛树搜索
  article/2020/implementing-monte-carlo-tree-search-in-node-js.md
Labels: AI, 正在校对

#8297 无服务器化：2021 年该项技术何去何从？
  article/2021/serverless-where-is-the-industry-going-in-2021.md
Labels: 后端, 正在校对

#8335 网络年鉴大研究表明热门的前端框架依然是互联网的一小部分
  article/2021/web-almanac-2020.md
Labels: 前端, 正在校对, 资讯

#8317 React vs. Vue 谁是 2021 年最佳 JavaScript 框架
  article/2021/react-vs-vue-in-2021-best-javascript-framework.md
Labels: 前端, 正在校对

#8311 Git 2.31 中的闪光点
  article/2021/2021-03-15-highlights-from-git-2-31.md
Labels: 其他, 正在校对, 资讯

#8035 为什么 Service Mesh 应该淡出人们的视野
  article/2021/why-the-service-mesh-should-fade-out-of-sight.md
Labels: 后端, 正在校对

#8288 “高级”黑客使用 11 个零日漏洞去感染 Windows、iOS 还有 Android 用户
  article/2021/expert-hackers-used-11-zerodays-to-infect-windows-ios-and-android-users.md
Labels: 其他, 正在校对
