Repository xitu/gold-miner, pull requests merged in 2021-02, with the labels that each got.

#7939 SwiftUI 2 应用生命周期的终极指导
  article/2021/ultimate-guide-to-swiftui2-application-lifecycle.md
Labels: iOS, 正在校对

#7949 掌握这 5 个 TypeScript 高级技巧，成为更好的开发者
  article/2021/5-advanced-typescript-tips-to-make-you-a-better-programmer.md
Labels: 前端, 正在校对

#7463 微服务是你的最佳解决方案么？
  article/2020/microservices-the-right-solution-for-you.md
Labels: 后端, 翻译完成

#7318 构建设计系统和组件库
  article/2020/building-a-design-system-and-a-component-library.md
Labels: 标注, 设计

#7945 我拒绝了 MIT 的 Offer，依然是一个高价值的开发者
  article/2021/i-got-into-mit-refused-the-offer-and-still-became-a-highly-valued-developer.md
Labels: 其他, 正在校对

#7919 如何让 JavaScript 中的循环慢下来
  article/2021/how-to-slow-down-a-for-loop-in-javascript.md
Labels: 前端, 正在校对

#7895 2021 年 JavaScript 测试框架回顾
  article/2021/a-review-of-javascript-testing-frameworks-in-2021.md
Labels: 前端, 正在校对

#7946 揭开图着色算法的神秘面纱
  article/2021/demystify-graph-coloring-algorithms.md
Labels: 正在校对, 算法

#7796 如何利用隐语义模型在图数据库上构建推荐系统
  article/2020/how-to-build-a-recommendation-system-in-a-graph-database-using-a-latent-factor-model.md
Labels: AI, 标注

#7850 幻数并没有我们想象中的那么奇幻
  TODO1/magic-numbers-are-not-that-magic.md
Labels: Android, 后端, 标注

#7849 Android 中的意料之外的应用崩溃以及解决它们的方法
  article/2020/unexpected-app-crashes-on-android-and-how-to-deal-with-them.md
Labels: Android, 正在校对

#7546 Python 开发垃圾邮件检测应用
  article/2020/example-of-a-machine-learning-algorithm-to-predict-spam-emails-in-python.md
Labels: AI, enhancement

#7400 Python 定义函数的5种参数
  article/2020/5-types-of-arguments-in-python-function-definition.md
Labels: enhancement, 后端

#7753 上手 Python 数据类前需要知道的 6 件事
  article/2020/6-things-to-know-to-get-started-with-python-data-classes.md
Labels: enhancement, 后端

#7992 你应该编译你的 JavaScript 代码吗？
  article/2021/should-you-compile-your-javascript-code.md
Labels: 前端, 正在校对

#7989 简述 HTTP 请求与跨域资源共享 CORS
  article/2021/quick-overview-of-http-requests-cross-origin-resource-sharing-cors.md
Labels: 前端, 后端, 正在校对

#8015 恭喜 Safari 荣获「第二个 Internet Explorer」的美誉
  article/2021/safari-has-become-the-second-internet-explorer.md
Labels: 其他, 前端, 校对认领, 正在校对

#7699 函数式编程 —— 使用 Python、JavaScript 和 Java 描述
  article/2020/functional-programming-explained-in-python-javascript-and-java.md
Labels: 前端, 后端, 正在校对

#7982 如何在浏览器上使用 NoSQL 数据库 IndexedDB
  article/2021/how-to-use-indexeddb-a-nosql-db-on-the-browser.md
Labels: 前端, 正在校对

#7988 如何基于已有的 REST API 实现 GraphQL API
  article/2021/how-to-implement-a-graphql-api-on-top-of-an-existing-rest-api.md
Labels: 后端, 正在校对

#8023 使用 CSS Painting API 自动生成图像
  article/2021/programmatically-generate-images-with-css-painting-api.md
Labels: 前端, 校对认领, 正在校对

#8048 JavaScript 中哪一种循环更快呢？
  article/2021/Which type of loop is fastest in JavaScript?.md
Labels: 前端, 正在校对

#8024 3 个最棒的最值得你去在产品中使用的 CSS Grid 功能
  article/2021/top-3-css-grid-features-to-start-using-in-production.md
Labels: 前端, 正在校对

#8014 基于 50 万个浏览器指纹的新发现
  article/2021/we-collected-500-000-browser-fingerprints-here-is-what-we-found.md
Labels: 其他, 前端, 正在校对

#7983 我后悔没有在成为 React 开发者之时做的 6 件事
  article/2021/6-regrets-i-have-as-a-react-developer.md
Labels: 前端, 正在校对

#8043 Bash 中的 if else 语句
  article/2021/Bash if..else Statement.md
Labels: 后端, 正在校对

#8007 CSS3 会替代 SCSS 吗？
  article/2021/will-scss-be-replaced-by-css3.md
Labels: 前端, 正在校对

#8021 使用 Android 11 进行机器学习：新功能
  article/2021/machine-learning-with-android-11-whats-new.md
Labels: AI, Android, 正在校对

#7943 构建和 `Messenger` 一样的 ImageView
  article/2021/messengers-like-imageview.md
Labels: Android, 正在校对

#8100 Deno 将停用 TypeScript 的五个原因
  article/2021/5-reasons-why-Deno-will-stop-using-TypeScript- StartFunction.md
Labels: 前端, 校对认领, 正在校对

#8103 使用 Kafka、MongoDB 和 Maxwell's Daemon 构建 SQL 数据库审计系统
  article/2021/Building-an-SQL-Database-Audit-System-Using-Kafka,-MongoDB-and-Maxwell's-Daemon.md
Labels: 后端, 校对认领

#7897 你有设计作品的作品集吗？挺好的，但这还不够
  article/2021/dont-show-me-your-design-portfolio.md
Labels: 其他, 正在校对, 设计
