Repository xitu/gold-miner, pull requests merged in 2021-07, with the labels that each got.

#8834 外行人说量子计算机
  article/2021/a-laymans-intro-to-quantum-computers.md
Labels: 其他, 正在校对

#8846 React 18 中新的 Suspense SSR 架构
  article/2021/new-suspense-ssr-architecture-in-react-18.md
Labels: 前端, 正在校对

#8829 下一代 CSS：@container
  article/2021/next-gen-css-container.md
Labels: 前端, 正在校对

#8830 纯 CSS 创建五彩斑斓的智慧阴影！让前景图片自动转化为对应彩色的背景阴影
  article/2021/creating_colorful_smart_shadows.md
Labels: 前端, 正在校对

#8893 TC39 和知识产权
  article/ECMA-TC39/TC39-and-IP.md
Labels: ECMA-TC39, 正在校对

#8869 面向具有 React 开发经验的开发者介绍 Svelte
  article/2021/svelte-for-the-experienced-react-dev.md
Labels: 前端, 正在校对

#8887 让 JavaScript 在 WebAssembly 上疾速运行
  article/2021/making-javascript-run-fast-on-webassembly.md
Labels: 前端, 正在校对

#8870 V8 引入了新的非优化编译器以提高性能
  article/2021/v8-sparkplug-compiler.md
Labels: enhancement, 前端, 资讯

#8886 什么是服务端请求伪造（SSRF）？
  article/2021/server-side-request-forgery-vulnerability.md
Labels: 后端, 正在校对

#8853 Swift 中的内存布局
  article/2021/memory-layout-in-swift.md
Labels: iOS, 正在校对

#8885 使用 Husky 和 Hooks 保证 JavaScript 代码质量
  article/2021/ensure-javascript-code-quality-with-husky-and-hooks.md
Labels: 前端, 正在校对

#8906 我喜欢的微服务间通信模式
  article/2021/my-favorite-interservice-communication-patterns-for-microservices.md
Labels: 后端, 正在校对

#8804 探索 ANDROID 12：启动画面
  article/2021/exploring-android-12-splash-screen.md
Labels: Android, enhancement

#8923 用于 JavaScript 应用的前 5 大嵌入式数据库
  article/2021/top-5-embedded-databases-for-javascript-applications.md
Labels: 前端, 正在校对

#8922 HEX vs RGB vs HSL：设置 CSS 颜色属性的最佳方法是什么
  article/2021/hex-vs-rgb-vs-hsl-what-is-the-best-method-to-set-css-color-property.md
Labels: 前端, 正在校对

#8929 HTTP 严格传输安全协议常见问题解答
  article/2021/http-strict-transport-security-faqs.md
Labels: 前端, 正在校对

#8930 Rust 与 C 的速度
  article/2021/speed-of-rust-vs-c.md
Labels: 后端, 正在校对

#8933 对角线分割的圆锥渐变式可变纵横比卡片
  article/2021/variable-aspect-ratio-card-with-conic-gradients-meeting-along-the-diagonal.md
Labels: 前端, 正在校对

#8950 FFmpeg + WebAssembly
  article/2021/ffmpeg-webassembly.md
Labels: 其他, 前端, 正在校对

#8956 简述 JavaScript 三个不应使用的功能
  article/2021/the-dark-side-of-javascript-a-look-at-3-features-you-never-want-to-use.md
Labels: 前端, 正在校对

#8753 JetPack Compose for Desktop 初体验
  article/2021/an-introduction-to-jetpack-compose-for-desktop.md
Labels: Kotlin, 正在校对

#8959 V8 v9.2 发布
  article/2021/v8-release-92.md
Labels: 前端, 校对认领, 资讯

#8931 缓存踩踏事件是如何导致 Facebook 最大的宕机事件之一发生的
  article/2021/how-a-cache-stampede-caused-one-of-facebooks-biggest-outages.md
Labels: 后端, 正在校对

#8960 CSS 是魔法, 是时候试试 3D 了
  article/2021/css-is-magic-its-time-you-try-3d.md
Labels: enhancement, 前端
