Repository xitu/gold-miner, pull requests merged in 2021-09, with the labels that each got.

#9048 分布式追踪事项
  article/2021/distributed-tracing-matters.md
Labels: 正在校对, 后端, 其他

#9066 5 个 JavaScript 的字符操作库
  article/2021/5-string-manipulation-libraries-for-javascript.md
Labels: 正在校对, 前端

#9069 别让轮播毁了你的应用程序
  article/2021/dont-let-carousels-kill-your-application.md
Labels: 正在校对, 前端, 设计

#9070 如何使用 ES6 新增 Symbols 代替 null
  article/2021/replace-null-with-es6-symbols.md
Labels: 正在校对, 前端

#9078 每个 Web 开发人员都应该知道的 4 个 iframe 安全问题
  article/2021/4-security-concerns-with-iframes-every-web-developer-should-know.md
Labels: 正在校对, 前端

#9067 可以在 GitHub.dev 做的十件有趣的事
  article/2021/10-awesome-things-you-can-do-with-github-dev.md
Labels: 正在校对, 其他, 资讯

#9083 在 JavaScript 中使用正则表达式的隐患
  article/2021/threats-of-using-regular-expressions-in-javascript.md
Labels: 正在校对, 前端

#9086 简述 JavaScript 的事件捕获和事件冒泡
  article/2021/event-bubbling-and-capturing-in-javascript.md
Labels: 正在校对, 前端

#9087 Web 的未来
  article/2021/the-future-of-the-web.md
Labels: 正在校对, 其他

#9093 JavaScript 最被误解的变量类型 Symbol
  article/2021/javascript-symbols-the-most-misunderstood-feature-of-the-language.md
Labels: 正在校对, 前端

#9095 使用 TypeScript 时你会想念的 Python 特性
  article/2021/python-features-that-you-will-miss-in-typescript.md
Labels: 正在校对, 前端, 后端

#9085 React Native 开发者的流行存储方案
  article/2021/trending-storage-options-for-react-native-developers.md
Labels: iOS, Android, enhancement, 标注
