Repository xitu/gold-miner, pull requests merged in 2021-08, with the labels that each got.

#8973 2021 年，jQuery 过得还好吗？
  article/2021/so-whats-the-state-of-jquery-in-2021.md
Labels: 前端, 正在校对

#8978 可视化 JavaScript 引擎
  article/2021/javascript-visualized-the-javascript-engine.md
Labels: enhancement, 前端

#8974 Flutter 比 React Native 更优秀的五个理由
  article/2021/5-reasons-why-flutter-is-better-than-react-native.md
Labels: 正在校对, 校对认领, Flutter

#8957 JavaScript 实现图数据结构
  article/2021/graph-data-structure-implementation-in-javascript.md
Labels: 正在校对, 前端, 算法

#8932 移动应用安全的新标准
  article/2021/a-new-standard-for-mobile-app-security.md
Labels: 正在校对, 资讯

#8947 使用 CDN 构建直读式缓存
  article/2021/building-a-read-through-cache-using-cdn.md
Labels: 正在校对, 后端

#8924 我们是怎么做到的：Google I/O Photo Booth
  article/2021/how-its-made-i-o-photo-booth.md
Labels: 正在校对, Flutter

#8724 Jetpack Compose：样式和主题（第二部分）
  article/2021/jetpack-compose-styles-and-themes.md
Labels: 正在校对, 校对认领, Android, Kotlin

#8979 通过 Redis 构建一个响应式架构
  article/2021/building-a-reactive-architecture-around-redis.md
Labels: 正在校对, 后端

#9001 在 React 中使用 BLoC 模式
  article/2021/using-bloc-pattern-with-react.md
Labels: 正在校对, 前端

#9003 使用 PeerJS 轻松实现 P2P 通信
  article/2021/simplified-peer-to-peer-communication-with-peerjs.md
Labels: 正在校对, 前端

#9000 不经测试的 Python 代码就已离崩溃不远了
  article/2021/untested-python-code-is-already-broken.md
Labels: 正在校对, 后端

#9019 11 个让你惊叹的 罕见 JavaScript 单行代码
  article/2021/11-rare-javascript-one-liners-that-will-amaze-you.md
Labels: 正在校对, 校对认领, 前端

#9025 CSS 选择器嵌套已经来了🤯🤯🤯 ！
  article/2021/selector-nesting-has-come-to-css.md
Labels: 校对认领, 前端

#9024 常见的社会工程攻击策略
  article/2021/common-social-engineering-attack-strategies.md
Labels: 正在校对, 其他

#9020 在 Python 中用最快的速度发送 HTTP 请求
  article/2021/send-http-requests-as-fast-as-possible-in-python.md
Labels: 正在校对, 后端

#9026 我用 Python 创造了一门自己的编程语言
  article/2021/introduction-to-creating-interpreter-using-python.md
Labels: 校对认领, 后端, 算法, Tag

#9035 使用人工智能/机器学习构建文章推荐引擎
  article/2021/build-an-article-recommendation-engine-with-ai-ml.md
Labels: 正在校对, 后端, AI, 标注

#8818 用 Sass 的 !default 创建样式表的特征标识
  article/2021/creating-stylesheet-feature-flags-with-sass-default.md
Labels: 前端, enhancement

#9002 逆向 `.car` 文件（已编译的 Asset Catalogs）
  article/2021/reverse-engineering-the-car-file-format.md
Labels: iOS, enhancement
