Repository xitu/gold-miner, pull requests merged in 2021-01, with the labels that each got.

#7764 Elasticsearch 新手指南
  article/2020/the-beginners-guide-to-elasticsearch.md
Labels: enhancement, 后端

#7792 为什么要让你的代码尽可能简单
  article/2020/why-you-should-make-your-code-as-simple-as-possible.md
Labels: enhancement, 其他, 前端

#7793 爱 GraphQL 胜过 REST
  article/2020/loving-graphql-more-than-rest.md
Labels: Tag, 前端, 后端, 正在校对

#7814 减少 Web 应用程序中 CORS 预检时间的 4 种方法
  article/2021/4-ways-to-reduce-cors-preflight-time-in-web-apps.md
Labels: 前端, 正在校对

#7813 如何使用 Node.js 执行多线程
  article/2021/how-to-do-multithreading-with-node-js.md
Labels: Tag, 后端, 正在校对

#7807 GitHub Package Registry 值得尝试吗
  article/2020/github-package-registry-is-it-worth-trying-out.md
Labels: 其他, 校对认领

#7823 不同类型的浏览器存储
  article/2021/the-different-types-of-browser-storage.md
Labels: Tag, 前端, 正在校对

#7784 Flutter 可能是下一个大事件，但 Kotlin Multiplatform 一直都是大事件
  article/2020/flutter-may-or-may-not-be-the-next-big-thing-but-kotlin-multiplatform-is-here-to-stay.md
Labels: Android, Flutter, iOS, 正在校对

#7730 DeepSpeed：所有人都能用的超大规模模型训练工具
  article/2020/deepspeed-extreme-scale-model-training-for-everyone.md
Labels: AI, 正在校对

#7846 Node.js 缓冲区的完整指南
  article/2021/a-complete-guide-of-node-js-buffer.md
Labels: 后端, 正在校对

#7871 解构标志性的 Apple Watch Bubble UI
  article/2021/deconstructing-the-iconic-apple-watch-bubble-ui.md
Labels: 前端, 校对认领, 正在校对, 设计

#7841 Flutter 中的交织动画
  article/2021/staggered-animation-in-flutter.md
Labels: Flutter, 正在校对

#7842 Flutter 中内置的显式动画
  article/2021/built-in-explicit-animations-in-flutter.md
Labels: Flutter, 校对认领, 正在校对

#7845 如何成为谷歌开发专家（GDE）—实用指南
  article/2020/how-to-become-a-google-developer-expert-gde-a-practical-guide.md
Labels: 其他, 正在校对

#7870 Node.js 安全编程的最佳实践
  article/2020/security-best-practices-for-nodejs.md
Labels: 后端, 正在校对

#7795 理解 LSM 树：一种适用于频繁写入的数据库的结构
  article/2020/lsm.md
Labels: 后端, 正在校对

#7790 iOS 中的 widget
  article/2020/widgets-on-ios.md
Labels: iOS, 正在校对

#7890 深入了解 JavaScript 模块
  article/2021/a-deep-dive-into-javascript-modules.md
Labels: 前端, 校对认领, 正在校对

#7863 我们应该在什么时候使用 @State、@Binding、@ObservedObject、@EnvironmentObject 和 @Environment？
  article/2020/swiftui-cheat-sheet.md
Labels: enhancement, iOS

#7894 Javascript Memoization 入门指南
  article/2021/a-beginners-guide-to-memoization-with-javascript.md
Labels: 前端, 正在校对

#7893 为什么 React Hooks 是错误的抽象
  article/2021/why-react-hooks-are-the-wrong-abstraction.md
Labels: enhancement, 前端

#7848 Python 中的列表和元组
  article/2021/python-lists-and-tuples.md
Labels: 后端, 正在校对

#7860 UIKit 和 SwiftUI：我该选择哪一个运用在实际产品开发中？
  article/2020/uikit-or-swiftui-which-should-you-use-in-production.md
Labels: enhancement, iOS

#7896 你应该知道的 3 个罕见的 Bash 技巧
  article/2021/3-uncommon-bash-tricks-that-you-should-know.md
Labels: 其他, 正在校对

#7852 10 个你应该现在启用的绝佳的 Chrome Flags
  article/2020/10-awesome-chrome-flags-you-should-enable-right-now.md
Labels: 其他, 正在校对

#7899 2021 年 Web 应用开发常用的五个图标库
  article/2021/top-5-icon-packs-for-web-apps-in-2021.md
Labels: 前端, 校对认领, 正在校对

#7927 在 TypeScript 中引入 JSON 模块
  article/2021/importing-json-modules-in-typescript.md
Labels: 前端, 正在校对

#7920 使用 Flutter 的 Container 控件构建优美的用户界面
  article/2021/flutter-creating-elegant-uis-with-containers.md
Labels: Flutter, 校对认领, 正在校对

#7798 为什么我的数据会漂移？
  article/2020/why-is-my-data-drifting.md
Labels: AI, 校对认领, 正在校对

#7948 为什么你应该使用 Picture 标签而不是 Img 标签
  article/2021/why-you-should-use-picture-tag-instead-of-img-tag.md
Labels: 前端, 正在校对

#7386 自己写一个 redux
  article/2020/how-to-build-redux.md
Labels: 前端, 标注, 系列任务
