Repository xitu/gold-miner, pull requests merged in 2021-05, with the labels that each got.

#8521 将 JavaScript 放到一边 —— 用 Mint 这门强大的语言来创建一个 Web 应用
  article/2021/leave-javascript-aside-mint-is-a-great-language-for-building-web-apps.md
Labels: 前端, 正在校对

#8454 Page Shield：保护浏览器中的用户数据
  article/2021/introducing-page-shield.md
Labels: 其他, 标注, 正在校对, 资讯

#8489 Numpy 运行于 GPU/TPU 时的性能
  article/2021/numpy-on-gpu-tpu.md
Labels: 正在校对, 算法

#8513 Chromium 隐私沙盒让用户隐私更安全
  article/2021/better-privacy-with-chromiums-privacy-sandbox.md
Labels: Tag, 前端, 正在校对

#8527 SQL 注入攻击是什么，如何阻止它
  article/2021/sql-injection.md
Labels: 后端, 正在校对

#8525 [修复]谷歌抨击微软“试图破坏开放 web 的运作方式”：不恰当的翻译与错误的排版
  article/2021/google-microsoft-attack-open-web-online-news-australia-laws.md
Labels: enhancement, 正在校对

#8483 Postgres 和 MySQL 之间的性能差异
  article/2021/performance-differences-between-postgres-and-mysql.md
Labels: Tag, 后端, 正在校对

#8533 以下就是你需要知道的有关苹果 App Tracking Transparency（应用追踪透明）的信息
  article/2021/heres-exactly-what-you-need-to-know-about-apple-s-app-tracking-transparency.md
Labels: iOS, 正在校对

#8552 为 Web 开发同学准备的 11 个简单实用的 UI 设计小技巧
  article/2021/11-easy-ui-design-tips-for-web-devs-j3j.md
Labels: 正在校对, 设计

#8523 走向 kotlin 1.5
  article/2021/the-road-to-kotlin-1-5.md
Labels: Kotlin, 正在校对

#8553 目录遍历攻击
  article/2021/directory-traversal.md
Labels: 后端, 校对认领, 正在校对

#8574 Web 开发者应该避免的 5 个 CSS 的做法
  article/2021/5-css-practices-to-avoid-as-a-web-developer.md
Labels: 前端, 正在校对

#8579 快停止在 CSS 中使用像素单位
  article/2021/stop-using-the-pixel-unit-in-css.md
Labels: 前端, 校对认领, 正在校对

#8557 “绿色”和“棕色”的编程语言
  article/2021/brown-green-language.md
Labels: 其他, 正在校对

#8573 有关 ECMAScript 最新版本的所有信息｜ECMAScript 2021
  article/2021/everything-about-the-latest-ecmascript-release-ecmascript-2021.md
Labels: 前端, 正在校对

#8575 现代化的 React 路由 Hookrouter 开发使用
  article/2021/hookrouter-a-modern-approach-to-react-routing.md
Labels: 前端, 正在校对

#8576 JavaScript 类型化数组
  article/2021/javascript-typed-arrays.md
Labels: 前端, 正在校对

#8594 在 TC39 提起一项提案
  article/ECMA-TC39/Championing-a-proposal-at-TC39.md
Labels: ECMA-TC39, 前端, 正在校对

#8572 Node.js 与 Python ：为你的项目选择哪一个？
  article/2021/node-js-vs-python-which-one-to-choose-for-your-project.md
Labels: 后端, 正在校对

#8624 深入理解 CORS：发展史、工作原理和最佳实践
  article/2021/deep-dive-cors-history-how-it-works-best-practices.md
Labels: 前端, 正在校对

#8627 阅读一份提案草案
  article/ECMA-TC39/Reading-a-proposal-draft.md
Labels: ECMA-TC39, 前端, 正在校对

#8432 都 2021 年了，你还不知道这些检查 CSS 的工具？
  article/2021/tools-for-auditing-css.md
Labels: 前端

#8593 Github Actions 是如何渲染超大日志的
  article/2021/how-github-actions-renders-large-scale-logs.md
Labels: 产品, 前端, 正在校对

#8604 使用 GPU.js 让你的 Angular.js 程序提速 10 倍
  article/2021/speed-up-your-angular-projects-by-10x-with-gpu-js.md
Labels: 前端, 正在校对

#8569 Dagger，Hilt 以及 Koin 的本质区别是什么？
  article/2021/how-dagger-hilt-and-koin-differ-under-the-hood.md
Labels: Kotlin, 正在校对

#8587 16px 或更大的字体大小可以避免 iOS 的表单缩放问题
  article/2021/16px-or-larger-text-prevents-ios-form-zoom.md
Labels: 前端, 正在校对

#8652 TypeScript 中的依赖注入
  article/2021/dependency-injection-in-typescript.md
Labels: 前端, 正在校对

#8655 使用 Web Workers 来加速 JavaScript 应用
  article/2021/using-web-workers-to-speed-up-javascript-applications.md
Labels: 前端, 正在校对

#8626 如何针对 ECMAScript 规范创建一个拉取请求
  article/ECMA-TC39/How-to-make-a-Pull-Request-against-the-ECMAScript-specification.md
Labels: ECMA-TC39, 前端, 正在校对

#8664 CSRF 攻击：解析、预防和 CSRF 令牌
  article/2021/csrf-attacks.md
Labels: 前端, 正在校对

#8673 简述 TC39 提案的实现和交付
  article/ECMA-TC39/Implementing-and-shipping-TC39-proposals.md
Labels: ECMA-TC39, 前端, 校对认领, 正在校对

#8674 阶段 3 提案评审
  article/ECMA-TC39/Stage-3-Proposal-Reviews.md
Labels: ECMA-TC39, 前端, 正在校对

#8665 如何写一个好的解释文件
  article/ECMA-TC39/How-to-write-a-good-explainer.md
Labels: ECMA-TC39, 前端, 正在校对

#8672 Android 静态分析工具
  article/2021/static-analysis-tools-for-android.md
Labels: Android, 正在校对

#8677 提高 Firefox 在 Linux 上的稳定性
  article/2021/improving-firefox-stability-on-linux.md
Labels: enhancement, 其他

#8671 文章标题校正：将标题中的 Angular.js 修改为 Angular
  article/2021/speed-up-your-angular-projects-by-10x-with-gpu-js.md
Labels: enhancement
