Repository xitu/gold-miner, pull requests merged in 2022-07, with the labels that each got.

#9365 10 个最难的 Python 问题
  article/2022/10-hardest-python-questions.md
Labels: 正在校对, 后端, Tag

#9373 如何使用 Python 中的 PyPA setuptools 打包和部署 CLI 应用程序
  article/2022/how-to-package-and-deploy-cli-apps.md
Labels: 正在校对, 后端

#9358 安卓多点触控指南
  article/2022/introduction-to-android-multi-touch.md
Labels: 正在校对, 校对认领, Android

#9357 【续】如何为空间索引创建高效的数据结构？
  article/2021/how-do-you-create-an-efficient-data-structure-for-spatial-indexing.md
Labels: 正在校对, 算法
